Repository anuket-project/anuket-specifications, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, RM Core, RM Ops, RM Com, RA 1 Core, RA 1 Ops, RA 1 Dev, RA 2 Core, RA 2 Ops, RA 2 Dev, RI 1 Core, RI 1 Labs, RI 1 Dev, RC 1 NFVI, RC 1 VNF, RC 1 Dev, Ch 01, Ch 02, Ch 03, Ch 04, Ch 05, Ch 06, Ch 07, Ch 08, Ch 09, Ch 10, Ch 11, Appendix - A

Clarification of the compute part of RA2 Ch3 ToC
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: RA 2 Core, Ch 03

Update chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: RA 2 Core, Ch 03

Remove HW profile section
  doc/ref_impl/cntt-ri/chapters/chapter03.md
Labels: RI 1 Core, Ch 03

Fix angle bracket escape in tables
  doc/ref_impl/cntt-ri/chapters/chapter03.md
Labels: RI 1 Core, Ch 03

Update chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: RA 2 Core, Ch 03

Update chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: RA 2 Core, Ch 03

Update chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: RA 2 Core, Ch 03

Changing Committers word to contributors
  CONTRIBUTING.md
Labels: repo

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: repo

Addressing point 2 concerns
  doc/ref_model/chapters/chapter05.md
Labels: RM Core, Ch 05

Update chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: RA 2 Core, Ch 03

[Gov Ch05] Voting and approvals
  doc/gov/chapters/chapter05.md
Labels: none

Create chapter08.md
  doc/gov/chapters/chapter08.md
Labels: none

Update README.md
  doc/gov/README.md
Labels: none

Add files via upload
  artefacts/figures/onboarding_proc.jpg
Labels: none

Corrections of comments
  doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter05.md
Labels: RM Core, Ch 04, Ch 05

[RA-1 Ch04] Content
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: RA 1 Core, Ch 04

[RA-1 Ch04] Added Figures
  doc/ref_arch/openstack/figures/Figure_4_1_Indicative_OpemStack_Network.png
  doc/ref_arch/openstack/figures/Figure_4_2_Containerised_OpenStack_Services.png
Labels: none

[RA-1 Ch04] Missed content
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: RA 1 Core, Ch 04

Update chapter08.md
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: RA 1 Dev, Ch 08

Update chapter08.md
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: RA 1 Dev, Ch 08

Update chapter08.md
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: RA 1 Dev, Ch 08

Correction of comments
  doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter05.md
Labels: RM Core, Ch 04, Ch 05

Corrected a typo and fixed flavor specs
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: RA 1 Core, Ch 03

[RA-1 Ch02] Resolve Issues
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: RA 1 Core, Ch 02

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: repo

clarifying returned
  CONTRIBUTING.md
Labels: repo

fixed via
  CONTRIBUTING.md
Labels: repo

remove extra on
  CONTRIBUTING.md
Labels: repo

reword based on @pankaj request
  CONTRIBUTING.md
Labels: repo

remove duplication about active contributors
  CONTRIBUTING.md
Labels: repo

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: repo

clarify automation and fix typo
  CONTRIBUTING.md
Labels: repo

clarify input
  CONTRIBUTING.md
Labels: repo

clarify automatically
  CONTRIBUTING.md
Labels: repo

Add files via upload
  doc/ref_cert/lfn/figures/RC_certifying_methodlogy_25Nov2019.jpg
Labels: none

Add files via upload
  doc/ref_cert/lfn/figures/RC_NFVI_VNF_Instance_Type_25Nov2019.jpg
Labels: none

RC Ch1 - Introduction Content (add)
  doc/ref_cert/lfn/chapters/chapter01.md
Labels: RC 1 NFVI, Ch 01

fix typo
  CONTRIBUTING.md
Labels: repo

Update chapter08.md
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: RA 1 Dev, Ch 08

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

# Add 'RM Core' label to any change to one of the RM Chapter files within the doc dir
"RM Core":
  - doc/ref_model/chapters/chapter01.md
  - doc/ref_model/chapters/chapter02.md
  - doc/ref_model/chapters/chapter03.md
  - doc/ref_model/chapters/chapter04.md
  - doc/ref_model/chapters/chapter05.md
  - doc/ref_model/chapters/appendix-a.md
  
# Add 'RM Ops' label to any change to one of the RM Chapter files within the doc dir
"RM Ops":
  - doc/ref_model/chapters/chapter06.md
  - doc/ref_model/chapters/chapter07.md
  - doc/ref_model/chapters/chapter09.md

# Add 'RM Com' label to any change to one of the RM Chapter files within the doc dir
"RM Com":
  - doc/ref_model/chapters/chapter08.md
 
# Add 'RA 1 Core' label to any change to one of the RA 1 Chapter files within the doc dir
"RA 1 Core":
  - doc/ref_arch/openstack/chapters/chapter01.md
  - doc/ref_arch/openstack/chapters/chapter02.md
  - doc/ref_arch/openstack/chapters/chapter03.md
  - doc/ref_arch/openstack/chapters/chapter04.md

# Add 'RA 1 Ops' label to any change to one of the RA 1 Chapter files within the doc dir
"RA 1 Ops":
  - doc/ref_arch/openstack/chapters/chapter05.md
  - doc/ref_arch/openstack/chapters/chapter06.md
  - doc/ref_arch/openstack/chapters/chapter07.md
  
# Add 'RA 1 Dev' label to any change to one of the RA 1 Chapter files within the doc dir
"RA 1 Dev":
  - doc/ref_arch/openstack/chapters/chapter08.md
  
# Add 'RA 2 Core' label to any change to one of the RA 2 Chapter files within the doc dir
"RA 2 Core":
  - doc/ref_arch/kubernetes/chapters/chapter01.md
  - doc/ref_arch/kubernetes/chapters/chapter02.md
  - doc/ref_arch/kubernetes/chapters/chapter03.md
  - doc/ref_arch/kubernetes/chapters/chapter04.md
  
# Add 'RA 2 Ops' label to any change to one of the RA 2 Chapter files within the doc dir
"RA 2 Ops":
  - doc/ref_arch/kubernetes/chapters/chapter05.md
  - doc/ref_arch/kubernetes/chapters/chapter06.md
  - doc/ref_arch/kubernetes/chapters/chapter07.md
 
# Add 'RA 2 Dev' label to any change to one of the RA 2 Chapter files within the doc dir
"RA 2 Dev":
  - doc/ref_arch/kubernetes/chapters/chapter08.md
  - doc/ref_arch/kubernetes/chapters/appendix-a.md

# Add 'RI 1 Core' label to any change to one of the RI 1 Chapter files within the doc dir
"RI 1 Core":
  - doc/ref_impl/cntt-ri/chapters/chapter01.md
  - doc/ref_impl/cntt-ri/chapters/chapter02.md
  - doc/ref_impl/cntt-ri/chapters/chapter03.md
  - doc/ref_impl/cntt-ri/chapters/chapter04.md
 
# Add 'RI 1 Labs' label to any change to one of the RI 1 Chapter files within the doc dir
"RI 1 Labs":
  - doc/ref_impl/cntt-ri/chapters/chapter04.md
  - doc/ref_impl/cntt-ri/chapters/chapter06.md
  
# Add 'RI 1 Dev' label to any change to one of the RI 1 Chapter files within the doc dir
"RI 1 Dev":
  - doc/ref_impl/cntt-ri/chapters/chapter07.md
  - doc/ref_impl/cntt-ri/chapters/chapter08.md
  
# Add 'RC 1 NFVI' label to any change to one of the RC 1 Chapter files within the doc dir
"RC 1 NFVI":
  - doc/ref_cert/lfn/chapters/chapter01.md
  - doc/ref_cert/lfn/chapters/chapter02.md
  - doc/ref_cert/lfn/chapters/chapter03.md
  - doc/ref_cert/lfn/chapters/chapter04.md
  
# Add 'RC 1 VNF' label to any change to one of the RC 1 Chapter files within the doc dir
"RC 1 VNF":
  - doc/ref_cert/lfn/chapters/chapter05.md
  - doc/ref_cert/lfn/chapters/chapter06.md
  - doc/ref_cert/lfn/chapters/chapter07.md

# Add 'RC 1 Dev' label to any change to one of the RC 1 Chapter files within the doc dir
"RC 1 Dev":
  - doc/ref_cert/lfn/chapters/chapter08.md
  - doc/ref_cert/lfn/chapters/chapter09.md
  - doc/ref_cert/lfn/chapters/chapter10.md
  - doc/ref_cert/lfn/chapters/chapter11.md
  
# Add 'Ch01' label to any change to corresponding chapter file within the doc dir
"Ch 01":
  - doc/ref_model/chapters/chapter01.md
  - doc/ref_arch/openstack/chapters/chapter01.md
  - doc/ref_arch/kubernetes/chapters/chapter01.md
  - doc/ref_impl/cntt-ri/chapters/chapter01.md
  - doc/ref_cert/lfn/chapters/chapter01.md
  
# Add 'Ch02' label to any change to corresponding chapter file within the doc dir
"Ch 02":
  - doc/ref_model/chapters/chapter02.md
  - doc/ref_arch/openstack/chapters/chapter02.md
  - doc/ref_arch/kubernetes/chapters/chapter02.md
  - doc/ref_impl/cntt-ri/chapters/chapter02.md
  - doc/ref_cert/lfn/chapters/chapter02.md
  
# Add 'Ch03' label to any change to corresponding chapter file within the doc dir
"Ch 03":
  - doc/ref_model/chapters/chapter03.md
  - doc/ref_arch/openstack/chapters/chapter03.md
  - doc/ref_arch/kubernetes/chapters/chapter03.md
  - doc/ref_impl/cntt-ri/chapters/chapter03.md
  - doc/ref_cert/lfn/chapters/chapter03.md
  
# Add 'Ch04' label to any change to corresponding chapter file within the doc dir
"Ch 04":
  - doc/ref_model/chapters/chapter04.md
  - doc/ref_arch/openstack/chapters/chapter04.md
  - doc/ref_arch/kubernetes/chapters/chapter04.md
  - doc/ref_impl/cntt-ri/chapters/chapter04.md
  - doc/ref_cert/lfn/chapters/chapter04.md
  
# Add 'Ch05' label to any change to corresponding chapter file within the doc dir
"Ch 05":
  - doc/ref_model/chapters/chapter05.md
  - doc/ref_arch/openstack/chapters/chapter05.md
  - doc/ref_arch/kubernetes/chapters/chapter05.md
  - doc/ref_impl/cntt-ri/chapters/chapter05.md
  - doc/ref_cert/lfn/chapters/chapter05.md
  
# Add 'Ch06' label to any change to corresponding chapter file within the doc dir
"Ch 06":
  - doc/ref_model/chapters/chapter06.md
  - doc/ref_arch/openstack/chapters/chapter06.md
  - doc/ref_arch/kubernetes/chapters/chapter06.md
  - doc/ref_impl/cntt-ri/chapters/chapter06.md
  - doc/ref_cert/lfn/chapters/chapter06.md
  
# Add 'Ch07' label to any change to corresponding chapter file within the doc dir
"Ch 07":
  - doc/ref_model/chapters/chapter07.md
  - doc/ref_arch/openstack/chapters/chapter07.md
  - doc/ref_arch/kubernetes/chapters/chapter07.md
  - doc/ref_impl/cntt-ri/chapters/chapter07.md
  - doc/ref_cert/lfn/chapters/chapter07.md
  
# Add 'Ch08' label to any change to corresponding chapter file within the doc dir
"Ch 08":
  - doc/ref_model/chapters/chapter08.md
  - doc/ref_arch/openstack/chapters/chapter08.md
  - doc/ref_arch/kubernetes/chapters/chapter08.md
  - doc/ref_impl/cntt-ri/chapters/chapter08.md
  - doc/ref_cert/lfn/chapters/chapter08.md
  
# Add 'Ch09' label to any change to corresponding chapter file within the doc dir
"Ch 09":
  - doc/ref_model/chapters/chapter09.md
  - doc/ref_cert/lfn/chapters/chapter09.md
  
# Add 'Ch10' label to any change to corresponding chapter file within the doc dir
"Ch 10":
  - doc/ref_cert/lfn/chapters/chapter10.md
  
# Add 'Ch11' label to any change to corresponding chapter file within the doc dir
"Ch 11":
  - doc/ref_cert/lfn/chapters/chapter11.md

"Appendix - A":
  - doc/ref_model/chapters/appendix-a.md
  - doc/ref_arch/kubernetes/chapters/appendix-a.md
