Repository anuket-project/anuket-specifications, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, RM Core, RM Ops, RM Com, RA 1 Core, RA 1 Ops, RA 1 Dev, RA 2 Core, RA 2 Ops, RA 2 Dev, RI 1 Core, RI 1 Labs, RI 1 Dev, RC 1 NFVI, RC 1 VNF, RC 1 Dev, Ch 01, Ch 02, Ch 03, Ch 04, Ch 05, Ch 06, Ch 07, Ch 08, Ch 09, Ch 10, Ch 11, Appendix - A

[RA2 Ch3]: Container networking initial content
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: RA 2 Core, Ch 03

[RA-1 Ch03] Added content for Section 3.3.2. Tenant Separation.
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: RA 1 Core, Ch 03

Fixed link
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: RA 1 Core, Ch 03

Fix link
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: RA 1 Core, Ch 03

Updated lab network requirements
  doc/ref_impl/cntt-ri/chapters/chapter04.md
Labels: RI 1 Core, RI 1 Labs, Ch 04

Update chapter05.md
  doc/ref_model/chapters/chapter05.md
Labels: RM Core, Ch 05

Update chapter05.md
  doc/ref_model/chapters/chapter05.md
Labels: RM Core, Ch 05

RC1 - Add RC Cert and Instance Type Images
  doc/ref_cert/lfn/figures/RC_NFVI_VNF_Instance_Type_25Nov2019.jpg
  doc/ref_cert/lfn/figures/RC_certifying_methodlogy_25Nov2019.jpg
Labels: none

Update chapter05.md
  doc/ref_model/chapters/chapter05.md
Labels: RM Core, Ch 05

CCSO-10 Uploading Onboarding diagram for Ch02.
  doc/gov/figures/onboarding_proc.jpg
Labels: none

[RA-1 Ch02] Resolve "remote Block Storage"
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: RA 1 Core, Ch 02

[RA-1 Ch02} Resolve 2.3 Architecture introduction
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: RA 1 Core, Ch 02

Fix Nova features tab
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: RA 1 Ops, Ch 05

Refined Bare Metal Server to more generic Physical Server
  doc/ref_impl/cntt-ri/chapters/chapter04.md
Labels: RI 1 Core, RI 1 Labs, Ch 04

Enhanced Platform Awareness" (EPA) definition
  doc/ref_model/chapters/glossary.md
Labels: none

RC1 Ch01 - remove 1.8 as dup
  doc/ref_cert/lfn/chapters/chapter01.md
Labels: RC 1 NFVI, Ch 01

Update chapter08.md
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: RA 1 Dev, Ch 08

RC1 Ch02 - Initial ToC and Draft
  doc/ref_cert/lfn/chapters/chapter02.md
Labels: RC 1 NFVI, Ch 02

Update chapter08.md
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: RA 1 Dev, Ch 08

RC1 Ch03 - Updated ToC and Draft
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: RC 1 NFVI, Ch 03

Update chapter08.md
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: RA 1 Dev, Ch 08

RC1 Ch04 - Revised Draft
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: RC 1 NFVI, Ch 04

RC1 Ch05 - Initial ToC and Draft
  doc/ref_cert/lfn/chapters/chapter05.md
Labels: RC 1 VNF, Ch 05

RC1 Ch06 - Initial ToC and Draft
  doc/ref_cert/lfn/chapters/chapter06.md
Labels: RC 1 VNF, Ch 06

RC1 Ch07 - Initial ToC and Draft
  doc/ref_cert/lfn/chapters/chapter07.md
Labels: RC 1 VNF, Ch 07

RC1 Ch08 - Updated ToC and Draft
  doc/ref_cert/lfn/chapters/chapter08.md
Labels: RC 1 Dev, Ch 08

RC1 Ch09 - Initial ToC and Draft
  doc/ref_cert/lfn/chapters/chapter09.md
Labels: RC 1 Dev, Ch 09

RC1 Ch10 - Initial ToC and Draft
  doc/ref_cert/lfn/chapters/chapter10.md
Labels: RC 1 Dev, Ch 10

RC1 Ch11 - Initial ToC and Draft
  doc/ref_cert/lfn/chapters/chapter11.md
Labels: RC 1 Dev, Ch 11

[RA-1 Ch03] Added content for Section 3.3.2. Tenant Separation * Improvements in description
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: RA 1 Core, Ch 03

[RI1 Ch05] update to add proxy and remove az ha from controller
  doc/ref_impl/cntt-ri/chapters/chapter05.md
Labels: Ch 05

Replace Remaining Bare-Metal Server Instances w/ Physical Server
  doc/ref_impl/cntt-ri/chapters/chapter04.md
Labels: RI 1 Core, RI 1 Labs, Ch 04

Corrected Figure Numbering per Issue #382
  doc/ref_model/chapters/chapter01.md
Labels: RM Core, Ch 01

Clarified S/W Profile and Instance Type Usage
  doc/ref_model/chapters/chapter05.md
Labels: RM Core, Ch 05

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

# Add 'RM Core' label to any change to one of the RM Chapter files within the doc dir
"RM Core":
  - doc/ref_model/chapters/chapter01.md
  - doc/ref_model/chapters/chapter02.md
  - doc/ref_model/chapters/chapter03.md
  - doc/ref_model/chapters/chapter04.md
  - doc/ref_model/chapters/chapter05.md
  - doc/ref_model/chapters/appendix-a.md
  
# Add 'RM Ops' label to any change to one of the RM Chapter files within the doc dir
"RM Ops":
  - doc/ref_model/chapters/chapter06.md
  - doc/ref_model/chapters/chapter07.md
  - doc/ref_model/chapters/chapter09.md

# Add 'RM Com' label to any change to one of the RM Chapter files within the doc dir
"RM Com":
  - doc/ref_model/chapters/chapter08.md
 
# Add 'RA 1 Core' label to any change to one of the RA 1 Chapter files within the doc dir
"RA 1 Core":
  - doc/ref_arch/openstack/chapters/chapter01.md
  - doc/ref_arch/openstack/chapters/chapter02.md
  - doc/ref_arch/openstack/chapters/chapter03.md
  - doc/ref_arch/openstack/chapters/chapter04.md

# Add 'RA 1 Ops' label to any change to one of the RA 1 Chapter files within the doc dir
"RA 1 Ops":
  - doc/ref_arch/openstack/chapters/chapter05.md
  - doc/ref_arch/openstack/chapters/chapter06.md
  - doc/ref_arch/openstack/chapters/chapter07.md
  
# Add 'RA 1 Dev' label to any change to one of the RA 1 Chapter files within the doc dir
"RA 1 Dev":
  - doc/ref_arch/openstack/chapters/chapter08.md
  
# Add 'RA 2 Core' label to any change to one of the RA 2 Chapter files within the doc dir
"RA 2 Core":
  - doc/ref_arch/kubernetes/chapters/chapter01.md
  - doc/ref_arch/kubernetes/chapters/chapter02.md
  - doc/ref_arch/kubernetes/chapters/chapter03.md
  - doc/ref_arch/kubernetes/chapters/chapter04.md
  
# Add 'RA 2 Ops' label to any change to one of the RA 2 Chapter files within the doc dir
"RA 2 Ops":
  - doc/ref_arch/kubernetes/chapters/chapter05.md
  - doc/ref_arch/kubernetes/chapters/chapter06.md
  - doc/ref_arch/kubernetes/chapters/chapter07.md
 
# Add 'RA 2 Dev' label to any change to one of the RA 2 Chapter files within the doc dir
"RA 2 Dev":
  - doc/ref_arch/kubernetes/chapters/chapter08.md
  - doc/ref_arch/kubernetes/chapters/appendix-a.md

# Add 'RI 1 Core' label to any change to one of the RI 1 Chapter files within the doc dir
"RI 1 Core":
  - doc/ref_impl/cntt-ri/chapters/chapter01.md
  - doc/ref_impl/cntt-ri/chapters/chapter02.md
  - doc/ref_impl/cntt-ri/chapters/chapter03.md
  - doc/ref_impl/cntt-ri/chapters/chapter04.md
 
# Add 'RI 1 Labs' label to any change to one of the RI 1 Chapter files within the doc dir
"RI 1 Labs":
  - doc/ref_impl/cntt-ri/chapters/chapter04.md
  - doc/ref_impl/cntt-ri/chapters/chapter06.md
  
# Add 'RI 1 Dev' label to any change to one of the RI 1 Chapter files within the doc dir
"RI 1 Dev":
  - doc/ref_impl/cntt-ri/chapters/chapter07.md
  - doc/ref_impl/cntt-ri/chapters/chapter08.md
  
# Add 'RC 1 NFVI' label to any change to one of the RC 1 Chapter files within the doc dir
"RC 1 NFVI":
  - doc/ref_cert/lfn/chapters/chapter01.md
  - doc/ref_cert/lfn/chapters/chapter02.md
  - doc/ref_cert/lfn/chapters/chapter03.md
  - doc/ref_cert/lfn/chapters/chapter04.md
  
# Add 'RC 1 VNF' label to any change to one of the RC 1 Chapter files within the doc dir
"RC 1 VNF":
  - doc/ref_cert/lfn/chapters/chapter05.md
  - doc/ref_cert/lfn/chapters/chapter06.md
  - doc/ref_cert/lfn/chapters/chapter07.md

# Add 'RC 1 Dev' label to any change to one of the RC 1 Chapter files within the doc dir
"RC 1 Dev":
  - doc/ref_cert/lfn/chapters/chapter08.md
  - doc/ref_cert/lfn/chapters/chapter09.md
  - doc/ref_cert/lfn/chapters/chapter10.md
  - doc/ref_cert/lfn/chapters/chapter11.md
  
# Add 'Ch01' label to any change to corresponding chapter file within the doc dir
"Ch 01":
  - doc/ref_model/chapters/chapter01.md
  - doc/ref_arch/openstack/chapters/chapter01.md
  - doc/ref_arch/kubernetes/chapters/chapter01.md
  - doc/ref_impl/cntt-ri/chapters/chapter01.md
  - doc/ref_cert/lfn/chapters/chapter01.md
  
# Add 'Ch02' label to any change to corresponding chapter file within the doc dir
"Ch 02":
  - doc/ref_model/chapters/chapter02.md
  - doc/ref_arch/openstack/chapters/chapter02.md
  - doc/ref_arch/kubernetes/chapters/chapter02.md
  - doc/ref_impl/cntt-ri/chapters/chapter02.md
  - doc/ref_cert/lfn/chapters/chapter02.md
  
# Add 'Ch03' label to any change to corresponding chapter file within the doc dir
"Ch 03":
  - doc/ref_model/chapters/chapter03.md
  - doc/ref_arch/openstack/chapters/chapter03.md
  - doc/ref_arch/kubernetes/chapters/chapter03.md
  - doc/ref_impl/cntt-ri/chapters/chapter03.md
  - doc/ref_cert/lfn/chapters/chapter03.md
  
# Add 'Ch04' label to any change to corresponding chapter file within the doc dir
"Ch 04":
  - doc/ref_model/chapters/chapter04.md
  - doc/ref_arch/openstack/chapters/chapter04.md
  - doc/ref_arch/kubernetes/chapters/chapter04.md
  - doc/ref_impl/cntt-ri/chapters/chapter04.md
  - doc/ref_cert/lfn/chapters/chapter04.md
  
# Add 'Ch05' label to any change to corresponding chapter file within the doc dir
"Ch 05":
  - doc/ref_model/chapters/chapter05.md
  - doc/ref_arch/openstack/chapters/chapter05.md
  - doc/ref_arch/kubernetes/chapters/chapter05.md
  - doc/ref_impl/cntt-ri/chapters/chapter05.md
  - doc/ref_cert/lfn/chapters/chapter05.md
  
# Add 'Ch06' label to any change to corresponding chapter file within the doc dir
"Ch 06":
  - doc/ref_model/chapters/chapter06.md
  - doc/ref_arch/openstack/chapters/chapter06.md
  - doc/ref_arch/kubernetes/chapters/chapter06.md
  - doc/ref_impl/cntt-ri/chapters/chapter06.md
  - doc/ref_cert/lfn/chapters/chapter06.md
  
# Add 'Ch07' label to any change to corresponding chapter file within the doc dir
"Ch 07":
  - doc/ref_model/chapters/chapter07.md
  - doc/ref_arch/openstack/chapters/chapter07.md
  - doc/ref_arch/kubernetes/chapters/chapter07.md
  - doc/ref_impl/cntt-ri/chapters/chapter07.md
  - doc/ref_cert/lfn/chapters/chapter07.md
  
# Add 'Ch08' label to any change to corresponding chapter file within the doc dir
"Ch 08":
  - doc/ref_model/chapters/chapter08.md
  - doc/ref_arch/openstack/chapters/chapter08.md
  - doc/ref_arch/kubernetes/chapters/chapter08.md
  - doc/ref_impl/cntt-ri/chapters/chapter08.md
  - doc/ref_cert/lfn/chapters/chapter08.md
  
# Add 'Ch09' label to any change to corresponding chapter file within the doc dir
"Ch 09":
  - doc/ref_model/chapters/chapter09.md
  - doc/ref_cert/lfn/chapters/chapter09.md
  
# Add 'Ch10' label to any change to corresponding chapter file within the doc dir
"Ch 10":
  - doc/ref_cert/lfn/chapters/chapter10.md
  
# Add 'Ch11' label to any change to corresponding chapter file within the doc dir
"Ch 11":
  - doc/ref_cert/lfn/chapters/chapter11.md

"Appendix - A":
  - doc/ref_model/chapters/appendix-a.md
  - doc/ref_arch/kubernetes/chapters/appendix-a.md
