Repository anuket-project/anuket-specifications, pull requests merged in 2019-12, with the labels that each got.

#653 [RM Ch05] Remove Confusion about SR-IOV.
  doc/ref_model/chapters/chapter05.md
Labels: Ch 05, RM Core, fix needed

#735 CCSO-2 Chapter title updates (minor update only)
  doc/gov/README.md
Labels: minor

#733 [RA1 Ch05] Remove Ironic APIs
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Ch 05, RA 1 Ops, minor

#720 [RA-1 Ch04] Changed Title of 4.3
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Ch 04, RA 1 Core, minor

#677 [RA2 Core] Chapter 3 initial content - intro, runtime services, storage services
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Ch 03, RA 2 Core

#658 [RC1 Ch01] Introduction - draft and updates
  doc/ref_cert/lfn/chapters/chapter01.md
  doc/ref_cert/lfn/figures/RC_NFVI_VNF_Instance_Type_25Nov2019.jpg
  doc/ref_cert/lfn/figures/RC_certifying_methodlogy_25Nov2019.jpg
Labels: Ch 01, RC 1 NFVI

#719 [RA-1 Ch03] Change Title for 3.3
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: Ch 03, RA 1 Core

#703 RC1 Ch04 - Revised Draft
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: Ch 04, RC 1 NFVI, minor

#721 [RC-1 Ch05] VNF Platform Requirements
  .gitignore
  doc/ref_cert/lfn/README.md
  doc/ref_cert/lfn/chapters/chapter05.md
  doc/ref_cert/lfn/chapters/media/2269537e91994b5b49858734fe73bbb1.png
  doc/ref_cert/lfn/chapters/media/c665a3d13461f67ea8729042cf8d975d.png
Labels: Ch 05, RC 1 VNF

#743 [RA-1 Ch04] Update Ironic writeup
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Ch 04, RA 1 Core, minor

#740 [RC1 Ch06] VNF Test Case Requirements
  doc/ref_cert/lfn/chapters/chapter06.md
Labels: Ch 06, RC 1 VNF

#752 [RC-Ch05] Issue #751: Minor bug fixes
  doc/ref_cert/lfn/README.md
  doc/ref_cert/lfn/chapters/chapter05.md
Labels: Ch 05, RC 1 VNF, minor

#747 [RM Ch01] Adds H/W Abstraction Related Principles and Hooks (1 of 3)
  doc/ref_model/chapters/chapter01.md
Labels: Ch 01, RM Core

#748 [RM Ch04] Insert H/W-dependent Capability References (2 of 3)
  doc/ref_model/chapters/chapter04.md
Labels: Ch 04, RM Core

#749 [RM Ch-A] Hardware Coding Policy Initial Framework (3 of 3)
  doc/ref_model/chapters/appendix-a.md
Labels: Appendix - A, RM Core

#744 [RA-1 Ch04] Support for Profiles/T-shirt sizes
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Ch 04, RA 1 Core

#724 [Technical Steering] Updating Contribution process as per TSC call
  CONTRIBUTING.md
Labels: Technical Steering, enhancement

#650 [RM Ch07] Chapter7 updater
  doc/ref_model/chapters/chapter07.md
Labels: Ch 07, RM Ops

#661 [RA 1 Ch03] Add content for Flavor Management in Section 3.3.4
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: Ch 03, RA 1 Core

#705 RC1 Ch06 - Initial ToC and Draft
  doc/ref_cert/lfn/chapters/chapter06.md
Labels: Ch 06, RC 1 VNF

#756 [RA-1 CH04] 4.2.3.3. Load Balancing
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Ch 04, RA 1 Core

#757 [RA-1 Ch03] 3.2.5 SDN
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: Ch 03, RA 1 Core, Roadmap Item

#758 [RM Glossary] Cloud User, Tenant, Multi-tenancy
  doc/ref_model/chapters/glossary.md
Labels: Glossary, RM Core, minor

#742 [RA-1 Ch03] 3.2.4. Virtual Networking
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: Ch 03, RA 1 Core, Roadmap Item

#707 [RC1 Ch08] - E2E Framework Integration
  doc/ref_cert/lfn/chapters/chapter08.md
  doc/ref_cert/lfn/chapters/media/f3b0c214bc58c44406fd5b801d3dfc87.PNG
Labels: Ch 08, Idle, RC 1 Dev

#535 [RI1 Ch05] draft the first commit for installer requirement
  doc/ref_impl/cntt-ri/chapters/chapter05.md
Labels: Ch 05, Idle, RI 1 Core

#715 [RM Ch3] Redefine NFVI Management Software
  doc/ref_model/chapters/chapter03.md
Labels: Ch 03, Idle, RM Core, minor

#448 [RM Core Appendix A] Added VNF Monitoring UseCase in Appendix-A [Fixes #387]
  doc/ref_model/chapters/appendix-a.md
Labels: Appendix - A, RM Core

#728 [RA2 Ch2] req.inf.vir.01 & req.inf.phy.01
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, Idle, RA 2 Core

#702 RC1 Ch03 - Updated ToC and Draft
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: Ch 03, RC 1 NFVI

#781 [RC ch08] Fix the minor issue on media link in ch08.md
  doc/ref_cert/lfn/chapters/chapter08.md
  doc/ref_cert/lfn/chapters/media/f3b0c214bc58c44406fd5b801d3dfc87.PNG
  doc/ref_cert/lfn/chapters/media/f3b0c214bc58c44406fd5b801d3dfc88.png
Labels: Ch 08, RC 1 Dev, bug, minor

#710 RC1 Ch11 - Initial ToC and Draft
  doc/ref_cert/lfn/chapters/chapter11.md
Labels: Ch 11, Force Merged, Idle, RC 1 Dev

#701 RC1 Ch02 - Initial ToC and Draft
  doc/ref_cert/lfn/chapters/chapter02.md
Labels: Ch 02, Force Merged, Idle, RC 1 NFVI

#706 RC1 Ch07 - Initial ToC and Draft
  doc/ref_cert/lfn/chapters/chapter07.md
Labels: Ch 07, Force Merged, Idle, RC 1 VNF

#708 RC1 Ch09 - Initial ToC and Draft
  doc/ref_cert/lfn/chapters/chapter09.md
Labels: Ch 09, Force Merged, Idle, RC 1 Dev

#709 RC1 Ch10 - Initial ToC and Draft
  doc/ref_cert/lfn/chapters/chapter10.md
Labels: Ch 10, Force Merged, Idle, RC 1 Dev

#729 [RA-1 Ch03] Section 3.4.1: Virtualisation
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: Ch 03, RA 1 Core

#773 [RA1 Ch02]: Fix Chapter 2 TOC
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Ch 02, RA 1 Core, minor

#762 [RA2 Ch02]: Fix Chapter 2 TOC
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, RA 2 Core, minor

#745 [RA2] Adding RA2 relation to any underlying infra.
  doc/ref_arch/README.md
  doc/ref_arch/figures/ref_arch_ra2_relationships.png
Labels: Force Merged, RA 2 Core

#779 [RA1 Ch06] ToC proposal
  doc/ref_arch/openstack/chapters/chapter06.md
Labels: Ch 06, RA 1 Ops

#783 [RC1 Ch04] Add section outline for test cases in interface and APIs
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: Ch 04, RC 1 NFVI

#755 [Gov CSO] New WS Policy
  doc/gov/chapters/chapter03.md
Labels: CSO Ch03, Gov

#777 [RA-1 Ch04] 4.2.3.4 Neutron Extensions
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Ch 04, RA 1 Core

#784 [RC ch05] Add more details into VNF platform requirements
  doc/ref_cert/lfn/chapters/chapter05.md
Labels: Ch 05, RC 1 Dev, RC 1 VNF

#621 [RM Core Ch01-Ch08] Support for containers
  doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter05.md
  doc/ref_model/chapters/glossary.md
Labels: Ch 04, Ch 05, Ch 08, RM Core

#815 [RA1 Ch05] Bogo meter rating changed
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Ch 05, RA 1 Ops, minor

#793 [RA-1 Ch02] EPA requirement
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Ch 02, RA 1 Core

#679 [Gov Ch05] Voting and approvals
  doc/gov/chapters/chapter05.md
Labels: Ch 05, Gov

#778 [RA-1 Ch04] 4.2.4 Storage Backend
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/figures/Figure_4_x_Ceph.png
Labels: Ch 04, RA 1 Core, WIP

#697 CCSO-10 Ch02 draft updates
  doc/gov/figures/onboarding_proc.jpg
Labels: CSO Ch02, Gov

#804 CCSO-10 [CSO Ch02] Onboarding Process Updates
  doc/gov/chapters/chapter02.md
  doc/gov/figures/onboarding_proc.png
Labels: CSO Ch02, Gov

#820 [RC1] [Ch 5] Section 5.3.11 Updated gRPC -> RPC
  doc/ref_cert/lfn/chapters/chapter05.md
Labels: Ch 05, RC 1 VNF, minor

#700 [RA1 Ch08] Update chapter08.md
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: Ch 08, RA 1 Dev, minor

#806 [RM CH07] workload security section updates
  doc/ref_model/chapters/chapter07.md
Labels: Ch 07, RM Ops, minor

#827 [RC1 Ch02] image added for NFVI badge process
  doc/ref_cert/lfn/figures/NFVI_certifying_vendor_swhw_solutions.jpg
Labels: Ch 02, RC 1 NFVI

#785 [RM Glossary] Fix some container related definitions
  doc/ref_model/chapters/glossary.md
Labels: Glossary

#726 [RM Ch05] Modification of CPU pinnnig definition
  doc/ref_model/chapters/chapter05.md
Labels: Ch 05, RM Core, minor

#791 [RM Glossary] Platform definition
  doc/ref_model/chapters/glossary.md
Labels: Glossary, RM Core

#857 [RC1] Add opensource VNF onboarding and testing
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: RC 1 NFVI, RC 1 VNF

#835 [RC1] Fill Heat testing
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: RC 1 Dev, RC 1 NFVI

#831 [RC1] Fill Keystone testing
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: RC 1 Dev, RC 1 NFVI

#833 [RC1] Fill Glance testing
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: RC 1 Dev, RC 1 NFVI

#837 [RC1] Fill Cinder testing
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: RC 1 Dev, RC 1 NFVI

#839 [RC1] Fill Swift testing
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: RC 1 Dev, RC 1 NFVI

#845 [RC1] Fill Nova testing
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: RC 1 Dev, RC 1 NFVI

#844 [RC1] Fill Neutron testing
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: RC 1 Dev, RC 1 NFVI

#848 [RC1] Add OpenStack API benchmarking
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: RC 1 Dev, RC 1 NFVI

#855 [RC1] List CNTT mandatory testcases for compliance/certification
  doc/ref_cert/lfn/chapters/chapter09.md
Labels: RC 1 Dev, RC 1 NFVI

#860 [RC1] Introduce API testing
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: RC 1 Dev, RC 1 NFVI

#853 [RC1] Add dataplane benchmarking
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: RC 1 Dev, RC 1 NFVI

#862 [RA1 Ch05] Finalize API versions and capabilities
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Ch 05, RA 1 Core, RA 1 Dev

#788 [RC1 Ch02] NFVI E2E C&V Framework Requirements
  doc/ref_cert/lfn/chapters/chapter02.md
  doc/ref_cert/lfn/figures/NFVI-badge.jpg
  doc/ref_cert/lfn/figures/RC_CertificationMethodology.jpg
  doc/ref_cert/lfn/figures/RC_NFVI_Profiles.png
  doc/ref_cert/lfn/figures/RC_Ref_NFVI_Profiles.jpg
  doc/ref_cert/lfn/figures/VNF-badge.jpg
Labels: Ch 02, RC 1 NFVI, WIP
