Repository anuket-project/anuket-specifications, pull requests merged in 2019-08, with the labels that each got.

#168 Chapter05 - hw profile section introduction moving
  doc/ref_model/chapters/chapter05.md
Labels: minor

#190 [Reference Architecture] Principles & Requirements
  doc/ref_arch/README.md
  doc/ref_arch/openstack/chapters/chapter01.md
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Reference Architecture

#202 [Reference Model] Chapter 3 - Clarify design principle: Declarative
  doc/ref_model/chapters/chapter03.md
Labels: Chapter 03, Reference Model

#208 Chapter 1 - tenant definition
  doc/ref_model/chapters/chapter01.md
  doc/ref_model/chapters/chapter03.md
Labels: Chapter 01, Reference Model

#210 Chapter 5 - Sections 5.1 and 5.2
  doc/ref_model/chapters/chapter05.md
Labels: Chapter 05, Reference Model

#226 WIP: [RM] Chapter 4 section 4.1.6 VIM capabilities
  doc/ref_model/chapters/chapter04.md
Labels: Chapter 04, Reference Model, WIP

#235 [Chapter 2] Cleanup
  doc/ref_model/chapters/chapter02.md
Labels: Chapter 02, Reference Model

#219 WIP: Chapter 3 information model (WIP)
  doc/ref_model/chapters/chapter03.md
  doc/ref_model/figures/ch03_model_management_software.png
  doc/ref_model/figures/ch03_model_overview.png
  doc/ref_model/figures/ch03_model_physical_resources.png
  doc/ref_model/figures/ch03_model_virtual_resources.png
Labels: Chapter 03, Reference Model, WIP

#222 WIP: Chapter 07 Updates
  doc/ref_model/chapters/chapter07.md
Labels: Chapter 07, Reference Model, WIP

#212 Reference Architecture Requirements
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Chapter 02, Reference Architecture, WIP
