Repository anuket-project/anuket-specifications, pull requests merged in 2019-09, with the labels that each got.

#223 Update Chapter06.md
  doc/ref_model/chapters/chapter06.md
Labels: Chapter 06, Reference Model, WIP

#211 WIP: Update Chapter06.md
  doc/ref_model/chapters/chapter06.md
Labels: Chapter 06, Reference Model, WIP

#241 [Reference Architecture] Ch 03 + Ch 04 outlines
  doc/ref_arch/openstack/chapters/chapter03.md
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Chapter 03, Chapter 04, Reference Architecture

#253 [RM Chapter 1] Fix for Issue #243 (Correct Language Describing Figure…
  doc/ref_model/chapters/chapter01.md
Labels: Chapter 01, Reference Model

#245 [Reference Model] Chapter 7 - 7.10 addition of VIM
  doc/ref_model/chapters/chapter07.md
Labels: Chapter 07, Reference Model

#254 Chapter08
  doc/ref_model/chapters/chapter08-annex.md
  doc/ref_model/chapters/chapter08.md
  doc/ref_model/figures/ch8_B-N-C_VNF_Categories.jpg
  doc/ref_model/figures/ch8_NFVI_VNF_Instance_Type.jpg
  doc/ref_model/figures/ch8_NFVI_certifying_vendor_hw_solutions.jpg
  doc/ref_model/figures/ch8_NFVI_certifying_vendor_sw_solutions.jpg
  doc/ref_model/figures/ch8_NFVI_certifying_vendor_swhw_solutions.jpg
  doc/ref_model/figures/ch8_NFVI_ref_profiles_impementations.jpg
  doc/ref_model/figures/ch8_NFVI_vendor_supplied_hw_solutions.jpg
  doc/ref_model/figures/ch8_NFVI_vendor_supplied_sw_solutions.jpg
  doc/ref_model/figures/ch8_OPNFV_current_projects_and_releases.jpg
  doc/ref_model/figures/ch8_certifying_methodlogy.jpg
  doc/ref_model/figures/ch8_certifying_vendor_supplied_vnfs.jpg
Labels: Chapter 08, Reference Model

#246 Update Chapter02.md
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Chapter 02, Reference Architecture, WIP

#274 [RM Chapter 8] Updates - Content and Issues
  doc/ref_model/chapters/chapter08.md
Labels: Chapter 08, Reference Model, minor

#298 Upadte Chapter 02.md
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Botrange Release, Chapter 02, Reference Architecture, minor

#306 [RM Chapter 5] English US -> English GB
  doc/ref_model/chapters/chapter05.md
Labels: Chapter 05, Reference Model, minor

#310 [RM Chapter 5] HW profile, BIOS reference removed from NUMA description
  doc/ref_model/chapters/chapter05.md
Labels: Chapter 05, Reference Model, minor

#312 Update RA Chpater03.md
  doc/ref_arch/openstack/chapters/chapter03.md
  doc/ref_arch/openstack/figures/Figure_3_1_Core_NFVI_Services.png
  doc/ref_arch/openstack/figures/Figure_3_1_Core_NFVI_Services_v2.png
  doc/ref_arch/openstack/figures/Figure_3_2_ NFVI_Software_Services_Topology.png
  doc/ref_arch/openstack/figures/Figure_3_2_ NFVI_Software_Services_Topology_v2.png
Labels: Botrange Release, Chapter 03, Reference Architecture

#313 Update RA Chapter04.md
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/figures/Figure_4_1_Network_Fabric_Physical.png
  doc/ref_arch/openstack/figures/Figure_4_2_Tenant_Network.png
  doc/ref_arch/openstack/figures/Figure_4_3_Select_host_instance_launch.png
  doc/ref_arch/openstack/figures/Figure_4_4_Monitoring_Logging_Framework.png
Labels: Botrange Release, Chapter 04, Reference Architecture

#331 Update Diagrams
  artefacts/~$CNTT_diagrams.pptx
  doc/ref_arch/openstack/figures/bogo_com.png
  doc/ref_arch/openstack/figures/bogo_dfp.png
  doc/ref_arch/openstack/figures/bogo_lsf.png
  doc/ref_arch/openstack/figures/bogo_sdc.png
  doc/ref_impl/cntt-ri/figures/bogo_com.png
  doc/ref_impl/cntt-ri/figures/bogo_dfp.png
  doc/ref_impl/cntt-ri/figures/bogo_lsf.png
  doc/ref_impl/cntt-ri/figures/bogo_sdc.png
  doc/ref_model/figures/bogo_com.png
  doc/ref_model/figures/bogo_dfp.png
Labels: enhancement, minor

#330 [RM Readme] Incorporate New Test Case Annex
  doc/ref_model/README.md
Labels: Reference Model, minor

#325 Update Chapter03.md
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: Chapter 03, Reference Architecture, minor, online approved

#320 [RA Ch05] Update Chpater05.md
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Chapter 05, Reference Architecture

#268 [RA - Ch01] Roadmap
  doc/ref_arch/openstack/chapters/chapter01.md
  doc/ref_arch/openstack/figures/ref_arch_ch01_roadmap.png
Labels: Chapter 01, Reference Architecture

#299 Ch08 cleanup
  doc/ref_model/chapters/chapter08.md
Labels: Chapter 08, Reference Model

#305 Major updates to chapter01.md
  doc/ref_model/chapters/chapter01.md
Labels: Botrange Release, Chapter 01, Reference Model, major

#309 [RM Chapter 5] HW profiles: SMT/HT and CPU clock speed
  doc/ref_model/chapters/chapter05.md
Labels: Chapter 05, Reference Model

#311 [RM Chapter 5 ] SW Profile: CPU partitioning removed, tables 5-1 and 5-7
  doc/ref_model/chapters/chapter05.md
Labels: Chapter 05, Reference Model

#317 [RM Chapter 4] Update Capabilities References, Storage Extensions, Ne…
  doc/ref_model/chapters/chapter04.md
Labels: Chapter 04, Reference Model

#327 Proposed edits - 4.1 Capabilities and Metrics 4.2 Catalogue
  doc/ref_model/chapters/chapter04.md
Labels: Chapter 04, Reference Model

#326 Major content update to chapter09
  .gitignore
  artefacts/CNTT_diagrams.pptx
  doc/ref_model/chapters/chapter09.md
  doc/ref_model/figures/ch09_config_mgmt.png
Labels: Botrange Release, Chapter 09, Reference Model, major

#315 Chapter7 updater
  doc/ref_model/chapters/chapter07.md
  doc/ref_model/figures/ch7_data_access_model.png
  doc/ref_model/figures/ch7_security_posture.png
Labels: Chapter 07, Reference Model

#329 [RM ch02] global update
  doc/ref_model/chapters/chapter02.md
  doc/ref_model/figures/ch02_infra_profiles_v2.png
Labels: Chapter 02, Reference Model

#335 [Chapter 8] Add Functest description
  doc/ref_model/chapters/chapter08.md
Labels: Chapter 08, Reference Model

#336 Create glossary.md
  doc/ref_model/README.md
  doc/ref_model/chapters/glossary.md
Labels: Reference Model, enhancement

#337 [RM] Chapter5 - Figures update + text minor modifications
  doc/ref_model/RM_chap5_fig_5_3_SW_profile.png
  doc/ref_model/chapters/chapter05.md
  doc/ref_model/figures/RM_chap5_fig_5_3_SW_profile.png
  doc/ref_model/figures/RM_chap5_fig_5_4_HW_profile.png
Labels: Chapter 05, Reference Model

#328 [RA Chapter 01] Initial Content Creation
  doc/ref_arch/openstack/chapters/chapter01.md
Labels: Botrange Release, Chapter 01, Reference Architecture

#342 Ch. 10- Latest lifecycle framework diagram for figures
  doc/ref_model/figures/ch10-fig-10-1-common-nfvi_lifecycle_framework.png
Labels: Chapter 10, Reference Model, minor

#321 [RM Ch10] Update chapter10.md
  doc/ref_model/chapters/chapter10.md
Labels: Chapter 10, Reference Model, online approved

#347 [RM CH 4] Updated diagrams to reflect current RMCH04 Flavours
  doc/ref_model/figures/ch04_one_stop_shop.PNG
  doc/ref_model/figures/ch04_vnf_design.PNG
Labels: Chapter 04, Reference Model, minor, online approved

#349 Update Kubernetes chapter01.md
  doc/ref_arch/kubernetes/chapters/chapter01.md
  doc/ref_arch/kubernetes/figures/bogo_ifo.png
  doc/ref_arch/kubernetes/figures/ch01_k8s_arch.png
  doc/ref_arch/kubernetes/figures/k8s-ref-arch-figures.pptx
Labels: Reference Architecture, WIP, online approved, question

#352 [RM Chapter 4] Re-Inserts Paragraph Accidently Deleted
  doc/ref_model/chapters/chapter04.md
Labels: Botrange Release, Chapter 04, Reference Model, minor, online approved

#307 Replace a few American spelling words
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter08-annex.md
  doc/ref_model/chapters/chapter08.md
Labels: enhancement, minor, online approved

#354 Corrected broken link to glossary in readme.md
  doc/ref_model/README.md
Labels: Reference Model, minor, online approved
