Repository anuket-project/anuket-specifications, pull requests merged in 2019-11, with the labels that each got.

#441 [RA-1 Ch4] Section 4.3.2. Overview
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Ch 04, RA 1 Core, enhancement

#456 [RM Core Appendix A] Initial structure
  doc/ref_model/chapters/appendix-a.md
Labels: Appendix - A, RM Core, Roadmap Item

#439 [RM Ch1] Definition of standard and open API-s
  doc/ref_model/chapters/chapter01.md
Labels: Ch 01, RM Core

#532 [RA2 Ch01] Added note as per issue #454
  doc/ref_arch/kubernetes/chapters/chapter01.md
Labels: Ch 01, RA 2 Core, minor

#520 [RM Ch04] Integrate New PM/Cap Identifier Schema +
  doc/ref_model/chapters/chapter04.md
Labels: Ch 04, RM Core

#394 [RA-1 Ch4] Updated OpenStack Core Services Diagram
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/figures/Figure_3_1_Core_NFVI_Services_v3.png
  doc/ref_arch/openstack/figures/Figure_3_1_Core_NFVI_Services_v4.png
  doc/ref_arch/openstack/figures/Figure_3_1_Core_NFVI_Services_v4.png.png
  doc/ref_arch/openstack/figures/Figure_3_1_Core_NFVI_Services_v5.jpg
  doc/ref_arch/openstack/figures/Figure_3_1_Core_NFVI_Services_v5.png
Labels: Ch 04, RA 1 Core

#548 [Gov Ch01] Rough draft of intro.
  doc/gov/chapters/chapter01.md
Labels: CSO Ch01, Gov

#528 [RM Ch08] List of requirements for guiding test case selection
  doc/ref_model/chapters/chapter08.md
Labels: Ch 08, RM Com

#556 [RI 1 Core] Change the RI page
  doc/ref_impl/cntt-ri/README.md
Labels: RI 1 Core, minor

#461 [RA1 Ch07] ToC and first outline for Chapter 7
  doc/ref_arch/openstack/chapters/chapter07.md
Labels: Ch 07, RA 1 Ops

#463 [RA-1 Chapter 05] Add a new API tab about Neutron extensions
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Ch 05, RA 1 Ops

#555 [RM ch02] profiles figure update
  artefacts/CNTT_diagrams.pptx
  doc/ref_model/chapters/chapter02.md
  doc/ref_model/figures/ch02_infra_profiles.PNG
  doc/ref_model/figures/ch02_infra_profiles_v2.png
Labels: Ch 02, RM Core, minor

#565 Relationship between and scope of RA1 and RA2
  doc/ref_arch/README.md
  doc/ref_arch/figures/ref-arch-figures.pptx
  doc/ref_arch/figures/ref_arch_relationships.png
Labels: RA 1 Core, RA 2 Core, Technical Steering

#578 [RA2 Ch08] Outline for Gaps & Development
  doc/ref_arch/kubernetes/chapters/chapter08.md
Labels: Ch 08, RA 2 Dev, Roadmap Item, minor

#577 [RA-1 Ch05] Add Cinder Microversions and Features in API
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Ch 05, RA 1 Ops

#534 [RA2 Ch03 Ch04] Adding container package manager
  doc/ref_arch/kubernetes/chapters/chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Ch 03, Ch 04, RA 2 Core

#585 [RM-ch02 ]Profiles language updates
  artefacts/CNTT_diagrams.pptx
  doc/ref_model/chapters/chapter02.md
  doc/ref_model/figures/ch02_infra_profiles.PNG
Labels: Ch 02, RM Core, minor

#570 [RA2] ch01 updates to address scope, include k8s cluster management
  doc/ref_arch/kubernetes/README.md
  doc/ref_arch/kubernetes/chapters/appendix-a.md
  doc/ref_arch/kubernetes/chapters/chapter01.md
  doc/ref_arch/kubernetes/figures/bogo_com.png
  doc/ref_arch/kubernetes/figures/bogo_dfp.png
  doc/ref_arch/kubernetes/figures/bogo_lsf.png
  doc/ref_arch/kubernetes/figures/bogo_sdc.png
  doc/ref_arch/kubernetes/figures/ch01_cntt_scope_k8s.png
  doc/ref_arch/kubernetes/figures/ch01_scope.png
  doc/ref_arch/kubernetes/figures/ch01_scope_k8s.png
  doc/ref_arch/kubernetes/figures/k8s-ref-arch-figures.pptx
Labels: Appendix - A, Ch 01, RA 2 Core

#579 [RM RC1] cleanup and Initial content
  doc/ref_cert/lfn/chapters/chapter01.md
  doc/ref_cert/lfn/chapters/chapter03.md
  doc/ref_cert/lfn/chapters/chapter06.md
  doc/ref_cert/lfn/chapters/chapter08.md
  doc/ref_model/chapters/chapter08-annex.md
  doc/ref_model/chapters/chapter08.md
Labels: RC 1 Dev, RC 1 NFVI, RC 1 VNF, RM Com

#625 [RA1 Ch05] Update Keystone API
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Ch 05, RA 1 Ops

#627 [RA1 Ch05] Update Swift API
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Ch 05, RA 1 Ops

#618 [RM Ch07] Add ETSI NFV to the list of common standards
  doc/ref_model/chapters/chapter07.md
Labels: Ch 07, RM Ops

#519 [RI1 Core] Update chapter02.md
  doc/ref_impl/cntt-ri/chapters/chapter02.md
  doc/ref_impl/cntt-ri/figures/chp02_typical RI.PNG
Labels: Ch 02, RI 1 Core

#452 [RA-2 Ch02] Requirements
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, RA 2 Core, WIP

#557 [RI 1 Core] Update Chp 01 for RI
  doc/ref_impl/cntt-ri/chapters/chapter01.md
Labels: Ch 01, RI 1 Core

#572 [RA1 CH05] Remove version specification [Fixes #561]
  .gitignore
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Ch 05, RA 1 Ops

#628 [RA-1 CH03] Initial Content
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: Ch 03, RA 1 Core, Roadmap Item

#595 [RM RA2] Move terminology from RA2 to RM glossary
  doc/ref_arch/kubernetes/chapters/chapter01.md
  doc/ref_model/chapters/glossary.md
Labels: Glossary, RA 2 Core, RM Core

#581 CCSO-10 added cso chapter 2 framework
  doc/gov/chapters/chapter02.md
Labels: CSO Ch02, Gov

#622 [Technical Steering] Create label.yml
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Technical Steering, enhancement

#584 [Gov Ch04] Nomination and Selection
  doc/gov/chapters/chapter04.md
Labels: Ch 04, Gov

#651 [RM Ch01] Fix hyperlink for terminology in RM chapter 01
  doc/ref_model/chapters/chapter01.md
Labels: Ch 01, RM Core, fix needed, minor

#648 [RA1 Ch05] Precise Glance versions
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Ch 05, RA 1 Ops

#655 [RC Ch04] Draft content for traceability matrix.
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: Ch 04, RC 1 NFVI

#660 [RA1 Ch05] Update Nova API
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Ch 05, RA 1 Ops

#683 [RA-1 Ch04] Content
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/figures/Figure_4_1_Indicative_OpemStack_Network.png
  doc/ref_arch/openstack/figures/Figure_4_2_Containerised_OpenStack_Services.png
Labels: Ch 04, RA 1 Core, Roadmap Item

#568 [RI1 Ch07] User Manual initial content
  doc/ref_impl/cntt-ri/chapters/chapter07.md
Labels: Ch 07, RI 1 Dev, Roadmap Item

#580 CCSO-42 Jbeltranatl csoch01 2
  doc/gov/chapters/chapter01.md
Labels: CSO Ch01, Gov, WIP

#657 CCSO-10 Added onboarding diagram DRAFT ONLY
  artefacts/figures/onboarding_proc.jpg
  doc/gov/chapters/chapter02.md
Labels: CSO Ch02, Gov, WIP

#675 [RA2 Ch3] Clarification of the compute part of RA2 Ch3 ToC
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Ch 03, RA 2 Core, WIP

#654 [RI1 Ch04] Update Reference Implementation Lab Hardware
  doc/ref_impl/cntt-ri/chapters/chapter04.md
Labels: Ch 04, RI 1 Core, RI 1 Labs

#714 [RM Ch5] Correction of header anchors
  doc/ref_model/chapters/chapter05.md
Labels: Ch 05, RM Core, minor

#582 [RI1 Ch03] Add the Initial draft
  doc/ref_impl/cntt-ri/chapters/chapter03.md
Labels: Ch 03, RI 1 Core

#631 [Technical Steering] Update Contribution Process
  CODEOWNERS
  CONTRIBUTING.md
Labels: Technical Steering

#698 [RA 1] Fix Nova features tab
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Ch 05, RA 1 Ops

#711 [RM Ch01] Corrected Figure Numbering per Issue #382
  doc/ref_model/chapters/chapter01.md
Labels: Ch 01, RM Core

#712 [Rm Ch05] Resolve S/W Profile and Instance Type Usage
  doc/ref_model/chapters/chapter05.md
Labels: Ch 05, RM Core, minor

#662 [RA-1 Ch03] Added content for Section 3.3.2. Tenant Separation.
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: Ch 03, RA 1 Core
