Repository anuket-project/anuket-specifications, pull requests merged in 2019-10, with the labels that each got.

#362 Update chapter04.md
  doc/ref_impl/cntt-ri/chapters/chapter04.md
Labels: minor

#374 Update RA-1 Chapter05 APIs
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Ch 05, RA 1 Ops, minor, online approved

#386 [RM Ch04] Resolve Issues 377, 380 & 381
  doc/ref_model/chapters/chapter04.md
Labels: Ch 04, RM Core, online approved

#425 Update CODEOWNERS As Per Re-Structure
  CODEOWNERS
Labels: online approved

#384 Kagreenwell issue 270 patch
  doc/ref_model/chapters/chapter08-annex.md
Labels: Ch 08 Annex, RM Com, fix needed

#388 [RM Chap04] Modifications of table 4-24
  doc/ref_model/chapters/chapter04.md
Labels: Ch 04, RM Core

#383 Initial Content for K8s RA
  doc/ref_arch/kubernetes/chapters/chapter01.md
  doc/ref_arch/kubernetes/figures/ch01_k8s_arch.png
  doc/ref_arch/kubernetes/figures/k8s-ref-arch-figures.pptx
Labels: Ch 01, RA 2 Core, major

#444 Update Chapter Outline
  doc/ref_arch/openstack/README.md
Labels: RA 1 Core

#447 Contribution Guidelines
  CONTRIBUTING.md
  artefacts/figures/approval_process.png
Labels: General, enhancement

#466 [CSO Ch02 - Gov] Initialized chapter name
  doc/gov/chapters/chapter02.md
Labels: CSO Ch02, Gov

#458 [RA2 Core]: ToC proposal for Ch3 and Ch4
  doc/ref_arch/kubernetes/chapters/chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Ch 03, Ch 04, RA 2 Core
