Repository anuket-project/anuket-specifications, pull requests merged in 2020-04, with the labels that each got.

#1372 [RM Ch04]: Making Table 4-19 consistent with the rest of the chapter
  doc/ref_model/chapters/chapter04.md
Labels: minor

#1384 [TSC]: Revised Baldy & Baraque Dates
  doc/tech/figures/proposeddate.png
  doc/tech/figures/proposedmodel.png
  doc/tech/release_notes/release_process.md
Labels: minor

#1410 [TSC] - Delete Hallasan.md #1409
  doc/tech/release_notes/Hallasan.md
Labels: minor

#1419 [RA-2 C02] Fixing reference to Cloud Infrastructure management Capabilities from RA-2 VIM Capabilities section
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: minor

#1386 [TSC] Adding the artefacts
  artefacts/Release Delivery Plan.pptx
  doc/tech/release_notes/release_process.md
Labels: minor

#1408 [RA-1 Ch03] Change NFVI to cloud infrastructure
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: minor

#1422 [RM Ch05]: Removal of ref_model/RM_chap5_fig_5_3_SW_profile.png
  doc/ref_model/RM_chap5_fig_5_3_SW_profile.png
Labels: minor

#1451 [RC1][Ch01]: Fixing Typos
  doc/ref_cert/lfn/chapters/chapter01.md
Labels: bug, minor

#1375 [RA-2 Ch06] Spelling changes
  doc/ref_arch/kubernetes/chapters/chapter06.md
Labels: minor

#1414 [RA-2 Ch04] Spelling changes
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: minor

#1428 [RC1][Ch03] Fixing typo
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: bug, minor

#1430 [TSC] Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: minor

#1455 [TSC] Update CODEOWNERS for RI-1, Edge, NFG
  CODEOWNERS
Labels: minor

#1468 [RC1][Ch02]: Bug Fixes
  doc/ref_cert/lfn/chapters/chapter02.md
Labels: bug, minor

#1373 [RA2 Ch02]: Changing NFVI to Cloud Infrastructure attribute name changes
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: question

#1491 [RC1][Ch03]: Fixed Typos
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: bug, minor

#1480 [RI2 All] Initial RI2 Structure
  doc/ref_impl/README.md
  doc/ref_impl/cntt-ri2/README.md
  doc/ref_impl/cntt-ri2/chapters/chapter01.md
  doc/ref_impl/cntt-ri2/chapters/chapter02.md
  doc/ref_impl/cntt-ri2/chapters/chapter03.md
  doc/ref_impl/cntt-ri2/chapters/chapter04.md
  doc/ref_impl/cntt-ri2/chapters/chapter05.md
  doc/ref_impl/cntt-ri2/chapters/chapter06.md
  doc/ref_impl/cntt-ri2/chapters/chapter07.md
  doc/ref_impl/cntt-ri2/chapters/chapter08.md
  doc/ref_impl/cntt-ri2/chapters/chapter09.md
Labels: minor

#1497 [RC1 chp05] General clean up
  doc/ref_cert/lfn/chapters/chapter05.md
Labels: minor

#1520 [RA-1 Ch02] Incorporate RM 7.11 Security
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: minor

#1541 Update roadmap.md
  doc/tech/roadmap.md
Labels: minor

#1539 [RA2 Appendix A] Correcting reference to the RM Appendix
  doc/ref_arch/kubernetes/chapters/appendix-a.md
Labels: minor

#1524 [RA2 Ch02] - restructure of RA2 chapters
  doc/ref_arch/kubernetes/README.md
  doc/ref_arch/kubernetes/chapters/chapter01.md
  doc/ref_arch/kubernetes/chapters/chapter02.md
  doc/ref_arch/kubernetes/chapters/chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter05.md
  doc/ref_arch/kubernetes/chapters/chapter06.md
  doc/ref_arch/kubernetes/chapters/chapter07.md
  doc/ref_arch/kubernetes/chapters/chapter08.md
Labels: major

#1546 [RA1 Ch06] Minor: bogometer change + wording
  doc/ref_arch/openstack/chapters/chapter06.md
Labels: minor
