Repository anuket-project/anuket-specifications, pull requests merged in 2020-07, with the labels that each got.

#1736 [RA-1 Ch02] Rename column in 2.4 Recommendations
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: minor

#1741 [RM Ch08] Chapter 8 renamed as blank
  doc/ref_model/chapters/chapter08.md
Labels: minor

#1742 [RM - ToC] Changed title of Ch8 in ToC
  doc/ref_model/README.md
Labels: minor

#1662 [Edge ] SDO interlocking
  doc/tech/usecases.md
Labels: Baraque

#1750 [RM Ch01] Restructure to fit GSMA format
  doc/ref_model/chapters/chapter01.md
Labels: Baraque

#1752 [RM Ch02] GSMA fedback addressed
  doc/ref_model/chapters/chapter02.md
Labels: Baraque

#1769 [RA-1 Ch08] Delete 4 gaps moved to RM Ch 10.3
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: minor

#1770 [RM Appendix]: Correcting exception table formatting
  doc/ref_model/chapters/appendix-a.md
Labels: minor

#1779 [RM Ch04] Example of IaaS and CaaS Virtualization Infrastructure instances on shared HW Infrastructure
  doc/ref_model/chapters/chapter04.md
  doc/ref_model/figures/ch04_Multi-VIM_Deployment_Example.png
Labels: Baraque

#1712 [RA2 Ch6]: Clarifications to container image handling
  doc/ref_arch/kubernetes/chapters/chapter05.md
Labels: Baraque, question

#1749 [RM CH04] Fix 4.2.5 Profile Capability Mapping
  doc/ref_model/chapters/chapter04.md
  doc/tech/usecases.md
Labels: Baraque

#1780 [RM Ch03] Introduction
  doc/ref_model/chapters/chapter03.md
Labels: Baraque

#1788 [RC1] Fix english mistakes (backport)
  doc/ref_cert/lfn/chapters/chapter02.md
  doc/ref_cert/lfn/chapters/chapter03.md
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: bug, minor

#1658 [RA2 Ch4] Change to specifications
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Baraque

#1766 [RM Ch07] Securiry requirements: tables modifs
  doc/ref_model/chapters/chapter07.md
Labels: Baraque

#1785 [RC1][RA1] Backport a couple of key fixes from master
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_cert/lfn/chapters/chapter03.md
  doc/ref_cert/lfn/chapters/chapter08.md
Labels: bug

#1800 [GOV common]: Moving content to H2 chapters
  doc/common/README.md
Labels: minor

#1799 [GOV Ch9]: Fix a typo in the toc
  doc/gov/chapters/chapter09.md
Labels: minor

#1782 [RA1] Update Chapter 5 to Train
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_cert/RC1/chapters/chapter03.md
Labels: Baraque

#1787 [RM Ch03.2] updates
  doc/ref_model/chapters/chapter03.md
  doc/ref_model/figures/ch03-model-virtual-resources.png
  doc/ref_model/figures/ch03-model-virtual-resources.pptx
Labels: Baraque

#1781 [RM Ch03.1] Model
  doc/ref_model/chapters/chapter03.md
  doc/ref_model/figures/Cloud Infrastructure Model Overview.pptx
  doc/ref_model/figures/ch03-model-overview.png
  doc/ref_model/figures/ch03-model-overview.pptx
Labels: Baraque

#1798 Update chapter10.md
  doc/ref_model/chapters/chapter10.md
Labels: Baraque

#1802 [RI1 Ch5]: Fix the link in 5.4.1
  doc/ref_impl/cntt-ri/chapters/chapter05.md
Labels: minor

#1804 [TSC Common] Common Abbreviations
  doc/common/abbreviations.md
Labels: Baraque

#1740 [RA2] nit / typos
  doc/ref_arch/kubernetes/chapters/chapter01.md
  doc/ref_arch/kubernetes/chapters/chapter02.md
  doc/ref_arch/kubernetes/chapters/chapter05.md
  doc/ref_arch/kubernetes/chapters/chapter06.md
Labels: Baraque, bug

#1801 [RA1 Ch2]: Fix link to chapter 5.3
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: minor

#1796 [RM Ch03.6] Model realization
  doc/ref_model/chapters/chapter03.md
  doc/ref_model/figures/ch03-model-realization diagram.png
  doc/ref_model/figures/ch03-model-realization diagram.pptx
Labels: Baraque

#1813 [ALL] Fix former links (lfn -> RC1)
  CODEOWNERS
  README.md
  doc/ref_cert/RC2/figures/bogo_ifo.png
  doc/ref_impl/cntt-ri/chapters/chapter08.md
Labels: Baraque, bug

#1767 [RM Ch04] Fix Profile Capability mapping
  doc/ref_model/chapters/chapter04.md
Labels: Baraque

#1816 [RA1 All Ch] Update to Train Issues #1815
  doc/ref_arch/openstack/chapters/chapter01.md
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: New, minor

#1817 [RM Ch03.6] adding missing diagram
  doc/ref_model/chapters/chapter03.md
  doc/ref_model/figures/ch03-model-realization diagram-2.png
  doc/ref_model/figures/ch03-model-realization diagram-2.pptx
Labels: Baraque

#1783 [RC1] Update links, test case descriptions and selections to Train
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_cert/RC1/chapters/chapter03.md
  doc/ref_cert/RC1/chapters/chapter04.md
  doc/ref_cert/RC1/chapters/chapter08.md
Labels: Baraque

#1835 [RM Ch07] Enforce mandatory access control: reco
  doc/ref_model/chapters/chapter07.md
Labels: Baraque, New

#1834 [RM Ch07] Secure Logging, root login
  doc/ref_model/chapters/chapter07.md
Labels: Baraque, New

#1825 [TSC] Fixes few dead links
  README.md
  doc/ref_cert/README.md
Labels: minor
