Repository anuket-project/anuket-specifications, pull requests merged in 2020-12, with the labels that each got.

#1912 [ra2 ch4] CNI multiplexer wording
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Elbrus

#2114 [RM Ch9.1] Update to LCM Introduction
  doc/ref_model/chapters/chapter09.md
Labels: Elbrus

#2093 [RM Ch2] Update list of network functions
  doc/common/abbreviations.md
  doc/ref_model/chapters/chapter02.md
Labels: Elbrus, minor

#2126 [RM Ch08] Add Section 9.5 TOC and Structure
  doc/ref_model/chapters/chapter09.md
Labels: Elbrus, minor

#2103 [RA1 README] Correct Chapter Titles
  doc/ref_arch/openstack/README.md
Labels: Elbrus, Merge-Ready, minor

#2117 [RA1 Ch04] 4.2.3 Network Content
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Elbrus, Merge-Ready, minor

#2116 [RA1 Ch2] Duplicated requirements
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Elbrus, minor

#2115 [RM Ch3] Section titles for HW Acceleration
  doc/ref_model/chapters/chapter03.md
Labels: Elbrus

#2118 [RM Ch08] Add multi-cloud and edge content
  artefacts/RM-Ch08-HMC-Image-1.pptx
  artefacts/RM-Ch08-Multi-Cloud-DC-Edge.pptx
  artefacts/RM-Ch08-Telco-Operator-Platform.pptx
  doc/ref_model/README.md
  doc/ref_model/artefacts/RM-Ch08-HMC-Image-1.pptx
  doc/ref_model/artefacts/RM-Ch08-Multi-Cloud-DC-Edge.pptx
  doc/ref_model/artefacts/RM-Ch08-Telco-Operator-Platform.pptx
  doc/ref_model/chapters/chapter08.md
  doc/ref_model/figures/RM-Ch08-HMC-Image-1.png
  doc/ref_model/figures/RM-Ch08-HMC-Image-1.pptx
  doc/ref_model/figures/RM-Ch08-Multi-Cloud-DC-Edge.png
  doc/ref_model/figures/RM-Ch08-Multi-Cloud-DC-Edge.pptx
  doc/ref_model/figures/RM-Ch08-Telco-Operator-Platform.png
  doc/ref_model/figures/RM-Ch08-Telco-Operator-Platform.pptx
Labels: Elbrus

#2123 [RM Ch10.3.5] Closed-loop automation gap
  doc/ref_model/chapters/chapter10.md
Labels: Elbrus, New

#2138 [ra2] ch5 re-word
  doc/ref_arch/kubernetes/chapters/chapter05.md
Labels: Elbrus
