Repository anuket-project/anuket-specifications, pull requests merged in 2020-10, with the labels that each got.

#2039 [RA1 Ch2, Ch4] T-shirt removal
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter03.md
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Elbrus

#2053 [RM Ch1] Problem statement
  doc/ref_model/chapters/chapter01.md
Labels: Elbrus, Merge-Ready

#1872 [RA2 Ch02] 2.3 Additional Networking requirements
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Elbrus

#2055 [RA1 Ch01] RA1- terminology empty
  doc/ref_arch/openstack/chapters/chapter01.md
Labels: Elbrus, minor

#2060 [RA1 CH4] Correcting capitalization of NUMA and vCPU
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Elbrus, minor

#2058 [RA1 Ch02] CPU SKU -> CPU type
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Elbrus, minor

#2035 [RC2][RI1] Fix CNTT RC2 and RI1 versions
  doc/ref_cert/RC2/README.md
  doc/ref_impl/cntt-ri/README.md
Labels: bug
