Repository anuket-project/anuket-specifications, pull requests merged in 2020-02, with the labels that each got.

#1012 [RA-2 Ch02] Fix minor typo in RA2 2.2.24
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, RA 2 Core, minor

#1030 RC-1 Ch01 - Fix broken URL issue 1026
  doc/ref_cert/lfn/chapters/chapter01.md
Labels: Ch 01, RC 1 NFVI, minor

#1016 [RA-2 Ch02] req.inf.ntw.16 states a capability rather than an implementation detail
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, RA 2 Core

#1013 [Ra-1 Ch05] Add Cyborg APIs
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Ch 05, RA 1 Ops

#1010 [RA2 Ch02] Add support for dual stack IPv4 and IPv6
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, RA 2 Core

#1039 Clarify requirement on conformant K8s installer for RI2
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Ch 04, RA 2 Core

#1022 [RI1] update the index to include HDV contents
  doc/ref_impl/cntt-ri/README.md
  doc/ref_impl/cntt-ri/chapters/chapter01.md
  doc/ref_impl/cntt-ri/chapters/chapter05.md
  doc/ref_impl/cntt-ri/chapters/chapter06.md
  doc/ref_impl/cntt-ri/chapters/chapter07.md
  doc/ref_impl/cntt-ri/chapters/chapter08.md
  doc/ref_impl/cntt-ri/chapters/chapter09.md
  doc/ref_impl/cntt-ri/figures/ri1_scope.png
Labels: Ch 01, Ch 05, Ch 06, Ch 07, Ch 08, RI 1

#959 [CNTT TSC] Baldy Release Planning
  doc/tech/README.md
  doc/tech/figures/rc1_baldy.png
  doc/tech/figures/ri1_baldy.png
  doc/tech/release_notes/README.md
  doc/tech/release_notes/baldy.md
  doc/tech/release_notes/release_process.md
Labels: Technical Steering

#1006 [RA1 Ch 05] Explanations about API versions and microversions
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: Ch 05, RA 1

#1050 [RI-NewChp05] first commit for hardware delivery verification
  doc/ref_impl/cntt-ri/chapters/chapter05.md
Labels: RI 1

#1002 [RA2 Ch3]: Adding clarification about the usage of Tiller
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Ch 03, RA 2

#1062 [TSC] Creating RI-2 WS
  CODEOWNERS
  doc/ref_impl/README.md
  doc/ref_impl/cntt-ri2/README.md
  doc/ref_impl/cntt-ri2/chapters/chapter01.md
  doc/ref_impl/cntt-ri2/chapters/chapter02.md
  doc/ref_impl/cntt-ri2/chapters/chapter03.md
  doc/ref_impl/cntt-ri2/chapters/chapter04.md
  doc/ref_impl/cntt-ri2/chapters/chapter05.md
  doc/ref_impl/cntt-ri2/chapters/chapter06.md
  doc/ref_impl/cntt-ri2/chapters/chapter07.md
  doc/ref_impl/cntt-ri2/chapters/chapter08.md
  doc/ref_impl/cntt-ri2/chapters/chapter09.md
  doc/ref_impl/cntt-ri2/figures/bogo_com.png
  doc/ref_impl/cntt-ri2/figures/bogo_dfp.png
  doc/ref_impl/cntt-ri2/figures/bogo_ifo.png
  doc/ref_impl/cntt-ri2/figures/bogo_lsf.png
  doc/ref_impl/cntt-ri2/figures/bogo_sdc.png
Labels: Technical Steering

#1046 [RA-1 Ch02] Added Traceability to 2.3.1 to 2.3.5
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Ch 02, RA 1

#1070 [RC] Certification -> Conformance + Restructuring
  doc/README.md
  doc/ref_cert/README.md
  doc/ref_cert/lfn/README.md
  doc/ref_cert/lfn/chapters/chapter01.md
  doc/ref_cert/lfn/chapters/chapter02.md
  doc/ref_cert/lfn/chapters/chapter03.md
  doc/ref_cert/lfn/chapters/chapter04.md
  doc/ref_cert/lfn/chapters/chapter05.md
  doc/ref_cert/lfn/chapters/chapter06.md
  doc/ref_cert/lfn/chapters/chapter07.md
  doc/ref_cert/lfn/chapters/chapter08.md
  doc/ref_cert/lfn/chapters/chapter09.md
  doc/ref_cert/lfn/chapters/chapter10.md
  doc/ref_cert/lfn/figures/rc1_scope.png
  doc/tech/README.md
Labels: RC 1

#897 [Gov Ch05] Concensus-based Decision Making
  doc/gov/chapters/chapter05.md
  doc/gov/figures/voting_process.png
Labels: Ch 05, Gov

#1074 [RA1][RC1]Set dhcp_agent_scheduler as optional
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: Baldy, RA 1, RC 1

#1078 [RA1][RC1]List Network Type drivers in RA1 Chapter5
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: Baldy, RA 1, RC 1

#1099 [RA-1 Ch03] Corrections
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: Baldy, Ch 03, RA 1, minor

#1064 [RM] Parking Compute Intensive Profile
  artefacts/CNTT_diagrams.pptx
  doc/ref_model/chapters/chapter02.md
  doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter05.md
  doc/ref_model/figures/RM_chap5_fig_5_3_SW_profile.png
  doc/ref_model/figures/RM_chap5_fig_5_4_HW_profile.png
  doc/ref_model/figures/ch02_infra_profiles.PNG
  doc/ref_model/figures/ch04_one_stop_shop.PNG
Labels: Multi-Chapter, RM

#1049 [RA2] Ch8 - Gap documentation template
  doc/ref_arch/kubernetes/chapters/chapter08.md
Labels: Ch 08, RA 2

#1071 [RA-1 Ch04] Add Placement Service
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Baldy, Ch 04, RA 1

#1084 [RA2 Ch02 - Ch03] Add support for package management APIs
  doc/ref_arch/kubernetes/chapters/chapter02.md
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Ch 02, Ch 03, Multi-Chapter, RA 2

#1079 [RA2 Ch02] Values for virtual CPU, memory, and disk capabilities
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Baldy, Ch 02, RA 2

#1072 [RA-1 Multiple Chapters] Park Compute Intensive
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Baldy, Ch 02, Ch 04, RA 1

#1107 [RA1][RC1] Set Neutron extensions as optional
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: RA 1, RC 1

#944 [RI Ch05] Installer Requirements - issue 846
  doc/ref_impl/cntt-ri/chapters/chapter05.md
  doc/ref_impl/cntt-ri/chapters/chapter06.md
Labels: Ch 05, Idle, RI 1

#1109 [RA2 Ch02] add support for OCI compatable artefact repository
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, RA 2

#1121 [RA-2 Ch02] Replace multi-tenancy with desired intents
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, RA 2

#1124 [RA2 Core] Remove commented requirement
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, RA 2, minor

#1127 [RA2 Ch3] remove redundant note
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Ch 03, RA 2, minor

#1134 [RA2 Ch01]: Clarification of the location of Kubernetes
  doc/ref_arch/kubernetes/chapters/chapter01.md
Labels: Ch 01, RA 2, minor

#1145 [RA2 Ch3]Removing compute intensive instance type from Ch3
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Ch 03, RA 2

#1141 [RA2 Ch3] Remove 3.3
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Ch 03, RA 2, minor

#1143 [RM Ch1] Draft Networking language for Baldy
  doc/ref_model/chapters/chapter01.md
Labels: Ch 01, RM

#1138 [RA1 Ch03] Minor corrections: typos, line breaks
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: Baldy, Ch 03, RA 1, minor

#1151 [RM Ch01]: Removal of note about VM only scope of the RM
  doc/ref_model/chapters/chapter01.md
Labels: Ch 01, RM

#1159 [RA2 Ch02]: Changing req.kcm.09 from should to must
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, RA 2, minor

#1111 [TSC] Adding the Technical Release Process Document
  doc/tech/figures/proposeddate.png
  doc/tech/figures/proposedmodel.png
  doc/tech/release_notes/release_process.md
Labels: Technical Steering

#1149 [RA1][RC1] Update Regex list in RC
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: RC 1

#1170 [RA2 Ch02] Update chapter02.md
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, RA 2, minor

#1171 [RA2 Ch02] req.inf.ntw.09 change to req.lcm.gen.02
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, RA 2, bug, minor

#1154 [RM Ch01] Correction of OSF ECG-s name in a commented out serction
  doc/ref_model/chapters/chapter01.md
Labels: Ch 01, RM

#1011 [GOV Ch02] Add additional engagement and participation details
  doc/README.md
  doc/gov/README.md
  doc/gov/chapters/chapter02.md
  doc/gov/figures/engagement.png
Labels: CSO Ch02, Gov, Governance Steering

#1157 [RM Ch01]: Removal of quotation marks
  doc/ref_model/chapters/chapter01.md
Labels: minor

#1188 Rewording & Minor bug fix
  doc/tech/release_notes/release_process.md
Labels: bug

#1179 [RA2 CH02] Fix for broken link
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: bug

#1181 [RM Ch05] Park compute intensive profile
  doc/ref_model/chapters/chapter05.md
Labels: minor

#1173 [RA-1 Ch04] Delete 4.3.3. Build Parameters
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: minor

#1187 [RM Ch04] CPU overbooking
  doc/ref_model/chapters/chapter04.md
Labels: minor

#1190 [RA2 Ch0x] More consistent use of conformance vs compliance in RA2
  doc/ref_arch/kubernetes/chapters/chapter01.md
  doc/ref_arch/kubernetes/chapters/chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter04.md
  doc/ref_arch/kubernetes/chapters/chapter05.md
Labels: minor

#1192 [RA2 Ch01] Remove contributor name from spec
  doc/ref_arch/kubernetes/chapters/chapter01.md
Labels: minor

#1189 [RA2 CH03]-Broken link
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: bug

#1146 [RA2 Ch02]: Adding a missing br to Ch2.4.4
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: minor

#1203 [RM Ch05]: Hugepages -> Huge Pages
  doc/ref_model/chapters/chapter05.md
Labels: minor

#1202 [RI Ch03]: HugePages -> Huge Pages
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: minor
