Repository anuket-project/anuket-specifications, pull requests merged in 2020-01, with the labels that each got.

#822 [CSO Ch02] Updated Onboarding Proc
  doc/gov/figures/onboarding_process.jpg
Labels: CSO Ch02, Gov, WIP

#807 [RC1 Ch05] [WIP] Certification process
  doc/ref_cert/lfn/chapters/chapter05.md
  doc/ref_cert/lfn/chapters/media/2269537e91994b5b49858734fe73bbb1.png
  doc/ref_cert/lfn/chapters/media/c665a3d13461f67ea8729042cf8d975d.png
  doc/ref_cert/lfn/chapters/media/f3b0c214bc58c44406fd5b801d3dfc89.png
  doc/ref_cert/lfn/chapters/media/f3b0c214bc58c44406fd5b801d3dfc90.png
  doc/ref_cert/lfn/chapters/media/f3b0c214bc58c44406fd5b801d3dfc91.png
Labels: Ch 05, RC 1 VNF

#870 [RC1] Detail CNTT RI and RC toolchains
  doc/ref_cert/lfn/chapters/chapter02.md
Labels: RC 1 Dev, RC 1 NFVI

#871 [RC1] Fix broken links due to baseurl (/CNTT) set by GitHub
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: RC 1 Dev, RC 1 NFVI, minor

#693 [RA2 Ch3]: Container networking initial content
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Ch 03, RA 2 Core

#583 [RA2 Ch06] initial content
  doc/ref_arch/kubernetes/chapters/chapter06.md
Labels: Ch 06, RA 2 Ops, Roadmap Item

#782 [RC Ch06] Update chapter06.md
  doc/ref_cert/lfn/chapters/chapter06.md
Labels: Ch 06, RC 1 VNF

#869 Fixing a typo in the Container Networking Interface
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, RA 2 Core

#876 [RC1 Ch05] [WIP] Certification process
  doc/ref_cert/lfn/chapters/chapter05.md
  doc/ref_cert/lfn/chapters/media/2269537e91994b5b49858734fe73bbb1.png
  doc/ref_cert/lfn/chapters/media/c665a3d13461f67ea8729042cf8d975d.png
  doc/ref_cert/lfn/chapters/media/f3b0c214bc58c44406fd5b801d3dfc89.png
  doc/ref_cert/lfn/chapters/media/f3b0c214bc58c44406fd5b801d3dfc90.png
  doc/ref_cert/lfn/chapters/media/f3b0c214bc58c44406fd5b801d3dfc91.png
Labels: Ch 05, RC 1 VNF

#850 RA2 ch5 Initial ToC
  doc/ref_arch/kubernetes/chapters/chapter05.md
Labels: Ch 05, RA 2 Ops

#867 [RC1] Define the frameworks for NFVI certification
  doc/ref_cert/lfn/chapters/chapter02.md
Labels: RC 1 Dev, RC 1 NFVI, RC 1 VNF

#873 [RC1] Add RC Cookbook
  doc/ref_cert/lfn/chapters/chapter09.md
Labels: RC 1 Dev, RC 1 NFVI

#886 [RC1] Fix typos and replace next by following (nit)
  doc/ref_cert/lfn/chapters/chapter01.md
  doc/ref_cert/lfn/chapters/chapter04.md
  doc/ref_cert/lfn/chapters/chapter09.md
Labels: RC 1 Dev, RC 1 NFVI, minor

#885 [RI1] Typos (nit)
  doc/ref_impl/cntt-ri/chapters/chapter01.md
  doc/ref_impl/cntt-ri/chapters/chapter05.md
Labels: RI 1 Core, RI 1 Labs, minor

#786 [RM Ch04] Update/Refine Storage Extensions
  doc/ref_model/chapters/chapter04.md
Labels: Ch 04, RM Core

#812 [RC1 Ch03] - NFVI test case requirements
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: Ch 03, RC 1 NFVI

#818 [RA-1 Ch03] Add acceleration support
  doc/ref_arch/openstack/chapters/chapter03.md
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Ch 05, RA 1 Core, minor

#738 [RA2 Ch02] Requirements matrix for RA2
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, Force Merged, Idle, RA 2 Core

#887 [RC1] List all Functional testcases offered by Functest Hunter
  doc/ref_cert/lfn/chapters/chapter08.md
Labels: RC 1 Dev, RI 1 Dev

#672 [RA2 Ch08] Initial content for Ch08 (Gap analysis)
  doc/ref_arch/kubernetes/chapters/chapter08.md
Labels: Ch 08, RA 2 Dev

#813 [RI Ch03] NFVI Required State
  doc/ref_impl/cntt-ri/chapters/chapter03.md
Labels: Ch 03, RI 1 Core

#892 [Gov] Recruiting & Adoption Doc Structure
  doc/gov/README.md
  doc/gov/chapters/chapter06.md
  doc/gov/chapters/chapter07.md
  doc/gov/chapters/chapter08.md
  doc/gov/chapters/chapter10.md
  doc/gov/chapters/chapter11.md
Labels: Gov, minor

#880 [RA1 Ch03] Update chapter03.md
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: Ch 03, RA 1 Core, minor

#849 RA2 Roadmap Update
  doc/ref_arch/kubernetes/chapters/chapter01.md
  doc/ref_arch/kubernetes/figures/k8s-ref-arch-figures.pptx
  doc/ref_arch/kubernetes/figures/k8s_ref_arch_roadmap.png
Labels: Ch 01, RA 2 Core

#864 [RM Glossary] Add SMT definition
  doc/ref_model/chapters/glossary.md
Labels: Glossary, RM Core

#905 [RA-1 Ch02] Bogo Meter Update
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Ch 02, RA 1 Core, minor

#906 [RA-1 Ch03] Bogo Meter update to "Dickering"
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: Ch 03, RA 1 Core, minor

#907 [RA-1 Ch04] Change Bogo Meter to "SDC"
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Ch 04, RA 1 Core, minor

#731 [Technical Steering] CNTT Overall Technical Direction and position
  README.md
  doc/ref_model/chapters/chapter01.md
  doc/tech/README.md
  doc/tech/figures/tech_iov.png
  doc/tech/figures/tech_scope.png
  doc/tech/figures/tech_scope_3.png
  doc/tech/figures/tech_scope_doc_types.png
  doc/tech/figures/tech_sriov.png
  doc/tech/figures/tech_virtio.png
  doc/tech/figures/tech_virtio_hw.png
  doc/tech/figures/tech_vtd.png
Labels: Appendix - A, Ch 01, RM Core, Technical Steering

#852 RA2 Ch7 ToC
  doc/ref_arch/kubernetes/chapters/chapter07.md
Labels: Ch 07, RA 2 Ops

#913 Cleaning up the wording
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: Ch 08, RA 1 Dev, Roadmap Item, minor

#910 [RI1] Fill Deployment Validations
  doc/ref_impl/cntt-ri/chapters/chapter07.md
Labels: RI 1 Core, RI 1 Dev

#911 [RI1] Fill development validations
  doc/ref_impl/cntt-ri/chapters/chapter07.md
Labels: RI 1 Core, RI 1 Dev

#894 [RA2 Ch06] Update chapter06.md
  doc/ref_arch/kubernetes/chapters/chapter06.md
Labels: Ch 06, RA 2 Ops, WIP

#919 Fix RA-2 Backlinks
  doc/ref_arch/kubernetes/chapters/chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter04.md
  doc/ref_arch/kubernetes/chapters/chapter05.md
  doc/ref_arch/kubernetes/chapters/chapter07.md
Labels: Ch 03, Ch 04, Ch 05, Ch 07, RA 2 Core, RA 2 Ops, minor

#921 RA2 Ch3 - change status
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Ch 03, Force Merged, RA 2 Core, minor

#922 RA2 Ch6 - update status
  doc/ref_arch/kubernetes/chapters/chapter06.md
Labels: Ch 06, RA 2 Ops, minor

#923 RA2 Ch8 - update status
  doc/ref_arch/kubernetes/chapters/chapter08.md
Labels: Ch 08, Force Merged, RA 2 Dev, minor

#924 RA2 README - update statuses
  doc/ref_arch/kubernetes/README.md
Labels: Force Merged, minor

#929 labeler.yml - added some README.md files
  .github/labeler.yml
Labels: Force Merged, General, minor

#874 RA2 Ch4 - Host OS, Kubernetes, Container Runtime and Storage content
  doc/ref_arch/kubernetes/chapters/chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter04.md
  doc/ref_arch/kubernetes/figures/ch03_hostOS.png
  doc/ref_arch/kubernetes/figures/ch04_k8s_architecture.png
  doc/ref_arch/kubernetes/figures/ch04_k8s_components.png
  doc/ref_arch/kubernetes/figures/k8s-ref-arch-figures.pptx
Labels: Ch 03, Ch 04, Force Merged, RA 2 Core, online approved

#821 [RA2 Ch04]: Networking part of Ch4 in RA2
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Ch 04, Force Merged, RA 2 Core, online approved

#558 [RA-1 Ch02] update to handle multiple issues
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Ch 02, Force Merged, Idle, RA 1 Core

#843 [RA1 Ch08] Add gaps in openstack release ocata, pike and stein
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: Ch 08, RA 1 Dev

#931 [RI Ch07] Sridhar ch7 sec5and6
  doc/ref_impl/cntt-ri/chapters/chapter07.md
Labels: Ch 07, RI 1 Dev

#918 [RC1] Fill all gaps already tracked as issues in CNTT
  doc/ref_cert/lfn/chapters/chapter11.md
Labels: RC 1 Dev, RC 1 VNF

#927 [RA-1 Ch04] Update Figure 4-1
  doc/ref_arch/figures/Figure_4_1_OpenStack_Network_Layout_20200110.png
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/figures/Figure_4_1_OpenStack_Network_Layout_20200110.png
Labels: Ch 04, RA 1 Core

#817 [WIP] [RI Ch07] Update Deployment Cookbook
  doc/ref_impl/cntt-ri/chapters/chapter07.md
Labels: Ch 07, RI 1 Dev, WIP

#934 [RC] One missing word (nit)
  doc/ref_cert/lfn/chapters/chapter11.md
Labels: RC 1 NFVI, RC 1 VNF, minor

#937 [Artefacts] Source Diagrams RA-1 Ch03 and Ch04
  artefacts/CNTT_diagrams.pptx
Labels: Force Merged, General, minor

#932 [Tech Steering] Preparation for Snezka release - cleanups
  doc/ref_arch/kubernetes/README.md
  doc/ref_arch/openstack/README.md
  doc/ref_cert/lfn/README.md
  doc/ref_impl/cntt-ri/README.md
  doc/ref_impl/cntt-ri/chapters/chapter01.md
  doc/ref_impl/cntt-ri/chapters/chapter02.md
  doc/ref_impl/cntt-ri/chapters/chapter03.md
  doc/ref_impl/cntt-ri/chapters/chapter04.md
  doc/ref_impl/cntt-ri/chapters/chapter05.md
  doc/ref_impl/cntt-ri/chapters/chapter07.md
  doc/ref_impl/cntt-ri/chapters/chapter08.md
  doc/ref_model/README.md
  doc/tech/README.md
Labels: Ch 01, Ch 02, Ch 03, Ch 04, Ch 05, Ch 07, Ch 08, Ch 11, Force Merged, RA 1 Core, RA 1 Dev, RA 2 Core, RC 1 Dev, RI 1 Core, RI 1 Dev, RI 1 Labs, RM Core

#939 Post merge cleanup
  doc/ref_impl/cntt-ri/chapters/chapter07.md
  doc/ref_impl/cntt-ri/figures/ch07_pod10_switch_connectivity.png
Labels: Force Merged

#940 [RI] Fix Release (last minute merge)
  doc/ref_impl/cntt-ri/chapters/chapter07.md
Labels: Force Merged, RI 1 Core, RI 1 Dev, bug, major

#893 [Gov Ch09] Adoption & Transition Plan
  doc/gov/chapters/chapter09.md
  doc/gov/figures/nfvi_transition.png
  doc/gov/figures/vnf_cnf_transition.png
Labels: Ch 09, Gov

#942 [RA Figures] Delete Extraneous figure
  doc/ref_arch/figures/Figure_4_1_OpenStack_Network_Layout_20200110.png
Labels: General, RA 1 Core, minor

#947 [RA2 Ch02] adding conformant k8s as a requirement
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, RA 2 Core

#949 [RM Ch04] Fixing minor editorial issues
  doc/ref_model/chapters/chapter04.md
Labels: Ch 07, RM Core, minor

#953 [RA-1 Ch02] Added Traceability Column
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Ch 02, RA 1 Core, minor

#896 [Gov Ch04] Nomination and Selection Process
  doc/gov/chapters/chapter04.md
Labels: Ch 04, Gov

#963 [RM Ch04] Update metrics for Storage
  doc/ref_model/chapters/chapter04.md
Labels: Ch 04, RM Core

#961 [CNTT TSC] Clarifying Scope for WS
  doc/ref_cert/lfn/README.md
  doc/ref_cert/lfn/chapters/chapter01.md
  doc/ref_cert/lfn/chapters/chapter02.md
  doc/ref_cert/lfn/chapters/chapter03.md
  doc/ref_cert/lfn/chapters/chapter04.md
  doc/ref_cert/lfn/chapters/chapter05.md
  doc/ref_cert/lfn/chapters/chapter06.md
  doc/ref_cert/lfn/chapters/chapter07.md
  doc/ref_cert/lfn/chapters/chapter08.md
  doc/ref_cert/lfn/chapters/chapter09.md
  doc/ref_cert/lfn/chapters/chapter10.md
  doc/ref_cert/lfn/chapters/chapter11.md
  doc/ref_cert/lfn/figures/rc1_cookbook_all.png
  doc/ref_cert/lfn/figures/rc1_cookbook_nfvi.png
  doc/ref_cert/lfn/figures/rc1_cookbook_vnf.png
  doc/ref_cert/lfn/figures/rc1_relation.png
  doc/ref_cert/lfn/figures/rc1_scope.png
  doc/ref_impl/cntt-ri/chapters/chapter01.md
  doc/ref_impl/cntt-ri/figures/ri1_relation.png
  doc/ref_impl/cntt-ri/figures/ri1_scope.png
Labels: Ch 01, Ch 02, Ch 03, Ch 04, Ch 05, Ch 06, Ch 07, Ch 08, Ch 09, Ch 10, Ch 11, RC 1 Dev, RC 1 NFVI, RC 1 VNF, RI 1 Core, Technical Steering

#956 [RM Ch 05-09] fixing minor style and formatting errors
  doc/ref_model/chapters/chapter05.md
  doc/ref_model/chapters/chapter06.md
  doc/ref_model/chapters/chapter07.md
  doc/ref_model/chapters/chapter08.md
  doc/ref_model/chapters/chapter09.md
Labels: Ch 05, Ch 06, Ch 07, Ch 08, Ch 09, RM Com, RM Core, RM Ops, minor

#948 [RA2 Ch02] Adding API driven LCM
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Ch 02, RA 2 Core

#1003 [RA2 Ch3]: Fixing links in RA2 Ch3
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Ch 03, RA 2 Core, minor

#1001 [RA-1 Ch01] Deleted unecessary words.
  doc/ref_arch/openstack/chapters/chapter01.md
Labels: Ch 01, RA 1 Core, minor
