Repository anuket-project/anuket-specifications, pull requests merged in 2020-06, with the labels that each got.

#1622 [RA1 Ch02] APIs: requirement added per service
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Baraque, New, bug

#1628 [RA1]RC1] Skip manage_snapshot in CNTT
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: bug

#1629 [RA1][RC1] Skip manage_snapshot in CNTT
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: bug

#1652 [RA2 Tech] Change containeri[s|z]ed to cloud native where appropriate
  doc/ref_arch/kubernetes/chapters/chapter05.md
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: minor

#1650 [RI1 Ch1] Minor link correction
  doc/ref_impl/cntt-ri/chapters/chapter01.md
Labels: minor

#1663 [RA2 Ch1] Link correction
  doc/ref_arch/kubernetes/chapters/chapter01.md
Labels: minor

#1668 Adding readthedocs style build scripts
  .gitignore
  build.sh
  mkdocs.yml
  requirements.txt
  tox.ini
Labels: minor

#1681 [RC1] Remove RemoteStack testing from tempest_heat_cntt
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: bug

#1682 [RC1] Remove RemoteStack testing from tempest_heat_cntt
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: bug

#1651 [RI2 Ch1] - initial content
  doc/ref_impl/cntt-ri2/chapters/chapter01.md
Labels: Baraque

#1665 [Tech OSTK-release] Triggering events: addition
  doc/tech/openstack-release.md
Labels: Baraque

#1683 [RA1 Ch2, Ch4, Ch7]: Correction of links
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/chapters/chapter07.md
Labels: minor

#1685 [RI1 Ch01,Ch08]: Link corrections
  doc/ref_impl/cntt-ri/chapters/chapter01.md
  doc/ref_impl/cntt-ri/chapters/chapter08.md
Labels: minor

#1694 [RC1] Select upstream create_and_list_trunks
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: bug

#1696 [RA1 Ch2, Ch4, Ch7]: Correction of links - baldy
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/chapters/chapter07.md
Labels: minor

#1697 [RC1 Ch2,Ch3,Ch8]: link corrections - baldy
  doc/ref_cert/lfn/chapters/chapter02.md
  doc/ref_cert/lfn/chapters/chapter03.md
  doc/ref_cert/lfn/chapters/chapter08.md
Labels: minor

#1698 [RI1 Ch01,Ch08]: Link corrections
  doc/ref_impl/cntt-ri/chapters/chapter01.md
  doc/ref_impl/cntt-ri/chapters/chapter08.md
Labels: minor

#1687 [RM-CH10] Moved gaps from RA-1
  doc/ref_model/chapters/chapter10.md
Labels: Baraque

#1684 [RC1 Ch2,Ch3,Ch8]: link corrections
  doc/ref_cert/lfn/chapters/chapter02.md
  doc/ref_cert/lfn/chapters/chapter03.md
  doc/ref_cert/lfn/chapters/chapter08.md
Labels: minor

#1560 [RI2] Initial content for lab requirements
  doc/ref_impl/cntt-ri2/chapters/chapter03.md
Labels: Baraque

#1666 [RA2 Ch05]: Clarifications to security
  doc/ref_arch/kubernetes/chapters/chapter05.md
Labels: Baraque

#1677 [RM CH07] 7.1 Introduction re-writing
  doc/ref_model/chapters/chapter07.md
Labels: Baraque

#1693 [RC1] Select upstream create_and_list_trunks
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: bug

#1664 [RI2 Ch04] Initial Draft
  doc/ref_impl/cntt-ri2/chapters/chapter04.md
Labels: Baraque

#1710 [ROOT] Add navigation tips on top document
  README.md
Labels: Baraque

#1686 [RM CH07 ] Interchange 7.4 with 7.3
  doc/ref_model/chapters/chapter07.md
Labels: Baraque, minor

#1723 [RM CH03] Typo "delete |"
  doc/ref_model/chapters/chapter03.md
Labels: Baraque, minor

#1728 [RA1 Ch02, Ch03] Multithreading corrections
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: minor

#1713 [RM Ch06] Fix Table 6.3
  doc/ref_model/chapters/chapter06.md
Labels: minor

#1714 [RA-1 Ch02] Security requirements: Add links to traceability
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Baraque

#1732 [RA2Ch02] Removing hyperthreading
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Baraque

#1725 [RC1][RC2] Move test case integration requirements to a common place
  doc/ref_cert/README.md
  doc/ref_cert/lfn/chapters/chapter02.md
  doc/ref_cert/lfn/chapters/chapter04.md
Labels: Baraque, bug
