Repository anuket-project/anuket-specifications, pull requests merged in 2020-03, with the labels that each got.

#1196 [RM] Delete ch06_ref_nfvi_hw_profiles.PNG
  doc/ref_model/figures/ch06_ref_nfvi_hw_profiles.PNG
Labels: minor

#1167 [RA-1 Ch04] Minor Corrections
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: minor

#1221 RA-1 Ch04 Update chapter04.md to fix error with table headings
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: minor

#1226 [RA-2 Ch01] Correction figures
  doc/ref_arch/kubernetes/chapters/chapter01.md
Labels: minor

#1233 [RA-2 Ch02] Renumber tables
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: minor

#1235 [RA2 CH3] Invalid URL
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: bug, minor

#1234 RA2 Ch4 - update 4th bullet
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: minor

#1237 RA2 Ch2 - remove commented requirements
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: minor

#1238 RA2 Ch2 - remove req.lcm.adp.03
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: minor

#1240 RA2 Ch2 - remove req.kcm.06
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: minor

#1246 RA2 Ch2 - remove req.kcm.03
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: minor

#1253 [RA1][RI1][RC1]Add oauth1 as optional Keystone features
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: minor

#1131 [RM] TFredberg's Network Layering Diagram v2
  doc/ref_model/figures/RMCH-01_Network_Layering_v0-2.png
  doc/ref_model/figures/RMCH-01_Network_Layering_v0-3.png
Labels: minor

#1257 [RM] update '3 types' of profiles to '2 types'
  doc/ref_model/chapters/chapter05.md
Labels: minor

#1266 Pointing the link to new roadmap
  doc/tech/README.md
Labels: bug, minor

#1262 [RM Ch02]: Removing instance type from Ch02
  doc/ref_model/chapters/chapter02.md
Labels: minor

#1230 [RA-1 Ch01] Add section on OpenStack Release
  doc/ref_arch/openstack/chapters/chapter01.md
Labels: minor

#1274 [RM] remove editorial comments about where NFVI profiles are available.
  doc/ref_model/chapters/chapter04.md
Labels: minor

#1275 [RM] Fix reference to figure 9.2
  doc/ref_model/chapters/chapter09.md
Labels: minor

#1276 [RM] Add note on overbooking to allocation ratio
  doc/ref_model/chapters/chapter04.md
Labels: minor

#1248 RA2 Ch2 - uncomment and change req.kcm.08
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: minor

#1239 RA2 Ch2 - remove req.kcm.01
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: minor

#1249 RA2 Ch2 - update value of e.nfvi.res.cap.005
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: minor

#1272 [Gov Ch02]Number the figures
  doc/gov/chapters/chapter02.md
Labels: Force Merged, minor

#1285 [RM] Make object storage optional in RM
  doc/ref_model/chapters/chapter05.md
Labels: minor

#1287 [RM Ch04] Fix the typo
  doc/ref_model/chapters/chapter04.md
Labels: minor

#1288 [RM] Added Link to Network Layering Diagram
  doc/ref_model/chapters/chapter01.md
Labels: minor

#1293 [RM] Update references to Appendix A
  doc/ref_model/README.md
  doc/ref_model/chapters/chapter01.md
Labels: minor

#1291 [RC1 Ch02] Replace VNF profile term with NFVI profile
  doc/ref_cert/lfn/chapters/chapter02.md
  doc/ref_cert/lfn/figures/RC_NFVI_Profiles.png
Labels: minor

#1300 [RA-1 Ch04] compliant/conformant
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: minor

#1290 [TSC]: Updated Milestone diagram/table
  doc/tech/figures/Release Lifecycle.png
  doc/tech/roadmap.md
Labels: bug, minor

#1299 [RA-1 C03] Language edits
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: minor

#1301 [RA-1 Ch05] conformance/compliance
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: minor

#1298 [RA-1 Ch01] Language Fixes
  doc/ref_arch/openstack/README.md
  doc/ref_arch/openstack/chapters/chapter01.md
Labels: minor

#1307 [RA-1 Ch03]Fix the wrong use of </br>
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: minor

#1323 [RM-Appendix A]Delete "v" from "vGPUs"
  doc/ref_model/chapters/appendix-a.md
Labels: minor

#1347 [RM] Fix tables
  doc/ref_model/README.md
  doc/ref_model/chapters/chapter03.md
  doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter05.md
  doc/ref_model/chapters/chapter06.md
  doc/ref_model/chapters/chapter07.md
Labels: minor

#1343 [RI-1 Ch08] Delete Duplicate Content
  doc/ref_impl/cntt-ri/chapters/chapter08.md
Labels: minor

#1182 [RA-1 Ch07] LCM Content
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/chapters/chapter07.md
  doc/ref_arch/openstack/figures/Figure_4_4_Monitoring_Logging_Framework.png
  doc/ref_arch/openstack/figures/Figure_7_1_Monitoring_Logging_Framework.png
Labels: major

#1355 [RA-1 Ch02] Make Object Storage mandatory
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: minor

#1349 [RA2 Ch02] Spelling mistakes
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: minor

#1358 [Tech] Clone Merged PR from RM to Tech A.5
  doc/tech/policies.md
Labels: minor

#1365 [RA-1 README] Delete Terminology from TOC
  doc/ref_arch/openstack/README.md
Labels: minor
