Repository anuket-project/anuket-specifications, pull requests merged in 2020-09, with the labels that each got.

#1944 [RA1 Ch02] APIs: requirement added per service (#1621)
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: bug

#1933 [RA1 Ch01] Add Exceptions
  doc/ref_arch/openstack/chapters/chapter01.md
Labels: Baraque

#1937 [RA1 Ch02] Section 2.3.8./2.4.8 align with RM 7.9.1
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: bug

#1940 [RM Ch3] Fix numbering sequence for 3.3.2 HW Infra. Mgr.
  doc/ref_model/chapters/chapter03.md
Labels: Baraque

#1942 [RM Ch10] Add TOC links for Challenges and Gaps text
  doc/ref_model/chapters/chapter10.md
Labels: Baraque

#1910 [RA1 Ch06] Update chapter for Monitoring and Audit
  doc/ref_arch/openstack/chapters/chapter06.md
Labels: Baraque

#1738 [RC2] Requirements and Testing Principles
  doc/ref_cert/README.md
Labels: Baraque

#1945 [RA1] Nit: access to -> access
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: bug

#1963 [RA1] Nit: access to -> access (#1945)
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: bug, minor

#1968 [RM Ch 3.5] Fixed level of subsections
  doc/ref_model/chapters/chapter10.md
Labels: Baraque, minor

#1965 [Common Ch 00] Updates
  doc/common/chapter00.md
Labels: Baraque, minor

#1964 Update chapter01.md
  doc/ref_model/chapters/chapter01.md
Labels: Baraque, minor

#1938 [RA1 Ch03] Placement Service
  doc/ref_arch/openstack/chapters/chapter03.md
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/figures/RA1-Ch03-Core-Cloud-Infra-Services.png
  doc/ref_arch/openstack/figures/artefacts/RA1-Ch03-Core-Cloud-Infra-Services.pptx
Labels: New

#1973 [RM CH02 ] Use cases renumbering
  doc/ref_model/chapters/chapter02.md
Labels: Baraque

#1962 [RM Ch01] Update for chapters 7 and 8
  doc/ref_model/README.md
  doc/ref_model/chapters/chapter01.md
Labels: Baraque, minor

#1954 [RM Ch4] Fixing link in 4.2.7.3 Forward compatibility
  doc/ref_model/chapters/chapter04.md
Labels: Baraque, minor

#1974 [RM Ch4] Ch 4.3 Figure number alignment and ToC insertion
  doc/ref_model/chapters/chapter04.md
Labels: Baraque, minor

#1969 [RM Ch3] Add Section 3.6 Storage
  doc/ref_model/chapters/chapter03.md
Labels: Baraque

#1960 [RM Ch07] Clean up sections 7-1 to 7-8
  doc/ref_model/chapters/chapter07.md
Labels: Baraque

#1948 [RI2 Ch01] Brief description of deployment scenarios
  doc/ref_impl/cntt-ri2/chapters/chapter01.md
Labels: Baraque

#1946 [RI2 Ch04] Update content with Kuberef details
  doc/ref_impl/cntt-ri2/chapters/chapter04.md
Labels: New

#1949 [RA1 Ch02] Add RM Requirements
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: bug

#1985 [RM Ch10.3.4] Packet acceleration
  doc/ref_model/chapters/chapter10.md
Labels: Baraque

#1903 [RC2] Describe and select Kubernetes API benchmarking
  doc/ref_cert/RC2/chapters/chapter03.md
Labels: Baraque

#1951 [RA1 Ch01] Add FPGA/Accelerator Exceptions
  doc/ref_arch/openstack/chapters/chapter01.md
Labels: bug

#1952 [RA1 Ch06] 6.3.7.2 What to Log
  doc/ref_arch/openstack/chapters/chapter06.md
Labels: bug

#1987 [RM Ch07] Requirements not verifiable
  doc/ref_model/chapters/chapter07.md
Labels: Baraque

#1977 [RA1 Ch08] Gaps - Autoscaling
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: Baraque

#1979 [RA1 Ch-All] Replace NFVI
  doc/ref_arch/openstack/chapters/chapter01.md
  doc/ref_arch/openstack/chapters/chapter03.md
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_arch/openstack/chapters/chapter06.md
  doc/ref_arch/openstack/chapters/chapter07.md
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: Baraque, minor

#1980 [RA1 Ch08] 8.2 OpenStack Release Gaps
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: Baraque

#1986 [RM Ch 10.3 Load Balancing]
  doc/ref_model/chapters/chapter10.md
Labels: Baraque

#1992 [RM Ch2] Renumbering and ToC fixes
  doc/ref_model/chapters/chapter02.md
Labels: Baraque

#1991 Fix broken reference in section 3.2.5.1 of RA1
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: Baraque, minor

#1983 [RM Ch07] Restructuring 7.4.1.2 and 7.4.2
  doc/ref_model/chapters/chapter07.md
Labels: Baraque

#1880 [RC02] Fix Test Integration Introduction
  doc/ref_cert/README.md
Labels: Baraque, minor

#1989 [RC2] Publish CNTT RC2 Cookbook
  README.md
  doc/ref_cert/RC2/chapters/chapter04.md
Labels: Baraque, minor

#1993 [RA1 Ch08] OpenStack release gaps
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: Baraque, minor

#1913 [RI2 Ch2] - initial structure
  doc/ref_impl/cntt-ri2/chapters/chapter02.md
Labels: Baraque, minor

#1996 [RA1 Ch06] Image security
  doc/ref_arch/openstack/chapters/chapter06.md
Labels: Baraque

#1997 [RA1 Ch02] Security requirements traceability
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Baraque

#1998 [RA1 Ch06] Updated content for RBAC
  doc/ref_arch/openstack/chapters/chapter06.md
Labels: Baraque

#2001 [RM Ch07] TOC Links Correction
  doc/ref_model/chapters/chapter07.md
Labels: Baraque, minor

#2003 [RM Status] Update status
  doc/ref_model/README.md
Labels: Baraque, minor

#2004 Update abbreviations.md
  doc/common/abbreviations.md
Labels: Baraque, minor

#2005 [RM References] update
  doc/common/references.md
Labels: Baraque, minor

#2006 [RM chapter00] Reference updates
  doc/common/chapter00.md
Labels: Baraque, minor

#2007 [RM Ch01] Updated references in RM Intro
  doc/ref_model/chapters/chapter01.md
Labels: Baraque, minor

#2002 [RM Ch07] Update CH07 with RA1 changes by @zwarico
  doc/ref_model/chapters/chapter07.md
Labels: Baraque

#2000 [RA1 Ch02] Update chapter02.md
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Baraque

#1988 [RM Ch07] Requirements too generic
  doc/ref_model/chapters/chapter07.md
Labels: Baraque

#2010 [RM Ch10] Update Intro
  doc/ref_model/chapters/chapter10.md
Labels: Baraque

#2008 [RC2] Split kube_bench into kube_bench_master and kube_bench_node
  doc/ref_cert/RC2/chapters/chapter03.md
Labels: Baraque, bug, minor

#2018 [RA2] remove ref to rm appendix and move exceptions to chapter01.md
  doc/ref_arch/kubernetes/chapters/appendix-a.md
  doc/ref_arch/kubernetes/chapters/chapter01.md
Labels: Baraque, bug

#2019 [RM Toc] Update
  doc/ref_model/README.md
Labels: Baraque, Merge-Ready, bug, minor

#2020 [RM Intro] Removed reference to Appendix A
  doc/ref_model/chapters/chapter01.md
Labels: Baraque, Merge-Ready, minor

#2012 [Glossary] Fixing the definition of Workload
  doc/common/glossary.md
Labels: Baraque, Merge-Ready

#2011 [RA2] bogo meter check
  doc/ref_arch/kubernetes/README.md
  doc/ref_arch/kubernetes/chapters/chapter01.md
  doc/ref_arch/kubernetes/chapters/chapter02.md
  doc/ref_arch/kubernetes/chapters/chapter05.md
  doc/ref_arch/kubernetes/chapters/chapter06.md
Labels: Baraque, Merge-Ready, minor

#2014 [RI2] bogo meter check
  doc/ref_impl/cntt-ri2/README.md
  doc/ref_impl/cntt-ri2/chapters/chapter01.md
  doc/ref_impl/cntt-ri2/chapters/chapter03.md
  doc/ref_impl/cntt-ri2/chapters/chapter04.md
Labels: Baraque, Merge-Ready, minor

#2021 [RA1 intro to Ch 04] Typos + wording
  doc/ref_arch/README.md
  doc/ref_arch/openstack/README.md
  doc/ref_arch/openstack/chapters/chapter01.md
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter03.md
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Baraque, minor

#2015 [Glossary] Creating the definition of a tenant instance
  doc/common/glossary.md
Labels: Baraque

#2022 [RC2] Slightly update Opensource CNF onboarding and testing
  doc/ref_cert/RC2/chapters/chapter03.md
Labels: Baraque, Merge-Ready, bug, minor

#2024 [RM Ch07] Proofreading
  doc/ref_model/chapters/chapter07.md
Labels: Baraque, minor

#2016 [RC2] Take kube-hunter vulnerability categories into account
  doc/ref_cert/RC2/chapters/chapter03.md
Labels: Baraque, bug, minor

#2026 [RA1 Ch04] Figure Caption Alignment
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Baraque, Merge-Ready, bug, minor

#2028 [RA1 Ch02, Ch06, Ch07] Proofreading
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter06.md
  doc/ref_arch/openstack/chapters/chapter07.md
Labels: Baraque, Merge-Ready, minor

#1926 [RC2] Restructuring chapter structure and adding reading guide
  README.md
  doc/ref_cert/RC2/README.md
  doc/ref_cert/RC2/chapters/chapter01.md
  doc/ref_cert/RC2/chapters/chapter02.md
  doc/ref_cert/RC2/chapters/chapter03.md
  doc/ref_cert/RC2/chapters/chapter04.md
  doc/ref_cert/RC2/chapters/chapter05.md
  doc/ref_cert/RC2/chapters/chapter06.md
  doc/ref_cert/RC2/chapters/chapter07.md
  doc/ref_cert/RC2/chapters/chapter08.md
Labels: Baraque

#2029 [RM Glossary] Proofreading
  doc/common/glossary.md
Labels: Baraque, minor

#2027 [RM Ch07] 7.9.2 Proofreading
  doc/ref_model/chapters/chapter07.md
Labels: bug, minor
