Repository anuket-project/anuket-specifications, pull requests merged in 2020-05, with the labels that each got.

#1537 [RM Appendix - A] Renaming the chapter
  doc/ref_model/chapters/appendix-a.md
Labels: minor

#1550 [RM Ch05] Grammar correction.
  doc/ref_model/chapters/chapter05.md
Labels: minor

#1540 [ReadMe] Correcting reference to the RM appendix
  doc/ref_model/README.md
Labels: minor

#1553 [RC1] Exclude Octavia testing in tempest_heat
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: minor

#1544 [RA1 Ch06] Security LCM
  doc/ref_arch/openstack/chapters/chapter06.md
Labels: New

#1576 [RA-1 Ch06] Replaced HTML lists with Markdown
  doc/ref_arch/openstack/chapters/chapter06.md
Labels: bug, minor

#1558 [RM Ch03] Fixes issue#1465
  doc/ref_model/chapters/chapter03.md
  doc/ref_model/chapters/chapter05.md
Labels: bug, minor

#1559 [RC] Enable test_network_v6 (linked to req.inf.ntw.16)
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: bug, minor

#1562 [RM Ch03] Fixed wrong sec number
  doc/ref_model/chapters/chapter03.md
Labels: bug, minor

#1567 [Tech Glossary] Clarifying terminology of CPU and threads
  doc/tech/glossary.md
Labels: bug, minor

#1578 Typo Deutsche Telekom
  doc/gov/chapters/chapter01.md
Labels: bug, minor

#1579 [RC1] Blacklist tempest tests newer than Nova microversion 2.53
  doc/ref_cert/lfn/chapters/chapter03.md
Labels: bug, minor

#1580 [RC1 Chp01] add velidation test
  doc/ref_cert/lfn/chapters/chapter01.md
Labels: bug, minor

#1585 [RC1] Fix obsolete refs to RC1 chapter09
  doc/ref_cert/lfn/chapters/chapter02.md
  doc/ref_impl/cntt-ri/chapters/chapter08.md
Labels: bug, minor

#1589 [RA-1] Update Bogo Meter
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: bug, minor

#1591 [RM Ch09]: Correction of data collection requirement
  doc/ref_model/chapters/chapter09.md
Labels: bug, minor

#1593 [RI Ch06] Editorial changes in the Installer prerequisite
  doc/ref_impl/cntt-ri/chapters/chapter06.md
Labels: WIP, bug, minor

#1595 [RA-1 Ch01] Fix links
  doc/ref_arch/openstack/chapters/Terminology.md
  doc/ref_arch/openstack/chapters/chapter01.md
Labels: bug, minor

#1597 [RA1 Ch01] Typos
  doc/ref_arch/openstack/chapters/chapter01.md
Labels: bug, minor

#1607 [RA1 Ch02 + Ch03] Typos + clean up
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: bug, minor

#1613 [RA1] Add instance_password in Nova capabilities
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: bug

#1612 [RA1] Add instance_password in Nova capabilities
  doc/ref_arch/openstack/chapters/chapter05.md
Labels: bug

#1611 [RA-1 All] Figures Cleanup
  doc/ref_arch/openstack/chapters/chapter03.md
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/chapters/chapter07.md
  doc/ref_arch/openstack/figures/RA1-Ch03-Core-Cloud-Infra-Services.png
  doc/ref_arch/openstack/figures/RA1-Ch03-Network Fabric.png
  doc/ref_arch/openstack/figures/RA1-Ch03-Network-Fabric.png
  doc/ref_arch/openstack/figures/RA1-Ch03-OpenStack-Services-Topology.png
  doc/ref_arch/openstack/figures/RA1-Ch04-Basic-host-config-w-Storage-Network.png
  doc/ref_arch/openstack/figures/RA1-Ch04-Basic-host-config.png
  doc/ref_arch/openstack/figures/RA1-Ch04-Ceph.png
  doc/ref_arch/openstack/figures/RA1-Ch04-Containerised-OpenStack-Services-Stack.png
  doc/ref_arch/openstack/figures/RA1-Ch04-Indicative-OpenStack-Network.png
  doc/ref_arch/openstack/figures/RA1-Ch04-Network-Intensive-DPDK.png
  doc/ref_arch/openstack/figures/RA1-Ch04-Network-Intensive-SRIOV.png
  doc/ref_arch/openstack/figures/RA1-Ch07-Monitoring-Logging-Framework.png
  doc/ref_arch/openstack/figures/artefacts/RA1-Ch03-Core-Cloud-Infra-Services.pptx
  doc/ref_arch/openstack/figures/artefacts/RA1-Ch03-Network Fabric.pptx
  doc/ref_arch/openstack/figures/artefacts/RA1-Ch03-OpenStack-Services-Topology.pptx
  doc/ref_arch/openstack/figures/artefacts/RA1-Ch04-Basic-host-config-w-Storage-Network.pptx
  doc/ref_arch/openstack/figures/artefacts/RA1-Ch04-Basic-host-config.pptx
  doc/ref_arch/openstack/figures/artefacts/RA1-Ch04-Ceph.pptx
  doc/ref_arch/openstack/figures/artefacts/RA1-Ch04-Containerised-OpenStack-Services-Stack.pptx
  doc/ref_arch/openstack/figures/artefacts/RA1-Ch04-Indicative-OpenStack-Network.pptx
  doc/ref_arch/openstack/figures/artefacts/RA1-Ch04-Network-Intensive-DPDK.pptx
  doc/ref_arch/openstack/figures/artefacts/RA1-Ch04-Network-Intensive-SRIOV.pptx
  doc/ref_arch/openstack/figures/artefacts/RA1-Ch07-Monitoring-Logging-Framework.pptx
Labels: Baraque

#1631 [Edge] Add files for Edge use cases figures
  doc/tech/figures/RM-Ch05-Usecase1-CDN.png
  doc/tech/figures/RM-Ch05-Usecase2-Private5G.png
  doc/tech/figures/RM-Ch05-Usecase3-V2X.png
  doc/tech/figures/RM-Ch05-Usecase4-vRAN.png
Labels: minor

#1632 [RA2 Ch01]: Correctly credit the authors of extended cloud native pri…
  doc/ref_arch/kubernetes/chapters/chapter01.md
Labels: minor
