Repository anuket-project/anuket-specifications, pull requests merged in 2020-08, with the labels that each got.

#1864 [RM Ch07] Restructuring sections 7.3 to 7.10
  doc/ref_model/chapters/chapter07.md
Labels: Baraque

#1849 [RM Ch04] Table 4-12 Caption Correction
  doc/ref_model/chapters/chapter04.md
Labels: Baraque, minor

#1847 [RM Ch04] Change Title of 4.2.6
  doc/ref_model/chapters/chapter04.md
Labels: Baraque

#1811 [RM Ch10] Update section 10.3.1 of RM
  doc/ref_model/chapters/chapter10.md
Labels: Baraque

#1830 [RI2 Ch4.3.2] Kubernetes Provisioning
  doc/ref_impl/cntt-ri2/chapters/chapter04.md
Labels: Baraque

#1838 [RM Ch07] Isolation between tenants
  doc/ref_model/chapters/chapter07.md
Labels: Baraque, New

#1857 [RA1 Ch08] Move Multi-cloud gap from RA1 Chapter 8 to RM
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: Baraque

#1875 [RM Ch09.1] Introduction
  doc/ref_model/chapters/chapter09.md
Labels: Baraque

#1833 [RI2 Ch01] Relationship with other communities
  doc/ref_impl/cntt-ri2/artefacts/ri2-ch01-relationship_of_communities.pptx
  doc/ref_impl/cntt-ri2/chapters/chapter01.md
  doc/ref_impl/cntt-ri2/figures/ri2-ch01-relationship_of_communities.png
Labels: Baraque

#1855 [RA1 Ch06] System Hardening, password policy
  doc/ref_arch/openstack/chapters/chapter06.md
Labels: Baraque, New

#1886 [RM] Delete approach.md
  doc/common/approach.md
Labels: Baraque

#1852 [RM Ch03] Storage resource description
  doc/ref_model/chapters/chapter03.md
Labels: Baraque, New

#1882 [RM Ch07] Clean up: sections 7.3 to 7.8
  doc/ref_model/chapters/chapter07.md
Labels: Baraque

#1892 [RM CH07] Update section 7.11.1. System Hardening
  doc/ref_model/chapters/chapter07.md
Labels: Baraque

#1885 [RA1 Ch02] Update chapter02.md
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: minor

#1896 [RA2 ch6] - erroneous requirement reference
  doc/ref_arch/kubernetes/chapters/chapter06.md
Labels: bug, minor

#1897 [RM Ch10.3] Load balancing
  doc/ref_model/chapters/chapter10.md
Labels: Baraque

#1899 [RM Ch10.3.5] Multi-cloud gap added
  doc/ref_model/chapters/chapter10.md
Labels: Baraque

#1917 [Chapter 00] Principles update - Acceleration alignment
  doc/common/chapter00.md
Labels: Baraque

#1923 [RM Ch04] acceleration requirements
  doc/ref_model/chapters/chapter04.md
Labels: Baraque

#1922 [RM Appendix Part 3] Removing tech specific exceptions
  doc/ref_model/chapters/appendix-a.md
Labels: Baraque

#1925 [RM Ch04] Table 4-17 and forward compatibility updates
  doc/ref_model/chapters/chapter04.md
Labels: Baraque

#1805 [RA2 Ch4] Add Host OS and Kubernetes specs
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Baraque, WIP
