Repository anuket-project/anuket-specifications, pull requests merged in 2021-02, with the labels that each got.

#2245 Add CNTT RC1 Elbrus release in History
  doc/ref_cert/RC1/README.md
Labels: Elbrus, bug

#2249 Update Ansible community general to 2.0
  doc/ref_cert/RC1/chapters/chapter04.md
  doc/ref_cert/RC2/chapters/chapter03.md
  doc/ref_impl/cntt-ri/chapters/chapter08.md
Labels: Elbrus, bug

#2247 Update latest release to CNTT Elbrus
  doc/ref_arch/kubernetes/README.md
Labels: Elbrus, bug

#2246 Increment Bundle in RC2
  doc/ref_cert/RC2/README.md
Labels: Elbrus, bug

#2074 [TSC]: Removal of the broken link to approach.md
  doc/common/README.md
Labels: Elbrus, bug

#2072 [TSC RTD]: Remove width limitation of content
  doc/_static/css/custom.css
  doc/_templates/layout.html
  doc/conf.py
Labels: Elbrus, Merge-Ready

#2070 [RTD]: Fixing left side menu
  doc/index.rst
  doc/ref_arch/README.md
  doc/ref_cert/README.md
Labels: Elbrus

#2069 [RTD]: Using all sphinx extensions from pip
  build/direct-copy/direct-copy.py
  build/readme-to-index/readme-to-index.py
  build/relative-link-corrector/relative-link-corrector.py
  doc/conf.py
  requirements.txt
Labels: Elbrus, Merge-Ready

#2273 [RA2] Update CODEOWNERS
  CODEOWNERS
Labels: Merge-Ready, minor

#2270 higher res of ch01_scope_k8s.png
  doc/ref_arch/kubernetes/figures/ch01_scope_k8s.png
Labels: Merge-Ready, minor

#2267 [RA2 Ch2] remove req.gen.cnt.01
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Merge-Ready, minor

#2268 [RA2 Ch2] Table fix
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Merge-Ready, minor

#2269 [RA2 Ch02] Rephrase network resiliency requirement
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Merge-Ready
