Repository anuket-project/anuket-specifications, pull requests merged in 2021-01, with the labels that each got.

#2157 [RM Ch09] SW onboarding for infrastructure
  doc/ref_model/chapters/chapter09.md
Labels: Elbrus

#2104 [RA2 Ch4]: Clarifications of differences between CNI multiplexers
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: minor

#2152 [RA2 Ch3] Device Plugin Framework
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Elbrus

#2084 [RI2] Minor updates to content
  doc/ref_impl/cntt-ri2/chapters/chapter01.md
  doc/ref_impl/cntt-ri2/chapters/chapter03.md
  doc/ref_impl/cntt-ri2/chapters/chapter04.md
Labels: minor

#2136 [RA2] ch4 updated with RI2 traceability column
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Elbrus

#2151 [RA2 Ch3] NFD
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Elbrus, minor

#2150 [RA2 Ch3] HW Topology Management
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Elbrus

#2153 [RA2 Ch3] Hardware Acceleration
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Elbrus, minor

#2137 [RA1 Ch04] Add Cloud Topology
  doc/ref_arch/openstack/chapters/chapter03.md
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Elbrus, Merge-Ready

#2133 [RI1][RC1][RC2] Get the Ansible collections when calling RC cookbooks.
  doc/ref_cert/RC1/chapters/chapter04.md
  doc/ref_cert/RC2/chapters/chapter03.md
  doc/ref_impl/cntt-ri/chapters/chapter08.md
Labels: bug

#2131 [RM Ch08] Typo corrections
  doc/ref_model/chapters/chapter08.md
Labels: Elbrus, minor

#2154 [RA2 Ch3] Scheduling pods with non-resilient apps
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Elbrus

#2148 [RA2 Ch3] Memory management
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Elbrus, minor

#2147 [RA2 Ch3] CPU Management
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Elbrus

#2155 [RM Ch04] Primary and secondary network textual motivation.
  doc/ref_model/chapters/chapter04.md
Labels: Elbrus

#2145 [RA2 Ch3] Reorder 3.2.1.x sections and TOC
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Elbrus

#2164 [RM Ch07] Security requirements + Typos
  doc/ref_model/chapters/chapter07.md
Labels: Elbrus

#2179 [RM Ch09] Add CI/CD design requirements
  doc/ref_model/chapters/chapter09.md
Labels: Elbrus

#2185 [RA2 Ch3] Move merged Topology text from 3.2.1.2 to 3.2.1.4
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Elbrus, minor

#2188 [RI2 Ch3] Update purpose of RI2 wrt. RC2
  doc/ref_impl/cntt-ri2/chapters/chapter03.md
Labels: Elbrus

#2181 [RA2 Ch4]: Anuket node labels
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Elbrus

#2183 RA2 ch2 - align with RM security requirements
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Elbrus, WIP, minor

#2121 [RA2] Networking solution changes
  doc/ref_arch/kubernetes/chapters/chapter01.md
  doc/ref_arch/kubernetes/chapters/chapter02.md
  doc/ref_arch/kubernetes/chapters/chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter04.md
  doc/ref_arch/kubernetes/figures/ch03_networking.png
Labels: Elbrus

#2129 [RM Ch09] 9.5.3.1 Pre-Tenant Creation
  doc/ref_model/chapters/chapter09.md
Labels: Elbrus

#2176 Add CNTT RCX as mandatory pipeline steps.
  doc/ref_model/chapters/chapter09.md
Labels: Elbrus

#2161 [RM Ch3] Types of Accelerators
  doc/ref_model/chapters/chapter03.md
Labels: Elbrus

#2166 [RM Ch3] CPU instructions
  doc/ref_model/chapters/chapter03.md
Labels: Elbrus

#2144 [RM Ch03] Hardware Resources description added
  ch03-model-hardware-resources.PNG
  doc/ref_model/chapters/chapter03.md
  doc/ref_model/figures/ch03-model-hardware-resources.PNG
  doc/ref_model/figures/ch03-model-hardware-resources.png
Labels: Elbrus

#2158 [RM Ch3] HW Acceleration Resources
  doc/ref_model/chapters/chapter03.md
Labels: Elbrus

#2160 [RM Ch3] Figure 3-7
  doc/ref_model/figures/ch03-examples-of-server-and-smartswitch-based-nodes.png
  doc/ref_model/figures/ch03-examples-of-server-and-smartswitch-based-nodes.pptx
Labels: Elbrus

#2162 [RM Ch3] Figure 3-8
  doc/ref_model/figures/ch03-hardware-acceleration-in-rm-realization-diagram.png
  doc/ref_model/figures/ch03-hardware-acceleration-in-rm-realization-diagram.pptx
Labels: Elbrus

#2163 [RM Ch3] Infrastructure and app level acceleration
  doc/ref_model/chapters/chapter03.md
Labels: Elbrus

#2169 [RM Ch3] Figure 3-9
  doc/ref_model/figures/ch03-example-smartnic-deployment-model.png
  doc/ref_model/figures/ch03-example-smartnic-deployment-model.pptx
Labels: Elbrus

#2190 [RM Ch3] Table 3-6 caption
  doc/ref_model/chapters/chapter03.md
Labels: Elbrus, minor

#2165 [RM Ch3] Workload Placement
  doc/ref_model/chapters/chapter03.md
Labels: Elbrus

#2174 [RM Ch3] Service Function Chaining
  doc/ref_model/chapters/chapter03.md
Labels: Elbrus

#2167 [RM Ch3] Fixed function accelerators
  doc/ref_model/chapters/chapter03.md
Labels: Elbrus

#2180 [RA1 Ch02] Security requirements traceability
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Elbrus

#2177 [RA1 Ch06] Security content
  doc/ref_arch/openstack/chapters/chapter06.md
Labels: Elbrus

#2192 [RI2 Ch04] Fix Broken Links in Section 4.4
  doc/ref_impl/cntt-ri2/chapters/chapter04.md
Labels: Elbrus, Merge-Ready, bug

#2170 [RM Ch3] SmartNICs
  doc/ref_model/chapters/chapter03.md
Labels: Elbrus

#2168 [RM Ch3] Firmware-programmable adapters
  doc/ref_model/chapters/chapter03.md
Labels: Elbrus

#2171 [RM Ch3] SmartSwitches
  doc/ref_model/chapters/chapter03.md
Labels: Elbrus

#2178 [RM Ch09] - Adding Observability and Monitoring Section
  doc/ref_model/chapters/chapter09.md
  doc/ref_model/figures/RM-Ch09-Fig-Broker-Service.png
  doc/ref_model/figures/RM-Ch09-Fig-Producers-Consumers.png
Labels: Elbrus, Merge-Ready

#2198 [RM Ch05] Fix missing info from Section 5.2.3
  doc/ref_model/chapters/chapter05.md
Labels: Elbrus, bug

#2172 [RM Ch3] Decoupling app from infrastructure
  doc/ref_model/chapters/chapter03.md
Labels: Elbrus

#2149 [RM Ch03] HW Management content additions
  doc/ref_model/chapters/chapter03.md
Labels: Elbrus

#2099 [RI1 Ch3] Multiple vCPU corrections
  doc/ref_impl/cntt-ri/chapters/chapter03.md
Labels: Elbrus

#2175 Update RC2 to v1.20 and to Functest Leguer
  doc/ref_cert/RC2/chapters/chapter02.md
  doc/ref_cert/RC2/chapters/chapter03.md
  doc/ref_cert/README.md
Labels: Elbrus, bug

#2201 [Glossary] Adding test related terminology
  doc/common/glossary.md
Labels: Elbrus

#2202 [RA1] Proofreading
  doc/ref_arch/openstack/README.md
  doc/ref_arch/openstack/chapters/chapter01.md
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/chapters/chapter06.md
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: Elbrus

#2205 [RA2] proofread for Elbrus
  doc/ref_arch/kubernetes/chapters/chapter01.md
  doc/ref_arch/kubernetes/chapters/chapter02.md
  doc/ref_arch/kubernetes/chapters/chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Elbrus, Merge-Ready, minor

#2231 [RA2 README.md] update chapter status for Elbrus
  doc/ref_arch/kubernetes/README.md
Labels: Elbrus, Merge-Ready, minor

#2233 [RA2 README.md] Update chapter status for Elbrus branch
  doc/ref_arch/kubernetes/README.md
Labels: Elbrus

#2234 [RA2] elbrus branch proofread
  doc/ref_arch/kubernetes/chapters/chapter01.md
  doc/ref_arch/kubernetes/chapters/chapter02.md
  doc/ref_arch/kubernetes/chapters/chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Elbrus

#2229 Delete ch03-model-hardware-resources.PNG
  doc/ref_model/figures/ch03-model-hardware-resources.PNG
Labels: Merge-Ready, bug, minor

#2230 [RA2 chapter04] update ra2.ntw.003 from "at least 5" to "up to 5"
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Elbrus, minor

#2225 [RA2 Ch04] Add RI2 traceability links
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Elbrus

#2199 [RM CH5] Minor editorial changes
  doc/ref_model/chapters/chapter05.md
Labels: Elbrus, Merge-Ready, minor

#2244 Fix release date for CNTT RM Elbrus
  doc/ref_model/README.md
Labels: Elbrus, bug

#2204 [RA2] Traceability between chapter02 and chapter04
  doc/ref_arch/kubernetes/chapters/chapter02.md
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Elbrus

#2206 [RC2] Update heading to improve description
  doc/ref_cert/RC2/README.md
Labels: Backlog

#2083 [RC1 Ch2] Clarifying compute metrics measurement
  doc/ref_cert/RC1/chapters/chapter02.md
Labels: Elbrus
