Repository anuket-project/anuket-specifications, pull requests merged in 2021-03, with the labels that each got.

#2279 [RA2 Ch4]: Renumbering of requirements
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Merge-Ready, minor

#2288 [RM Ch10] Removing Gap 10.3.5 Multi-cloud Architecture
  doc/ref_model/chapters/chapter10.md
Labels: New

#2287 [RM Ch10.3] Removing Gap 10.3.4 Hardware Acceleration
  doc/ref_model/chapters/chapter10.md
Labels: New

#2289 [RM Ch10.3] Adjusting ToC and numbers of Gaps section 10.3
  doc/ref_model/chapters/chapter10.md
Labels: bug, minor

#2291 [RM Ch03.01] Update layers definition to align with diagrams
  doc/ref_model/chapters/chapter03.md
Labels: minor

#2308 [RA2 Ch4]: Adding the missing t
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: minor

#2305 [RA2 TOC] Add Appendix B to TOC in README
  doc/ref_arch/kubernetes/README.md
Labels: Merge-Ready, bug, minor

#2310 [TSC] Update CODEOWNERS
  CODEOWNERS
Labels: minor

#2323 [RM Ch03.2] Restructuring Sec 3.2
  doc/ref_model/chapters/chapter03.md
Labels: Kali, New

#2311 [TSC] Update CODEOWNERS
  CODEOWNERS
Labels: New

#2309 [RM Ch3] Update SFC Section 3.5.1
  doc/ref_model/chapters/chapter03.md
Labels: Kali, New
