Repository anuket-project/anuket-specifications, pull requests merged in 2021-05, with the labels that each got.

#2343 [RM Ch07] References to GSMA security documents
  doc/ref_model/chapters/chapter07.md
Labels: Kali, New

#2377 [RM Ch03] Storage Telemetry Definitions
  doc/ref_model/chapters/chapter03.md
Labels: Kali

#2335 [RC2] Add SIG Testing traceability
  doc/ref_cert/RC2/chapters/chapter02.md
Labels: Kali

#2387 [RM Ch3] Virtual Network
  doc/ref_model/chapters/chapter03.md
Labels: Kali, minor

#2386 [RM 3.5.4] Time Sensitive Networking
  doc/ref_model/chapters/chapter03.md
Labels: Kali, Merge-Ready

#2395 [RA2 Ch04] Uniqueness of requirement name.
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Kali, minor

#2411 [RA2 Ch3] Fixing typo in 3.2.1.7 Hardware Acceleration
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Kali, minor

#2409 [RM Ch9] Fix typo in Figure 9-3 Broker Services
  doc/ref_model/figures/RM-Ch09-Fig-Broker-Service.png
Labels: Kali, minor

#2385 [RM Ch09] Tenant Networking Automation
  doc/ref_model/chapters/chapter09.md
Labels: Kali, minor

#2372 [RA2] deleted appendix a
  doc/ref_arch/kubernetes/README.md
  doc/ref_arch/kubernetes/chapters/appendix-a.md
  doc/ref_arch/kubernetes/chapters/appendix-b.md
  doc/ref_arch/kubernetes/chapters/chapter01.md
Labels: minor

#2355 [RA2 Ch3, Ch4]: Require NFD and Device Plugins
  doc/ref_arch/kubernetes/chapters/chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Kali

#2405 [RM Ch02] Make changes to 2.4 for consistency
  doc/ref_model/chapters/chapter02.md
  doc/ref_model/figures/RM-ch02-node-profiles.png
  doc/ref_model/figures/RM-ch02-node-profiles.pptx
Labels: Kali

#2412 [CNTT Artefacts] Figures exist in RM
  artefacts/RM-Ch08-HMC-Image-1.pptx
  artefacts/RM-Ch08-Multi-Cloud-DC-Edge.pptx
  artefacts/RM-Ch08-Telco-Operator-Platform.pptx
Labels: Kali, minor

#2407 [RM Ch04] Obsolete CNTT policies
  doc/ref_model/chapters/chapter04.md
Labels: Kali

#2424 [RA2 Ch3+Ch7] Add Memory Manager
  doc/ref_arch/kubernetes/chapters/chapter03.md
  doc/ref_arch/kubernetes/chapters/chapter07.md
Labels: Kali, Merge-Ready

#2426 Update chapter10.md
  doc/ref_model/chapters/chapter10.md
Labels: Kali, New

#2399 [RM Ch04] Update Section 4.1 capabilities
  doc/ref_model/chapters/chapter04.md
Labels: Kali

#2431 [RM Ch3] Fix table numbering
  doc/ref_model/chapters/chapter03.md
Labels: Kali

#2434 [RM Ch04] 2.4.2 Table Format Error
  doc/ref_model/chapters/chapter02.md
Labels: Kali, minor

#2429 [RM Ch3+4] Moving 4.3 to 3.5.x
  doc/ref_model/chapters/chapter03.md
  doc/ref_model/chapters/chapter04.md
  doc/ref_model/figures/ch04_Multi-VIM_Deployment_Example.png
  doc/ref_model/figures/ch04_Networking_Reference_Model.png
  doc/ref_model/figures/ch04_Underlay_Separation_Example.png
  doc/ref_model/figures/ch04_Underlay_Separation_MultiVIM_Example.png
Labels: Kali

#2439 Add updated figures for Ch03.5 in .png and Source in .pptx
  doc/ref_model/figures/RM-Ch03_5-Networking Reference Model based on the ETSI NFV.png
  doc/ref_model/figures/RM-Ch03_5-Networking Reference Model deployment example.png
  doc/ref_model/figures/RM-Ch03_5-SDN Controller relationship examples.png
  doc/ref_model/figures/RM-Ch03_5-Underlay Networking separation examples.png
  doc/ref_model/figures/RM_Ch03_5-Figures_Sources.pptx
Labels: Kali

#2417 [RA2 Ch3] Containers Bare Metal and in VMs
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Kali

#2422 [RA2 Ch3] Add Custom Resources
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Kali

#2432 [RM Ch05] Align with RM 2.4 changes
  doc/ref_model/chapters/chapter05.md
  doc/ref_model/figures/RM-ch05-hw-profile.png
  doc/ref_model/figures/RM-ch05-sw-profile.png
  doc/ref_model/figures/artefacts/RM-ch05-hw-sw-profiles.pptx
Labels: Kali

#2425 [RA2 Ch1] Updated Figure 1-1
  doc/ref_arch/kubernetes/figures/ch01_scope_k8s.png
  doc/ref_arch/kubernetes/figures/k8s-ref-arch-figures.pptx
Labels: Kali, Merge-Ready

#2325 [RA2] Vendor -> vendor
  doc/ref_arch/kubernetes/README.md
  doc/ref_arch/kubernetes/chapters/appendix-a.md
  doc/ref_arch/kubernetes/chapters/chapter04.md
  doc/ref_arch/kubernetes/chapters/chapter05.md
Labels: Kali, Merge-Ready, minor

#2419 [Common Policies] Fix as per Issue #2418
  doc/common/policies.md
Labels: Kali

#2416 [RA2 Ch3] Operator Pattern
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Kali

#2320 [RM CH4] Basic and High Performance Flavor profiles
  doc/ref_model/chapters/chapter04.md
Labels: Kali

#2392 [RA1] relative links
  doc/ref_arch/openstack/chapters/chapter01.md
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter03.md
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Kali

#2400 [RA2 Ch06] Add most of sigs in RA2 chapter 6
  doc/ref_arch/kubernetes/chapters/chapter06.md
Labels: Kali

#2383 [RA2 Ch4, README]: Adding explicit Kubernetes version
  doc/ref_arch/kubernetes/README.md
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Merge-Ready

#2415 [RA2 Ch3] Device Plugin operation and example
  doc/ref_arch/kubernetes/chapters/chapter03.md
  doc/ref_arch/kubernetes/figures/Ch3_Figure_Device_Plugin_operation.png
  doc/ref_arch/kubernetes/figures/Ch3_Figure_Device_Plugin_operation.pptx
Labels: Kali, Merge-Ready

#2460 [Common Abbreviations] Add Common Abbreviations
  doc/common/abbreviations.md
Labels: Kali

#2436 [RM Ch07.9] IaaC Security Requirements
  doc/ref_model/chapters/chapter07.md
Labels: Kali
