Repository anuket-project/anuket-specifications, pull requests merged in 2021-04, with the labels that each got.

#2338 [RM Ch03.2.2] Virtual Infrastructure Layer section
  doc/ref_model/chapters/chapter03.md
Labels: Kali, New

#2333 [RA2 Ch02] Requirement sec.lcm.017 removed
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Kali, bug

#2312 [RM Ch02] hierarchical infrastructure profiles and flavours
  doc/ref_model/chapters/chapter02.md
Labels: Kali, New

#2348 [RM Ch03] New structure for Hardware
  doc/ref_model/chapters/chapter03.md
Labels: Kali, New

#2332 [RA2] Add Special Interest Group level requirements
  doc/ref_arch/kubernetes/chapters/chapter06.md
  doc/ref_arch/kubernetes/chapters/chapter07.md
Labels: Kali

#2357 add chapters 6,7 to ra2 index
  doc/ref_arch/kubernetes/README.md
Labels: Merge-Ready, minor

#2319 [RM Ch3] Update SFC Section 3.5.1 Architecture
  doc/ref_model/chapters/chapter03.md
  doc/ref_model/figures/ch03-model-sfc-architecture-cnf-2.png
  doc/ref_model/figures/ch03-model-sfc-architecture-cnf.png
  doc/ref_model/figures/ch03-model-sfc-architecture-vnf-2.png
  doc/ref_model/figures/ch03-model-sfc-architecture-vnf.png
Labels: Kali
