Repository anuket-project/anuket-specifications, pull requests merged in 2021-06, with the labels that each got.

#2463 [RM Ch07] Zero Trust Architecture
  doc/ref_model/chapters/chapter07.md
Labels: Kali

#2469 [RM Ch07] Sensitive data encryption
  doc/ref_model/chapters/chapter07.md
Labels: Kali

#2427 [RM Ch7.4] IaaC Security
  doc/ref_model/chapters/chapter07.md
Labels: Kali, New

#2296 [RA1] Removing outdated comments
  doc/ref_arch/openstack/chapters/chapter01.md
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_arch/openstack/figures/ref_arch_ch01_e2e.png
Labels: Kali

#2435 [RC1][RC2] Add --system-site-packages in virtualenv calls
  doc/ref_cert/RC1/chapters/chapter04.md
  doc/ref_cert/RC2/chapters/chapter03.md
  doc/ref_cert/README.md
  doc/ref_impl/cntt-ri/chapters/chapter08.md
Labels: bug

#2456 [RM Ch07] Open source software security
  doc/ref_model/chapters/chapter07.md
Labels: Kali, Merge-Ready

#2479 [RM Chap3.6] Storage Model Diagram
  doc/ref_model/figures/rm-ch3.6-storage-model-02.png
Labels: Kali

#2465 [Common References] Add references
  doc/common/references.md
Labels: Kali

#2471 [RM Ch3.6] Update Storage
  doc/ref_model/chapters/chapter03.md
Labels: Kali, WIP

#2459 [RA2 Ch3] TOC missing "3.2.5.1 Operator Pattern"
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Kali, minor

#2470 [RA1 Ch01, Ch02] Update ref. to technical Policies
  doc/ref_arch/openstack/chapters/chapter01.md
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Kali, minor

#2450 [RM Ch04] Rewrite of 4.2 aligned with RM 2.4
  doc/ref_model/chapters/chapter02.md
  doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter05.md
  doc/ref_model/figures/RM-Ch-04-Workloads-Profiles-Flavours.pptx
  doc/ref_model/figures/RM-ch-04-Workloads-Profiles-Flavours.png
  doc/ref_model/figures/RM-ch04-node-profiles.png
  doc/ref_model/figures/RM-ch04-node-profiles.pptx
Labels: Kali

#2447 [RA1 Ch04] Align with RM 2.4
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Kali

#2414 [RA2 Ch04, RI2 Ch02,04] Update references and configuration options
  doc/ref_arch/kubernetes/chapters/chapter04.md
  doc/ref_impl/cntt-ri2/chapters/chapter02.md
  doc/ref_impl/cntt-ri2/chapters/chapter04.md
Labels: Kali

#2475 [RA1 Ch02] Requirements updated per RM Ch07
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Kali

#2446 [RA1 Ch03] Align with RM 2.4
  doc/ref_arch/openstack/chapters/chapter03.md
Labels: Kali

#2445 [RA1 Ch02] Align with RM 2.4
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Kali

#2373 [RA2] cluster lcm in chapters 1 2 3
  doc/ref_arch/kubernetes/chapters/chapter01.md
  doc/ref_arch/kubernetes/chapters/chapter02.md
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Kali, Merge-Ready, New

#2484 [RA1 -all Ch] Proofreading
  doc/ref_arch/openstack/README.md
  doc/ref_arch/openstack/chapters/chapter01.md
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter03.md
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_arch/openstack/chapters/chapter06.md
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: Kali, Merge-Ready

#2345 [RM Ch3] Update SFC Section 3.5.5 call flows
  doc/ref_model/chapters/chapter03.md
  doc/ref_model/figures/ch03-model-sfc-data-flow.png
  doc/ref_model/figures/ch03-model-sfc-info-create-flow.png
Labels: Kali, New

#2480 [RM Chap3.6] Storage Section Update #2
  doc/ref_model/chapters/chapter03.md
Labels: Kali

#2477 |RC1] nit: throughout -> throughput
  doc/ref_cert/RC1/chapters/chapter02.md
Labels: Kali, minor

#2488 [RA2 Ch06] nit: Replace tabs by spaces
  doc/ref_arch/kubernetes/chapters/chapter06.md
Labels: bug

#2487 [RC2] Update Kubernetes and Functest releases in CNTT RC2
  doc/ref_arch/kubernetes/chapters/chapter07.md
  doc/ref_cert/RC2/chapters/chapter02.md
  doc/ref_cert/RC2/chapters/chapter03.md
  doc/ref_cert/README.md
Labels: Kali, Merge-Ready

#2473 [RA2] relative links
  doc/ref_arch/kubernetes/chapters/chapter01.md
Labels: Kali

#2506 [RC2] Add Kali in Bundle/Version History
  doc/ref_cert/RC2/README.md
Labels: Kali

#2494 Update the mandatory RC2 test case list
  doc/ref_arch/kubernetes/chapters/chapter06.md
  doc/ref_cert/RC2/chapters/chapter02.md
Labels: Kali

#2504 Update release of RA2
  doc/ref_arch/kubernetes/README.md
Labels: Kali, minor

#2503 [RC1] Add Kali in Bundle/Version History
  doc/ref_cert/RC1/README.md
Labels: Kali

#2505 [RC2] Add netperf in RC2 test case list
  doc/ref_cert/RC2/chapters/chapter02.md
Labels: Kali

#2493 [RM Ch 4.2.7] Removing "one stop shop" section
  doc/ref_model/chapters/chapter04.md
Labels: Kali, Merge-Ready, Proofreading

#2514 [RM] nit: Add black line before Table 9-1 ref
  doc/ref_model/chapters/chapter09.md
Labels: Kali

#2515 [RM] Add 9 1 ref
  doc/ref_model/chapters/chapter09.md
Labels: Kali

#2516 nit: end bold
  doc/ref_model/chapters/chapter08.md
Labels: Kali
