Repository anuket-project/anuket-specifications, pull requests merged in 2021-08, with the labels that each got.

#2519 [RC1] Update to Functest Wallaby
  doc/ref_cert/RC1/chapters/chapter03.md
  doc/ref_cert/RC1/chapters/chapter04.md
  doc/ref_cert/README.md
  doc/ref_impl/cntt-ri/chapters/chapter08.md
Labels: Lakelse

#2543 [RA1 Ch06 & 07] Typos
  doc/ref_arch/openstack/chapters/chapter06.md
  doc/ref_arch/openstack/chapters/chapter07.md
Labels: bug, minor

#2550 [RM ch03] remove redundant figures from root of repo
  ch03-model-hardware-manager.pptx
  ch03-model-hardware-resources.PNG
Labels: Lakelse

#2528 [TSC]: Update README in the root of the repo
  README.md
Labels: Lakelse

#2526 [docs] Applying Anuket theme to specification docs
  doc/_static/anuket-logo.png
  doc/_static/css/custom.css
  doc/_static/favicon.ico
  doc/_templates/layout.html
  doc/_templates/my_custom_sidebar.html
  doc/_templates/relations.html
  doc/conf.py
  doc/index.rst
  doc/ref_arch/README.md
  requirements.txt
Labels: Lakelse

#2556 [RA1 Ch04 Ch06] Typos
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/chapters/chapter06.md
Labels: minor, Lakelse

#2560 [RA2 Ch02] Bold "must" as per Issue #2558
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: minor, Lakelse

#2570 [RC1][RC2] community.kubernetes -> kubernetes.core
  doc/ref_cert/RC1/chapters/chapter04.md
  doc/ref_cert/RC2/chapters/chapter03.md
  doc/ref_impl/cntt-ri/chapters/chapter08.md
Labels: Kali, Lakelse

#2583 [RC2] Remove DNS configMap nameserver testing
  doc/ref_cert/RC2/chapters/chapter02.md
Labels: Kali, Lakelse

#2569 [RC2] Blacklist git_repo testing as discussed upstream
  doc/ref_cert/RC2/chapters/chapter02.md
Labels: Kali, Lakelse
