Repository anuket-project/anuket-specifications, pull requests merged in 2021-09, with the labels that each got.

#2534 [RA2 Ch3] add section header for 3.2.1.9
  doc/ref_arch/kubernetes/chapters/chapter03.md
Labels: Merge-Ready, Lakelse

#2592 [RM Ch03] Insert Chapter 3.8 intro text
  doc/ref_model/chapters/chapter03.md
Labels: Lakelse

#2566 [RM Chap3.6/Chap 8] Add general cloud storage model & Multi-Cloud Interactions Diagram
  doc/ref_model/artefacts/anuket-ref-model-chap-3.6-storage-diagrams-01.pptx
  doc/ref_model/artefacts/anuket-ref-model-chap-8-multicloud-interactions-diagrams-01.pptx
  doc/ref_model/figures/multi-cloud-interactions-02.png
  doc/ref_model/figures/rm-chap3.6-general-cloud-storage-model-01.png
Labels: Lakelse

#2594 [RM Ch 7 &8] Update references.md with
  doc/common/references.md
Labels: New, Lakelse

#2610 [RC1][RC2] Remove falsy <br> in RC chapters
  doc/ref_cert/RC1/chapters/chapter01.md
  doc/ref_cert/RC2/chapters/chapter01.md
Labels: Lakelse

#2608 [RC1][RC2] Remove all "Back" refs
  doc/ref_cert/RC1/chapters/chapter01.md
  doc/ref_cert/RC1/chapters/chapter02.md
  doc/ref_cert/RC1/chapters/chapter03.md
  doc/ref_cert/RC1/chapters/chapter04.md
  doc/ref_cert/RC1/chapters/chapter05.md
  doc/ref_cert/RC1/chapters/chapter06.md
  doc/ref_cert/RC1/chapters/chapter07.md
  doc/ref_cert/RC1/chapters/chapter08.md
  doc/ref_cert/RC2/chapters/chapter01.md
  doc/ref_cert/RC2/chapters/chapter02.md
  doc/ref_cert/RC2/chapters/chapter03.md
  doc/ref_cert/RC2/chapters/chapter04.md
  doc/ref_cert/RC2/chapters/chapter05.md
  doc/ref_cert/RC2/chapters/chapter06.md
  doc/ref_cert/README.md
Labels: Lakelse

#2604 [RA1] Remove useless html paragraphs
  doc/ref_arch/openstack/chapters/chapter04.md
Labels: Lakelse

#2587 [RA2][RC2] Update to K8s v1.22
  doc/ref_arch/kubernetes/README.md
  doc/ref_arch/kubernetes/chapters/chapter07.md
  doc/ref_cert/RC2/chapters/chapter02.md
  doc/ref_cert/RC2/chapters/chapter03.md
  doc/ref_cert/README.md
Labels: Merge-Ready, Lakelse

#2552 [RA1][RC1] Update mandatory extensions
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_cert/RC1/chapters/chapter03.md
Labels: Lakelse

#2615 [RA2 Ch4] add spec for ipam cni
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Merge-Ready, Lakelse

#2616 Update references.md
  doc/common/references.md
Labels: Lakelse

#2621 [RA1 Ch02] Correct Typo/language and misc issues
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Kali, Lakelse

#2593 [RM Ch04] New Accelerator API Requirements chapter
  doc/ref_model/chapters/chapter04.md
Labels: Lakelse

#2595 [RM Ch7.2] Attacker behaviour table
  doc/ref_model/chapters/chapter07.md
Labels: Lakelse

#2596 [RM Ch 8.2.4] Multi-cloud Security
  doc/ref_model/chapters/chapter08.md
Labels: Lakelse

#2619 [RA1 Ch01] Correct Typo/language and misc issues
  doc/ref_arch/openstack/chapters/chapter01.md
Labels: Merge-Ready, Kali, Lakelse

#2630 [RA-1 Ch08] Typo's, spelling, language corrections
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: Kali, Lakelse

#2572 [RM Chap 3.5.7] Added short version of Kubernetes Networking Semantics
  doc/ref_model/chapters/chapter03.md
Labels: Lakelse
