Repository anuket-project/anuket-specifications, pull requests merged in 2021-12, with the labels that each got.

#2738 [nit] Fix blank lines in RC1
  doc/ref_cert/RC1/chapters/chapter02.md
Labels: Lakelse

#2744 [RC1] Make title level consistents
  doc/ref_cert/RC1/chapters/chapter05.md
Labels: bug, Lakelse

#2743 [RC1] Add alt text in all image links
  doc/ref_cert/RC1/chapters/chapter05.md
  doc/ref_cert/RC1/chapters/chapter07.md
Labels: bug, Lakelse

#2740 [RI2] Dos2unix chapter 1, 3, 4 and 5
  doc/ref_impl/cntt-ri2/chapters/chapter01.md
  doc/ref_impl/cntt-ri2/chapters/chapter03.md
  doc/ref_impl/cntt-ri2/chapters/chapter04.md
  doc/ref_impl/cntt-ri2/chapters/chapter05.md
Labels: bug, Lakelse

#2745 [RI2] Update README for Lakelse
  doc/ref_impl/cntt-ri2/README.md
Labels: Lakelse

#2748 [RC2] Remove all bogometers in RC2
  doc/ref_cert/RC2/README.md
  doc/ref_cert/RC2/chapters/chapter01.md
  doc/ref_cert/RC2/chapters/chapter02.md
  doc/ref_cert/RC2/chapters/chapter03.md
  doc/ref_cert/RC2/chapters/chapter04.md
  doc/ref_cert/RC2/chapters/chapter05.md
  doc/ref_cert/RC2/chapters/chapter06.md
Labels: bug, Lakelse

#2750 Fix links and remove bogometers
  doc/ref_cert/RC1/README.md
  doc/ref_cert/RC1/chapters/chapter01.md
  doc/ref_cert/RC1/chapters/chapter02.md
  doc/ref_cert/RC1/chapters/chapter03.md
  doc/ref_cert/RC1/chapters/chapter04.md
  doc/ref_cert/RC1/chapters/chapter05.md
  doc/ref_cert/RC1/chapters/chapter06.md
  doc/ref_cert/RC1/chapters/chapter07.md
  doc/ref_cert/RC1/chapters/chapter08.md
Labels: Lakelse

#2754 [RC1][RC2] Update all RTD links to stable-lakelse
  doc/ref_cert/RC1/chapters/chapter01.md
  doc/ref_cert/RC1/chapters/chapter02.md
  doc/ref_cert/RC1/chapters/chapter03.md
  doc/ref_cert/RC1/chapters/chapter05.md
  doc/ref_cert/RC2/chapters/chapter02.md
  doc/ref_cert/RC2/chapters/chapter04.md
Labels: bug, Lakelse

#2751 Update RC1 & RC2 bundles
  doc/ref_arch/kubernetes/README.md
  doc/ref_arch/openstack/README.md
  doc/ref_cert/RC1/README.md
  doc/ref_cert/RC2/index.rst
Labels: bug, Lakelse

#2753 [RC1] Convert md to rst
  doc/ref_cert/RC1/README.md
  doc/ref_cert/RC1/chapters/chapter01.md
  doc/ref_cert/RC1/chapters/chapter01.rst
  doc/ref_cert/RC1/chapters/chapter02.md
  doc/ref_cert/RC1/chapters/chapter02.rst
  doc/ref_cert/RC1/chapters/chapter03.md
  doc/ref_cert/RC1/chapters/chapter03.rst
  doc/ref_cert/RC1/chapters/chapter04.md
  doc/ref_cert/RC1/chapters/chapter04.rst
  doc/ref_cert/RC1/chapters/chapter05.md
  doc/ref_cert/RC1/chapters/chapter05.rst
  doc/ref_cert/RC1/chapters/chapter06.md
  doc/ref_cert/RC1/chapters/chapter06.rst
  doc/ref_cert/RC1/chapters/chapter07.md
  doc/ref_cert/RC1/chapters/chapter07.rst
  doc/ref_cert/RC1/chapters/chapter08.md
  doc/ref_cert/RC1/chapters/chapter08.rst
  doc/ref_cert/RC1/conf.py
  doc/ref_cert/RC1/index.rst
  doc/ref_cert/RC1/test-requirements.txt
  doc/ref_cert/RC1/tox.ini
Labels: Lakelse

#2755 Symlink README.rst to index.rst
  doc/ref_cert/RC2/README.rst
  doc/ref_cert/RC2/conf.py
Labels: bug

#2757 [RC2] Leverage the doc role as proposed by Sphinx
  doc/ref_cert/RC2/chapters/chapter02.rst
  doc/ref_cert/RC2/chapters/chapter04.rst
  doc/ref_cert/RC2/conf.py
Labels: bug, Lakelse

#2759 [RC1] Leverage the doc role as proposed by Sphinx
  doc/ref_cert/RC1/chapters/chapter01.rst
  doc/ref_cert/RC1/chapters/chapter02.rst
  doc/ref_cert/RC1/chapters/chapter03.rst
  doc/ref_cert/RC1/chapters/chapter05.rst
  doc/ref_cert/RC1/chapters/chapter08.rst
  doc/ref_cert/RC1/conf.py
Labels: bug

#2760 Symlink README.rst to index.rst (#2755)
  doc/ref_cert/RC1/README.rst
  doc/ref_cert/RC1/chapters/chapter04.rst
Labels: bug

#2761 [RC1] nit: fix conf.py
  doc/ref_cert/RC1/conf.py
Labels: bug, Lakelse

#2763 [RC1][RC2] Avoid duplicating introduction
  doc/ref_cert/RC1/chapters/chapter01.md
  doc/ref_cert/RC2/chapters/chapter01.md
Labels: bug, Lakelse

#2752 Clean concreate deps in the requirement file
  requirements.txt
  test-requirements.txt
  tox.ini
Labels: bug, Lakelse

#2765 [COMMON] Put rtd settings in tree
  .readthedocs.yaml
Labels: bug, Lakelse

#2764 [RC1][RC2] Fix obsolete links detected by linkcheck
  .readthedocs.yaml
  doc/ref_cert/README.md
  requirements.txt
  test-requirements.txt
  tox.ini
Labels: bug, Lakelse

#2767 Exclude .tox directories in Sphinx conf.py
  doc/conf.py
  test-requirements.txt
Labels: bug

#2770 [RM README] Lakelse Release Date Correction
  doc/ref_model/README.md
Labels: Lakelse

#2774 [RM Ch02] Second Figure 2-1 correction
  doc/ref_model/chapters/chapter02.md
Labels: bug, Lakelse
