Repository anuket-project/anuket-specifications, pull requests merged in 2021-11, with the labels that each got.

#2674 [RA-1 All] Introduce OpenStack "server" concept
  doc/common/glossary.md
  doc/ref_arch/openstack/chapters/chapter01.md
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter03.md
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_arch/openstack/chapters/chapter06.md
  doc/ref_arch/openstack/chapters/chapter07.md
  doc/ref_arch/openstack/chapters/chapter08.md
Labels: Lakelse

#2690 [RA2 ch2] make k8s-specific requirements consistent
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: minor

#2693 [RM Ch05] Typos + requirements types
  doc/ref_model/chapters/chapter05.md
Labels: Proofreading, Lakelse

#2692 clean up chapter 7 and remove hardcoded versions
  doc/ref_arch/kubernetes/chapters/chapter07.md
Labels: Proofreading, Lakelse

#2691 [RA1] proofreading Ch. 3 to 8
  doc/ref_arch/openstack/chapters/chapter03.md
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_arch/openstack/chapters/chapter06.md
  doc/ref_arch/openstack/chapters/chapter07.md
Labels: Proofreading, Lakelse

#2689 [RA1 Ch02] Proofreading
  doc/ref_arch/openstack/chapters/chapter02.md
Labels: Proofreading, Lakelse

#2696 [RM Ch04] Proofreading
  doc/ref_model/chapters/chapter04.md
Labels: Proofreading

#2694 [RA2 Ch02] Reqs aligned with RM and security refs
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Proofreading, Lakelse

#2695 [RM Ch10] Gaps sections updated
  doc/ref_model/chapters/chapter10.md
Labels: Proofreading, Lakelse

#2698 [Common All] Proofreading incl. changes to CNTT
  doc/common/README.md
  doc/common/chapter00.md
  doc/common/policies.md
  doc/common/roadmap.md
  doc/common/technologies.md
Labels: Lakelse

#2704 [RI README] Proofreading
  doc/ref_impl/README.md
Labels: Proofreading

#2680 [RA2 Ch04] Split ra2.k8s.013 into two
  doc/ref_arch/kubernetes/chapters/chapter04.md
  doc/ref_arch/kubernetes/chapters/chapter06.md
Labels: Proofreading, Lakelse

#2681 [RA2 Ch01] Correct OVP Phase 2
  doc/ref_arch/kubernetes/chapters/chapter01.md
Labels: Proofreading, Lakelse

#2703 [RA README] Proofreading
  doc/common/README.md
  doc/common/policies.md
  doc/common/roadmap.md
  doc/common/technologies.md
  doc/ref_arch/README.md
Labels: Proofreading

#2697 [RM Ch03.6] Storage principles
  doc/ref_model/chapters/chapter03.md
Labels: Proofreading, Lakelse

#2688 [RM] Harmonizing capitalization - huge pages
  doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter05.md
Labels: Proofreading, Lakelse

#2723 [RM Ch 8] Chapter 8 proofreading
  doc/ref_model/chapters/chapter08.md
Labels: Proofreading, Lakelse

#2714 [RA2] update readme
  doc/ref_arch/kubernetes/README.md
Labels: Lakelse

#2713 [RA2 Ch4] proofreading 4.1 to 4.5
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Proofreading

#2711 [RA2 Ch04] Proofreading 4.6 - 4.10
  doc/ref_arch/kubernetes/chapters/chapter04.md
Labels: Proofreading

#2721 [RM Ch04] Proofreading
  doc/ref_model/chapters/chapter04.md
Labels: Proofreading

#2724 [RM Chap3] Proofreading
  doc/ref_model/chapters/chapter03.md
Labels: Proofreading, Lakelse

#2726 [RM Chap8] Proofreading
  doc/ref_model/chapters/chapter08.md
Labels: Proofreading, Lakelse

#2722 [RA1 README] Release version
  doc/ref_arch/openstack/README.md
Labels: Lakelse

#2678 [RI2] proofreading and removal of some HTML tags
  doc/ref_impl/cntt-ri2/chapters/chapter01.md
  doc/ref_impl/cntt-ri2/chapters/chapter02.md
  doc/ref_impl/cntt-ri2/chapters/chapter03.md
  doc/ref_impl/cntt-ri2/chapters/chapter04.md
  doc/ref_impl/cntt-ri2/chapters/chapter05.md
Labels: Lakelse

#2677 [RC2] proofreading and adding missing bogometers
  doc/ref_cert/RC2/README.md
  doc/ref_cert/RC2/chapters/chapter01.md
  doc/ref_cert/RC2/chapters/chapter02.md
  doc/ref_cert/RC2/chapters/chapter03.md
  doc/ref_cert/RC2/chapters/chapter04.md
  doc/ref_cert/RC2/chapters/chapter05.md
  doc/ref_cert/RC2/chapters/chapter06.md
  doc/ref_cert/RC2/figures/bogo_com.png
  doc/ref_cert/RC2/figures/bogo_dfp.png
  doc/ref_cert/RC2/figures/bogo_lsf.png
  doc/ref_cert/RC2/figures/bogo_sdc.png
Labels: Lakelse

#2712 [RA2 Ch6] sync features with SIG tables
  doc/ref_arch/kubernetes/chapters/chapter06.md
Labels: minor

#2730 [RA2 Ch06] Fix description of Feature:NodeAuthorizer in section 6.4
  doc/ref_arch/kubernetes/chapters/chapter06.md
Labels: Proofreading

#2710 [ra2 ch2] sync ch2 to 4 references 2.2.1 to 2.2.5
  doc/ref_arch/kubernetes/chapters/chapter02.md
Labels: Proofreading

#2728 [RC2 Ch] Correct test case to test suite
  doc/ref_cert/RC2/chapters/chapter02.md
Labels: Proofreading
