Repository anuket-project/anuket-specifications, pull requests merged in 2022-09, with the labels that each got.

#3140 [RA1 Ch03 Ch04] Titles made unique
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
Labels: GSMA

#3138 Allow generating docx for GSMA
  doc/ref_arch/openstack/chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter05.rst
  doc/ref_arch/openstack/chapters/chapter06.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
  doc/ref_arch/openstack/conf.py
  doc/ref_arch/openstack/tox.ini
Labels: GSMA

#3141 Fix a few incorrect refs
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
Labels: GSMA

#3142 [RA1 Ch01] Acronyms added
  doc/ref_arch/openstack/chapters/chapter01.rst
Labels: GSMA

#3131 [RA1 Ch01] Terminology section completed
  doc/ref_arch/openstack/chapters/chapter01.rst
Labels: GSMA

#3144 [RA1 Ch01] Principles & doc organisation
  doc/ref_arch/openstack/chapters/chapter01.rst
Labels: GSMA

#3153 [RA&] Fix minor rst issues
  doc/ref_arch/openstack/chapters/chapter08.rst
Labels: bug, GSMA

#3150 [RA1] Add biblio for chapter 8
  doc/ref_arch/openstack/chapters/chapter08.rst
  doc/ref_arch/openstack/refs.bib
Labels: GSMA

#3154 [RA1] Remove duplicated {{ and }} in title
  doc/ref_arch/openstack/refs.bib
Labels: GSMA

#3155 [RA1] Fixed a unsolved merge conflict
  doc/ref_arch/openstack/chapters/chapter08.rst
Labels: bug, GSMA

#3045 [root]: Butifying the link list
  doc/index.rst
Labels: Merge-Ready

#3157 [RA1] Typos British English
  doc/ref_arch/openstack/chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
  doc/ref_arch/openstack/chapters/chapter08.rst
Labels: minor, GSMA

#3156 [RA1] Remove RC1 content
  README.rst
  doc/conf.py
  doc/index.rst
  doc/ref_cert/RC1/README.rst
  doc/ref_cert/RC1/chapters/chapter01.rst
  doc/ref_cert/RC1/chapters/chapter02.rst
  doc/ref_cert/RC1/chapters/chapter03.rst
  doc/ref_cert/RC1/chapters/chapter04.rst
  doc/ref_cert/RC1/chapters/chapter05.rst
  doc/ref_cert/RC1/chapters/chapter06.rst
  doc/ref_cert/RC1/chapters/chapter07.rst
  doc/ref_cert/RC1/chapters/chapter08.rst
  doc/ref_cert/RC1/chapters/media/2269537e91994b5b49858734fe73bbb1.png
  doc/ref_cert/RC1/chapters/media/c665a3d13461f67ea8729042cf8d975d.png
  doc/ref_cert/RC1/chapters/media/f3b0c214bc58c44406fd5b801d3dfc88.png
  doc/ref_cert/RC1/chapters/media/f3b0c214bc58c44406fd5b801d3dfc89.png
  doc/ref_cert/RC1/chapters/media/f3b0c214bc58c44406fd5b801d3dfc90.png
  doc/ref_cert/RC1/chapters/media/f3b0c214bc58c44406fd5b801d3dfc91.png
  doc/ref_cert/RC1/conf.py
  doc/ref_cert/RC1/figures/NFVI-badge.jpg
  doc/ref_cert/RC1/figures/NFVI_certifying_vendor_swhw_solutions.jpg
  doc/ref_cert/RC1/figures/RC_CertificationMethodology.jpg
  doc/ref_cert/RC1/figures/RC_NFVI_Profiles.png
  doc/ref_cert/RC1/figures/RC_NFVI_VNF_Instance_Type_25Nov2019.jpg
  doc/ref_cert/RC1/figures/RC_Ref_NFVI_Profiles.jpg
  doc/ref_cert/RC1/figures/RC_certifying_methodlogy_25Nov2019.jpg
  doc/ref_cert/RC1/figures/RM-ch04-node-profiles.png
  doc/ref_cert/RC1/figures/VNF-badge.jpg
  doc/ref_cert/RC1/figures/bogo_ifo.png
  doc/ref_cert/RC1/figures/rc1_cookbook_all.png
  doc/ref_cert/RC1/figures/rc1_cookbook_nfvi.png
  doc/ref_cert/RC1/figures/rc1_cookbook_vnf.png
  doc/ref_cert/RC1/figures/rc1_relation.png
  doc/ref_cert/RC1/figures/rc1_scope.png
  doc/ref_cert/RC1/index.rst
  doc/ref_cert/RC1/test-requirements.txt
  doc/ref_cert/RC1/tox.ini
  doc/ref_cert/conf.py
  doc/ref_cert/index.rst
  doc/ref_impl/cntt-ri/chapters/chapter08.rst
  doc/ref_impl/cntt-ri/conf.py
Labels: GSMA

#3158 [RA Ch01] Text revised
  doc/ref_arch/openstack/chapters/chapter01.rst
Labels: GSMA

#3143 Add all Chapitre5 links to biblio
  doc/ref_arch/openstack/chapters/chapter05.rst
  doc/ref_arch/openstack/refs.bib
Labels: GSMA

#3159 Fix false hardcoded url in README.rst
  README.rst
  doc/ref_impl/cntt-ri/tox.ini
Labels: bug

#3152 [RM Ch03] Change openconfig link Issue #3151
  doc/ref_model/chapters/chapter03.rst
Labels: bug

#3161 [RA1] Convert bibtex to tables for GSMA
  doc/ref_arch/openstack/chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter08.rst
  doc/ref_arch/openstack/chapters/chapter09.rst
  doc/ref_arch/openstack/conf.py
  doc/ref_arch/openstack/refs.bib
  doc/ref_arch/openstack/test-requirements.txt
  doc/ref_arch/openstack/togsma.py
  doc/ref_arch/openstack/tox.ini
Labels: GSMA

#3164 [nit] call new py script
  doc/ref_arch/openstack/tox.ini
Labels: bug

#3163 [RA1, Common] Architectural Principles
  doc/common/chapter00.rst
  doc/ref_arch/openstack/chapters/chapter01.rst
Labels: bug

#3171 [RA1] Stop corrupting docx generated by pandoc
  doc/ref_arch/openstack/chapters/chapter04.rst
Labels: bug, GSMA

#3162 Proof reading RA1 Chapter8
  doc/ref_arch/openstack/chapters/chapter08.rst
Labels: GSMA

#3172 nit: Fix #3118
  doc/ref_cert/RC2/index.rst
Labels: bug

#3173 Nit: first ref is [1]
  doc/ref_arch/openstack/togsma.py
Labels: bug

#3169 [RM Ch06] Corrections from GSMA review
  doc/ref_model/chapters/chapter03.rst
  doc/ref_model/chapters/chapter04.rst
  doc/ref_model/chapters/chapter06.rst
  doc/ref_model/chapters/chapter08.rst
  doc/ref_model/chapters/chapter09.rst
Labels: GSMA

#3174 [RA1] Add reference-doc when converting
  doc/ref_arch/openstack/gsma/template.docx
  doc/ref_arch/openstack/tox.ini
Labels: GSMA

#3170 [RA1 Ch[02-08]] Typo, grammar and empty tables
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter06.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
  doc/ref_arch/openstack/chapters/chapter08.rst
Labels: minor

#3185 [RA1] Stop bookmarks in lowercase in single rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter08.rst
  doc/ref_arch/openstack/template.docx
  doc/ref_arch/openstack/togsma.py
  doc/ref_arch/openstack/tox.ini
Labels: GSMA

#3186 [RA1 Refs] References sorted and reordered
  doc/ref_arch/openstack/refs.bib
Labels: GSMA

#3168 [RM Ch05] Corrections from GSMA review
  doc/ref_model/chapters/chapter05.rst
Labels: GSMA

#3202 Switch to list table
  doc/ref_arch/openstack/chapters/chapter05.rst
Labels: bug, GSMA

#3206 Update to latest OpenStack stable upper constraints
  doc/ref_cert/RC2/tox.ini
Labels: Nile Release

#3204 Remove former md bookmark.
  doc/ref_arch/openstack/chapters/chapter02.rst
Labels: bug, GSMA

#3203 Add bash in external programs allowed by tox
  doc/ref_arch/openstack/tox.ini
Labels: bug

#3205 Remove all non ascii chars
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter06.rst
  doc/ref_arch/openstack/chapters/chapter08.rst
  doc/ref_cert/RC2/chapters/chapter02.rst
Labels: bug, GSMA

#3207 [RA1] Switch to en_GB (Sphinx spellcheck)
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
Labels: bug, GSMA

#3114 [RA2][pcac]: Correcting document title
  doc/ref_arch/kubernetes/README.rst
  doc/ref_arch/kubernetes/conf.py
Labels: Merge-Ready

#3130 [docs] Fixing broken link to terms of reference
  doc/index.rst
Labels: Merge-Ready
