Repository anuket-project/anuket-specifications, pull requests merged in 2022-11, with the labels that each got.

#3216 [ra2] clarify gen.cnt.04
  doc/ref_arch/kubernetes/chapters/chapter02.rst
Labels: bug

#3215 [ra2] clarify inf.ntw.02
  doc/ref_arch/kubernetes/chapters/chapter02.rst
Labels: bug

#3239 [RM Chap8] Upload Figure with name aligned with RM Chap 8
  doc/ref_model/figures/rm-chap-8-multicloud-interactions-03.png
Labels: bug, Proofreading, Nile Release

#3240 [RM Chap8] Multi-Cloud Interactions Model - Diagram Reference Update
  doc/ref_model/chapters/chapter08.rst
Labels: bug, Proofreading, Nile Release

#3241 [RM Chap8] Updated Multi-Cloud Interactions Model (with Catalog) Sour…
  doc/ref_model/artefacts/anuket-ref-model-chap-8-multicloud-interactions-diagrams-02.pptx
Labels: bug, Nile Release

#3242 Update references.rst
  doc/common/references.rst
Labels: Nile Release

#3243 [RM Ch03] O-RAN WG6 specifications reference
  doc/ref_model/chapters/chapter03.rst
Labels: Nile Release

#3246 [RM Ch08] Hybrid Multi-cloud security
  doc/ref_model/chapters/chapter08.rst
Labels: Nile Release

#3245 [RM Ch09] Comparison of lifecycle model to consumption model of Ch8
  doc/ref_model/chapters/chapter09.rst
Labels: New, Nile Release

#3244 [RM Ch08] Model comparison with chapter 9
  doc/ref_model/chapters/chapter08.rst
Labels: New, Nile Release

#3249 [RM Ch07] Security references added
  doc/ref_model/chapters/chapter07.rst
Labels: Nile Release

#3262 [RM Ch03] Add energy efficiency v2
  doc/ref_model/chapters/chapter03.rst
Labels: New, Nile Release

#3258 [RM Ch04] Add energy measurement capabilities
  doc/ref_model/chapters/chapter04.rst
Labels: Nile Release

#3261 [RM Chap8] Multi-Cloud Interaction Model - Manage Catalog
  doc/ref_model/chapters/chapter08.rst
Labels: minor, Nile Release

#3260 [RM RA1] Add content for Containerisation Support / RM citations
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/refs.bib
  doc/ref_model/chapters/chapter01.rst
  doc/ref_model/chapters/chapter02.rst
  doc/ref_model/chapters/chapter03.rst
  doc/ref_model/chapters/chapter04.rst
  doc/ref_model/chapters/chapter06.rst
  doc/ref_model/chapters/chapter07.rst
  doc/ref_model/chapters/chapter08.rst
  doc/ref_model/chapters/chapter09.rst
  doc/ref_model/refs.bib
Labels: New, Nile Release

#3252 [ra2] add Cloud Infrastructure Monitoring Capabilities
  doc/ref_arch/kubernetes/chapters/chapter02.rst
Labels: Nile Release

#3238 [RA1 Ch02] Removal of recommendation int.acc.02
  doc/common/technologies.rst
  doc/ref_arch/openstack/chapters/chapter02.rst
Labels: Nile Release

#3263 [RA1 CH04] Update Cyborg accelerators drivers
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/refs.bib
Labels: Nile Release
