Repository anuket-project/anuket-specifications, pull requests merged in 2022-05, with the labels that each got.

#2927 [RM Ch09] LCM Automation diagrams
  doc/ref_model/figures/RM-Ch09-LCM-Automation-CNF-on-BM.png
  doc/ref_model/figures/RM-Ch09-LCM-Automation-CaaS-on-IaaS.png
  doc/ref_model/figures/RM-Ch09-LCM-Automation-VNF-on-IaaS.png
Labels: New, Moselle

#2928 [RM Ch09] LCM Automation diagrams source
  doc/ref_model/artefacts/anuket-ref-model-chap-9-infrastructure-lcm-automation-diagrams-02.pptx
Labels: New, Moselle

#2932 Remove automation gaps in RC1 Chapter 8
  doc/ref_cert/RC1/chapters/chapter08.rst
Labels: bug

#2934 Fix RC1 gates
  doc/ref_cert/RC1/chapters/chapter02.rst
  doc/ref_cert/RC1/chapters/chapter07.rst
Labels: bug

#2936 [nit] Fix one blank char
  doc/ref_cert/RC1/chapters/chapter03.rst
Labels: bug

#2940 [GLOBAL] Fix requirements in gates
  doc/conf.py
  test-requirements.txt
Labels: bug

#2938 [RI1] Fix gates
  doc/ref_impl/cntt-ri/chapters/chapter06.rst
  doc/ref_impl/cntt-ri/chapters/chapter08.rst
  doc/ref_impl/cntt-ri/conf.py
Labels: bug

#2939 [RC1] Make title4 uniq
  doc/ref_cert/RC1/chapters/chapter03.rst
  doc/ref_cert/RC1/conf.py
  doc/ref_cert/RC2/conf.py
  doc/ref_cert/conf.py
Labels: bug

#2933 [RA1] Fix doc8 issues in RA1
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
  doc/ref_arch/openstack/chapters/chapter08.rst
  doc/ref_arch/openstack/tox.ini
Labels: bug

#2923 [RI2] Fixing broken table headers
  doc/ref_impl/cntt-ri2/chapters/chapter02.rst
Labels: bug

#2942 [RM Ch02] Remove duplicated title4 #2937
  doc/ref_arch/openstack/chapters/chapter02.rst
Labels: Moselle

#2926 [RA1 Ch02] Tables wrap (continued)
  doc/ref_arch/openstack/chapters/chapter02.rst
Labels: Moselle

#2954 Prepare RC2 PDF builds
  doc/ref_cert/RC2/tox.ini
Labels: Lakelse

#2953 [RC1] Remove all non unicode chars
  doc/ref_cert/RC1/chapters/chapter02.rst
  doc/ref_cert/RC1/chapters/chapter05.rst
  doc/ref_cert/RC1/chapters/chapter07.rst
  doc/ref_cert/RC1/conf.py
  doc/ref_cert/RC1/figures/RM-ch04-node-profiles.png
  doc/ref_cert/RC1/tox.ini
Labels: bug

#2950 [RM ch3] Fixing broken link to SONiC project web page
  doc/ref_model/chapters/chapter03.rst
Labels: bug

#2946 [RA1] wrap chapter2 tables
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter05.rst
  doc/ref_arch/openstack/chapters/chapter06.rst
  doc/ref_arch/openstack/tox.ini
Labels: Moselle

#2959 [RA1] Enable linkcheck
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/conf.py
  doc/ref_arch/openstack/tox.ini
Labels: Moselle

#2902 [RM Ch08] Single Pane of Glass
  doc/ref_model/chapters/chapter08.rst
Labels: Moselle

#2901 add all project leads to CODEOWNERS
  CODEOWNERS
Labels: minor, Merge-Ready, Moselle

#2929 [RM C09] LCM Automation - final update
  doc/ref_model/chapters/chapter09.rst
Labels: Moselle

#2913 [RM Ch07] Software supply chain security
  doc/ref_model/chapters/chapter07.rst
Labels: Moselle

#2912 [RA2 Ch4] Linewrap to 120
  doc/ref_arch/kubernetes/chapters/chapter04.rst
Labels: Merge-Ready

#2943 [RM Ch8]: Linewrap to 120 chars
  doc/ref_model/chapters/chapter08.rst
Labels: Merge-Ready

#2981 [RM Ch 07] Cloud Infrastrucure Regulatory Compliance
  doc/ref_model/chapters/chapter07.rst
Labels: Moselle

#2980 Clean ONAP VNF Test Platform (VTP)
  doc/ref_cert/RC1/chapters/chapter05.rst
  doc/ref_cert/RC1/chapters/chapter07.rst
Labels: bug

#2968 [RA2 ch2] edge cloud requirements to ra2
  doc/ref_arch/kubernetes/chapters/chapter02.rst
Labels: Moselle

#2964 [RA1 Ch03/04] Cloud Deployment Model + Table Formats
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
Labels: Moselle

#2986 [RA1 Ch03] Storage, alignment with RM
  doc/ref_arch/openstack/chapters/chapter03.rst
Labels: Moselle

#2958 [RM Ch05] Monitoring System Requirements #2957
  doc/ref_model/chapters/chapter05.rst
Labels: Moselle

#2970 fix CODEOWNERS
  CODEOWNERS
Labels: bug, minor, Merge-Ready

#2945 [RA2 Ch4] Re-addition of host OS requirements
  doc/ref_arch/kubernetes/chapters/chapter02.rst
  doc/ref_arch/kubernetes/chapters/chapter04.rst
Labels: WIP, New, Moselle

#2983 [RM Ch04] Internal Performance Metrics
  doc/ref_model/chapters/chapter04.rst
Labels: Moselle

#2982 [RM Ch07&08] GSMA FS40 doc updated
  doc/ref_model/chapters/chapter07.rst
  doc/ref_model/chapters/chapter08.rst
Labels: minor, Moselle

#2978 [RM Ch07] SBOM content added
  doc/ref_model/chapters/chapter07.rst
Labels: New, Moselle

#2969 [RM Chap 3] RST Updates - Virtual Storage - Tenant Reference (section…
  doc/ref_model/chapters/chapter03.rst
Labels: Moselle

#2961 [RM Ch05] Log Management Service Reqts #2960
  doc/ref_model/chapters/chapter05.rst
Labels: Moselle

#2899 add vscode settings file to .gitignore
  .gitignore
Labels: minor

#2971 [RA1 Ch07] Automation and installers
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
Labels: New, Moselle

#2907 [RM Ch5] Load Balancer Requirements
  doc/ref_model/chapters/chapter05.rst
Labels: Moselle

#2995 [ra2 ch3] fix build errors
  doc/ref_arch/kubernetes/chapters/chapter01.rst
  doc/ref_arch/kubernetes/chapters/chapter02.rst
  doc/ref_arch/kubernetes/chapters/chapter03.rst
  doc/ref_arch/kubernetes/chapters/chapter04.rst
  doc/ref_arch/kubernetes/chapters/chapter06.rst
Labels: bug, Moselle

#2994 [RA2] moselle index
  doc/ref_arch/kubernetes/README.rst
Labels: Moselle

#2988 [RA1 Ch02] Add specification + Table reformat
  doc/ref_arch/openstack/README.rst
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter05.rst
  doc/ref_arch/openstack/chapters/chapter06.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
  doc/ref_arch/openstack/conf.py
  doc/ref_arch/openstack/tox.ini
Labels: Proofreading

#2985 [RC2] Fix PDF rendering issues
  doc/ref_cert/RC2/chapters/chapter01.rst
  doc/ref_cert/RC2/chapters/chapter02.rst
  doc/ref_cert/RC2/chapters/chapter04.rst
  doc/ref_cert/RC2/conf.py
  doc/ref_cert/RC2/index.rst
Labels: Moselle

#2997 [RM] Fix rm links
  doc/ref_model/chapters/chapter07.rst
  doc/ref_model/chapters/chapter08.rst
  doc/ref_model/conf.py
  doc/ref_model/tox.ini
Labels: bug

#3001 [RA1] Allow passing the gate
  doc/ref_arch/openstack/chapters/chapter02.rst
Labels: bug

#3002 [RM] nit: explicit markup ends without a blank line; unexpected unindent
  doc/ref_model/chapters/chapter01.rst
Labels: bug
