Repository anuket-project/anuket-specifications, pull requests merged in 2022-03, with the labels that each got.

#2852 [RC1] Fix all dead links
  doc/ref_cert/RC1/chapters/chapter01.rst
  doc/ref_cert/RC1/chapters/chapter02.rst
  doc/ref_cert/RC1/chapters/chapter04.rst
  doc/ref_cert/RC2/chapters/chapter04.rst
Labels: Moselle

#2831 Couple of minor typos in the RC2 documentation.
  doc/ref_cert/RC2/chapters/chapter01.rst
  doc/ref_cert/RC2/chapters/chapter02.rst
Labels: minor, Moselle

#2830 [RA1] Publish doc build files
  doc/ref_arch/openstack/chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter06.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
  doc/ref_arch/openstack/conf.py
  doc/ref_arch/openstack/test-requirements.txt
  doc/ref_arch/openstack/tox.ini
Labels: Moselle

#2826 [RM Ch9.5.1] structure changes
  doc/ref_model/chapters/chapter09.rst
Labels: Moselle

#2853 [RM Ch04] Exposed Infrastructure Performance Measurements
  doc/ref_model/chapters/chapter04.rst
Labels: minor, Moselle

#2857 Complete Sphinx material migrations
  doc/ref_cert/RC1/test-requirements.txt
  doc/ref_cert/RC2/conf.py
  doc/ref_cert/RC2/test-requirements.txt
  doc/ref_cert/conf.py
  doc/ref_cert/test-requirements.txt
Labels: Moselle

#2863 [RC1] Update VTP snapshots
  doc/ref_cert/RC1/chapters/chapter07.rst
Labels: bug

#2832 [RM] Fix 2 anonymous hyperlink mismatches
  doc/ref_model/chapters/appendix-a.rst
  doc/ref_model/chapters/chapter01.rst
  doc/ref_model/chapters/chapter02.rst
  doc/ref_model/chapters/chapter03.rst
  doc/ref_model/chapters/chapter04.rst
  doc/ref_model/chapters/chapter05.rst
  doc/ref_model/chapters/chapter07.rst
  doc/ref_model/chapters/chapter08.rst
  doc/ref_model/chapters/chapter09.rst
  doc/ref_model/conf.py
  doc/ref_model/index.rst
  doc/ref_model/test-requirements.txt
  doc/ref_model/tox.ini
Labels: bug

#2871 Enable numfig
  doc/ref_cert/RC1/conf.py
  doc/ref_cert/RC2/conf.py
  doc/ref_cert/conf.py
Labels: Moselle

#2887 [RM] fixing broken individual build
  doc/ref_model/chapters/appendix-a.rst
  doc/ref_model/chapters/chapter04.rst
Labels: bug, Moselle, rst conversion

#2885 [RI2] line wrapping to 120 characters except for one table
  doc/ref_impl/cntt-ri2/chapters/chapter01.rst
  doc/ref_impl/cntt-ri2/chapters/chapter02.rst
  doc/ref_impl/cntt-ri2/chapters/chapter03.rst
  doc/ref_impl/cntt-ri2/chapters/chapter04.rst
Labels: Moselle, rst conversion

#2879 [RM Ch] conf.py add numfig
  doc/ref_model/conf.py
Labels: minor, Moselle

#2876 [RI1][RI2] Correctly link RI1 and RI2 from common index
  doc/ref_impl/README.md
  doc/ref_impl/README.rst
  doc/ref_impl/cntt-ri/index.rst
  doc/ref_impl/cntt-ri2/index.rst
  doc/ref_impl/index.rst
Labels: Moselle, rst conversion

#2870 Remove useless labels added by hand
  doc/ref_cert/RC1/chapters/chapter03.rst
  doc/ref_cert/RC2/chapters/chapter01.rst
Labels: bug

#2888 [RI2] Fix unexpected unindent in RI2
  doc/ref_impl/cntt-ri2/chapters/chapter02.rst
Labels: bug

#2856 Add tox in ra1
  doc/ref_arch/openstack/README.md
  doc/ref_arch/openstack/README.rst
  doc/ref_arch/openstack/chapters/Terminology.md
  doc/ref_arch/openstack/chapters/chapter01.md
  doc/ref_arch/openstack/chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter02.md
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter03.md
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.md
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_arch/openstack/chapters/chapter06.md
  doc/ref_arch/openstack/chapters/chapter06.rst
  doc/ref_arch/openstack/chapters/chapter07.md
  doc/ref_arch/openstack/chapters/chapter07.rst
  doc/ref_arch/openstack/chapters/chapter08.md
  doc/ref_arch/openstack/chapters/chapter08.rst
  doc/ref_arch/openstack/index.rst
  doc/ref_arch/openstack/tox.ini
Labels: Moselle

#2882 [RA2] add tox to build RA2
  doc/ref_arch/kubernetes/chapters/chapter01.rst
  doc/ref_arch/kubernetes/chapters/chapter02.rst
  doc/ref_arch/kubernetes/chapters/chapter03.rst
  doc/ref_arch/kubernetes/chapters/chapter04.rst
  doc/ref_arch/kubernetes/chapters/chapter06.rst
  doc/ref_arch/kubernetes/conf.py
  doc/ref_arch/kubernetes/index.rst
  doc/ref_arch/kubernetes/test-requirements.txt
  doc/ref_arch/kubernetes/tox.ini
Labels: bug

#2893 [All conf.py] Add numfig info
  doc/ref_arch/kubernetes/conf.py
  doc/ref_arch/openstack/conf.py
  doc/ref_cert/RC1/conf.py
  doc/ref_cert/RC2/conf.py
  doc/ref_cert/conf.py
  doc/ref_impl/cntt-ri/conf.py
  doc/ref_impl/cntt-ri2/conf.py
Labels: Moselle, rst conversion
