Repository anuket-project/anuket-specifications, pull requests merged in 2022-10, with the labels that each got.

#3092 [RM Chap8] Multi-Cloud Interactions Model - API Brokerage - Add Manage Catalog
  doc/ref_model/figures/rm-chap8-multi-cloud-interactions-api-brokerage-stereo-type-02.png
Labels: Nile Release

#3091 [RM Chap8] Multi-Cloud Interactions Model - Disaggregated Stereotype - Add Manage Catalog
  doc/ref_model/figures/rm-chap8-multi-cloud-interactions-disaggregated-stereo-type-02.png
Labels: Nile Release

#3090 [RM Chap8] Multi-Cloud Interactions Model - Simple Stereotype - Add Manage Catalog
  doc/ref_model/figures/rm-chap8-multi-cloud-interactions-simple-stereo-types-03.png
Labels: Nile Release

#3089 [RM Chap8] Multi-Cloud Interactions Model - Add Manage Catalog
  doc/ref_model/figures/anuket-ref-model-chap-8-multicloud-interactions-diagrams-03.png
Labels: Nile Release

#3093 [RM Chap8] Multi-Cloud Interactions Model - Cloud Brokerage - Add Manage Catalog
  doc/ref_model/figures/rm-chap8-multi-cloud-interactions-cloud-brokerage-stereo-type-02.png
Labels: Nile Release

#3210 [RM Ch09] Chapter restructure 1
  doc/ref_model/chapters/chapter09.rst
Labels: Nile Release

#3211 Transform all must to **MUST**
  doc/ref_arch/openstack/chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter02.rst
Labels: GSMA

#3221 [RC2] Update to Kubernetes v1.25
  doc/ref_cert/RC2/chapters/chapter02.rst
  doc/ref_cert/RC2/chapters/chapter03.rst
Labels: Nile Release

#3220 [RM Ch09] Automation section moved to chapter end
  doc/ref_model/chapters/chapter09.rst
Labels: New, Nile Release

#3094 [RM Chap8] Hybrid Multi-Cloud - Multi-Cloud Interactions Model - Add Manage Catalog
  doc/ref_model/chapters/chapter08.rst
Labels: Nile Release

#3166 Update abbreviations.rst
  doc/common/abbreviations.rst
Labels: GSMA

#3167 Update references.rst
  doc/common/references.rst
Labels: GSMA

#3115 [RI1][pcac]: Correcting document title
  doc/ref_impl/cntt-ri/conf.py
  doc/ref_impl/cntt-ri/index.rst
Labels: Merge-Ready

#3116 [RI2][pcac]: Correcting document title
  doc/ref_impl/cntt-ri2/conf.py
  doc/ref_impl/cntt-ri2/index.rst
Labels: Merge-Ready

#3222 Update chapter09.rst
  doc/ref_model/chapters/chapter09.rst
Labels: New, Nile Release
