Repository anuket-project/anuket-specifications, pull requests merged in 2022-04, with the labels that each got.

#2897 [RC1] Updates vnf-sdk-marketplace
  doc/ref_cert/RC1/chapters/chapter07.rst
Labels: bug

#2880 [Rm ChALL] Correct Figure captions for rst
  doc/ref_model/chapters/chapter01.rst
  doc/ref_model/chapters/chapter02.rst
  doc/ref_model/chapters/chapter03.rst
  doc/ref_model/chapters/chapter04.rst
  doc/ref_model/chapters/chapter05.rst
  doc/ref_model/chapters/chapter06.rst
  doc/ref_model/chapters/chapter07.rst
  doc/ref_model/chapters/chapter08.rst
  doc/ref_model/chapters/chapter09.rst
Labels: Moselle, rst conversion

#2854 [RM Ch04] Fix exposed versus Internal
  doc/ref_model/chapters/chapter04.rst
Labels: Moselle

#2898 [RM] Fix all figures
  doc/ref_model/chapters/chapter04.rst
  doc/ref_model/chapters/chapter05.rst
  doc/ref_model/chapters/chapter06.rst
  doc/ref_model/chapters/chapter08.rst
  doc/ref_model/chapters/chapter09.rst
Labels: bug

#2851 [RM Ch09] Infrastructure LCM Automation Introduction
  doc/ref_model/chapters/chapter09.rst
Labels: Moselle

#2895 replace Network Intensive profile with High Performance
  doc/ref_arch/kubernetes/chapters/chapter03.rst
  doc/ref_arch/kubernetes/chapters/chapter04.rst
Labels: bug, minor, Merge-Ready, Moselle

#2805 Update of CONTRIBUTING file
  CONTRIBUTING.md
  artefacts/figures/approval_process.png
  artefacts/figures/pr-approval-process.png
  artefacts/figures/pr-approval-process.pptx
Labels: Merge-Ready

#2911 [RA1] Wrap chapter2 tables
  doc/ref_arch/openstack/chapters/chapter02.rst
Labels: Moselle

#2652 [docs] Applying the Sphinx material theme
  doc/_static/css/custom.css
  doc/conf.py
  test-requirements.txt
Labels: Moselle

#2920 [RC] Remove airship links
  doc/ref_cert/index.rst
Labels: bug
