Repository anuket-project/anuket-specifications, pull requests merged in 2022-08, with the labels that each got.

#3097 [RA1 Ch01, 02, 03, 04, 06, 07, 08] External references
  doc/ref_arch/openstack/chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter06.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
  doc/ref_arch/openstack/chapters/chapter08.rst
  doc/ref_arch/openstack/refs.bib
Labels: GSMA

#3084 [RM Ch7]: fix link to iso.org
  doc/ref_model/chapters/chapter07.rst
Labels: bug, Merge-Ready

#3126 [RA1] Capital letters in the title
  doc/ref_arch/openstack/README.rst
Labels: minor

#3124 [RA1] Update copyright and author of RA1 conf.py
  doc/ref_arch/openstack/conf.py
Labels: Nile Release

#3072 [RM] Improve IETF reference management
  doc/ref_model/chapters/chapter01.rst
  doc/ref_model/chapters/chapter03.rst
  doc/ref_model/conf.py
  doc/ref_model/refs.bib
  doc/ref_model/test-requirements.txt
Labels: bug, Nile Release

#3123 [RA2] Update copyright and author of RA2 conf.py
  doc/ref_arch/kubernetes/conf.py
Labels: minor, Merge-Ready

#3133 [RA1] Stop overfulling cells and tables
  doc/ref_arch/openstack/chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter05.rst
  doc/ref_arch/openstack/chapters/chapter06.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
Labels: bug, GSMA

#3121 [RA1][RC1] Dump RC1 in RA1 Chapter5
  doc/ref_arch/openstack/chapters/chapter08.rst
  doc/ref_arch/openstack/chapters/chapter09.rst
  doc/ref_arch/openstack/conf.py
Labels: GSMA

#3132 [RA1 Ch01] Abbreviations table added
  doc/ref_arch/openstack/chapters/chapter01.rst
Labels: GSMA

#3134 [RA1] Addition of references to RM NG.126
  doc/ref_arch/openstack/chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
Labels: GSMA
