Repository anuket-project/anuket-specifications, pull requests merged in 2022-02, with the labels that each got.

#2656 [RI2] Converting docs from markdown to rst
  doc/ref_impl/cntt-ri2/.gitignore
  doc/ref_impl/cntt-ri2/README.md
  doc/ref_impl/cntt-ri2/README.rst
  doc/ref_impl/cntt-ri2/chapters/chapter01.md
  doc/ref_impl/cntt-ri2/chapters/chapter01.rst
  doc/ref_impl/cntt-ri2/chapters/chapter02.md
  doc/ref_impl/cntt-ri2/chapters/chapter02.rst
  doc/ref_impl/cntt-ri2/chapters/chapter03.rst
  doc/ref_impl/cntt-ri2/chapters/chapter04.md
  doc/ref_impl/cntt-ri2/chapters/chapter04.rst
  doc/ref_impl/cntt-ri2/chapters/chapter05.md
  doc/ref_impl/cntt-ri2/chapters/chapter05.rst
  doc/ref_impl/cntt-ri2/conf.py
  doc/ref_impl/cntt-ri2/figures/bogo_com.png
  doc/ref_impl/cntt-ri2/figures/bogo_dfp.png
  doc/ref_impl/cntt-ri2/figures/bogo_ifo.png
  doc/ref_impl/cntt-ri2/figures/bogo_lsf.png
  doc/ref_impl/cntt-ri2/figures/bogo_sdc.png
  doc/ref_impl/cntt-ri2/index.rst
  doc/ref_impl/cntt-ri2/requirements.txt
  doc/ref_impl/cntt-ri2/tox.ini
Labels: Moselle

#2811 [RA1 Ch01 Ch02] Rst: Fix reference links
  doc/ref_arch/openstack/chapters/README.rst
  doc/ref_arch/openstack/chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter05.rst
  doc/ref_arch/openstack/chapters/chapter06.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
  doc/ref_arch/openstack/chapters/chapter08.rst
Labels: New, Moselle

#2814 [RA1 RA2]: Fixing Reference Architecture readme file
  doc/ref_arch/README.md
  doc/ref_arch/README.rst
  doc/ref_arch/abbreviations.md
Labels: minor, Moselle, rst conversion

#2825 Update README.rst
  doc/ref_model/README.rst
Labels: minor, Moselle

#2817 [RA1 Ch05] RST conversion: corrections
  doc/ref_arch/openstack/chapters/chapter05.rst
Labels: New, Moselle, rst conversion

#2819 [RA1 Ch07] RST conversion: correction
  doc/ref_arch/openstack/chapters/chapter07.rst
Labels: New, Moselle, rst conversion

#2820 [RA1 Ch08] RST conversion: correction
  doc/ref_arch/openstack/chapters/chapter08.rst
Labels: New, Moselle, rst conversion

#2818 [RA1 Ch06] RST conversion: corrections
  doc/ref_arch/openstack/chapters/chapter06.rst
Labels: New, Moselle, rst conversion

#2813 [RC1] Switch to Sphinx Material
  doc/ref_cert/RC1/conf.py
  doc/ref_cert/RC1/test-requirements.txt
Labels: Moselle

#2821 [RA1 Ch02] RST conversion: corrections
  doc/ref_arch/openstack/chapters/chapter02.rst
Labels: New, Moselle, rst conversion

#2815 [RA1 Ch03 Ch04] RST conversion- corrections
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
Labels: New, Moselle, rst conversion
