Repository anuket-project/anuket-specifications, pull requests merged in 2022-12, with the labels that each got.

#3280 [RM refs.bib] Specify url for GSMA FS 40
  doc/ref_model/refs.bib
Labels: bug

#3276 [ra2 ch2] nile proofreading
  doc/ref_arch/kubernetes/chapters/chapter02.rst
Labels: Proofreading

#3277 [ra2 ch3] nile proofreading
  doc/ref_arch/kubernetes/chapters/chapter03.rst
Labels: Proofreading

#3278 [ra2 ch6] nile proofreading
  doc/ref_arch/kubernetes/chapters/chapter06.rst
Labels: Proofreading

#3282 [RA1 all Ch] Proofreading
  doc/ref_arch/openstack/chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter08.rst
Labels: Proofreading, Nile Release

#3279 [ra2 ch7] nile proofreading
  doc/ref_arch/kubernetes/chapters/chapter07.rst
Labels: Proofreading

#3287 Add linkcheck exception for ntia.gov
  doc/ref_arch/openstack/conf.py
  doc/ref_arch/openstack/refs.bib
  doc/ref_arch/openstack/tox.ini
  doc/ref_cert/RC2/chapters/chapter02.rst
  doc/ref_cert/RC2/chapters/chapter04.rst
  doc/ref_cert/RC2/chapters/chapter05.rst
  doc/ref_cert/RC2/conf.py
  doc/ref_cert/RC2/tox.ini
  doc/ref_cert/tox.ini
  doc/ref_impl/cntt-ri/tox.ini
  doc/ref_impl/cntt-ri2/tox.ini
  doc/ref_model/chapters/chapter07.rst
  doc/ref_model/conf.py
  doc/ref_model/tox.ini
Labels: bug, Nile Release

#3290 Fix a few links in gov
  doc/common/references.rst
  doc/conf.py
  tox.ini
Labels: bug, Nile Release
