Repository anuket-project/anuket-specifications, pull requests merged in 2022-01, with the labels that each got.

#2771 [RM README] Update Status and TOC with Appendix
  doc/ref_model/README.md
Labels: Lakelse

#2781 [RC2] Update to Kubernetes v1.23
  doc/ref_cert/RC2/chapters/chapter02.rst
  doc/ref_cert/RC2/chapters/chapter03.rst
Labels: Moselle

#2783 Fix CODEOWNERS
  CODEOWNERS
Labels: bug

#2800 [RC1] Update Rally OpenStack version
  doc/ref_cert/RC1/chapters/chapter03.rst
Labels: bug

#2799 [RA1] RST files uploaded
  doc/ref_arch/openstack/chapters/README.rst
  doc/ref_arch/openstack/chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter05.rst
  doc/ref_arch/openstack/chapters/chapter06.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
  doc/ref_arch/openstack/chapters/chapter08.rst
Labels: Moselle
