Repository anuket-project/anuket-specifications, pull requests merged in 2022-06, with the labels that each got.

#2862 update RI2 chapter 02 to add more requirements from RA2 Lakelse
  doc/ref_impl/cntt-ri2/chapters/chapter02.rst
  doc/ref_impl/cntt-ri2/chapters/chapter03.rst
Labels: Moselle

#2967 [gov] Remove empty vendor implementation documentation
  doc/common/README.rst
  doc/common/glossary.rst
  doc/conf.py
  doc/index.rst
  doc/ven_impl/README.md
  doc/ven_impl/figures/bogo_com.png
  doc/ven_impl/figures/bogo_dfp.png
  doc/ven_impl/figures/bogo_ifo.png
  doc/ven_impl/figures/bogo_lsf.png
  doc/ven_impl/figures/bogo_sdc.png
  doc/ven_impl/ven_template/README.md
  doc/ven_impl/ven_template/cookbook.md
  doc/ven_impl/ven_template/report.md
Labels: Moselle

#3000 [RA1 ch02] Specification references added
  doc/ref_arch/openstack/chapters/chapter02.rst
Labels: Proofreading, Moselle

#2999 Update abbreviations.rst
  doc/common/abbreviations.rst
Labels: Proofreading

#3014 [RA1] Fix figure refs and definitions
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
  doc/ref_arch/openstack/conf.py
Labels: Moselle

#3003 [RC1] Fix PDF rendering issues
  doc/ref_cert/RC1/chapters/chapter02.rst
  doc/ref_cert/RC1/chapters/chapter03.rst
  doc/ref_cert/RC1/chapters/chapter04.rst
  doc/ref_cert/RC1/chapters/chapter05.rst
  doc/ref_cert/RC1/chapters/chapter08.rst
  doc/ref_cert/RC1/conf.py
  doc/ref_cert/RC1/index.rst
Labels: Moselle

#3016 [RM] Export title4 for RA1
  doc/ref_model/conf.py
Labels: Moselle

#3018 [RA1] nit: fix last false external lookup
  doc/ref_arch/openstack/tox.ini
Labels: Moselle

#3019 Remove all false external lookups
  doc/ref_cert/RC1/chapters/chapter02.rst
  doc/ref_cert/RC1/chapters/chapter03.rst
  doc/ref_cert/RC1/chapters/chapter05.rst
  doc/ref_cert/RC1/chapters/chapter08.rst
Labels: bug, Moselle

#3020 [RC2] Stop leveraging README
  doc/ref_cert/RC2/chapters/chapter02.rst
  doc/ref_cert/RC2/chapters/chapter04.rst
Labels: bug

#3017 [RA1] Remove falsy external docs
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter06.rst
Labels: bug, Moselle

#3011 [RM] Fix Figure definitions and refs
  doc/ref_model/chapters/chapter02.rst
  doc/ref_model/chapters/chapter03.rst
  doc/ref_model/chapters/chapter04.rst
Labels: Moselle

#3005 [RM Ch07] Review of security standards
  doc/ref_model/chapters/chapter07.rst
  doc/ref_model/chapters/chapter09.rst
Labels: Moselle

#3022 [ra2 ch4] fix ch4 build errors
  doc/ref_arch/kubernetes/chapters/chapter04.rst
Labels: Moselle

#3012 [RA1] Proofreading all chapters
  doc/ref_arch/openstack/chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter02.rst
  doc/ref_arch/openstack/chapters/chapter03.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/chapters/chapter05.rst
  doc/ref_arch/openstack/chapters/chapter06.rst
  doc/ref_arch/openstack/chapters/chapter07.rst
  doc/ref_arch/openstack/chapters/chapter08.rst
Labels: Proofreading, Moselle

#3043 [cntt] Contributing.rst
  CONTRIBUTING.md
  CONTRIBUTING.rst
Labels: Proofreading

#3046 [RA1][nit] Add blank line end of chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter01.rst
Labels: bug

#3037 [RA2 CH1-3] fix ra2 :refs:
  doc/ref_arch/kubernetes/chapters/chapter01.rst
  doc/ref_arch/kubernetes/chapters/chapter02.rst
  doc/ref_arch/kubernetes/chapters/chapter03.rst
Labels: Merge-Ready

#3050 [RA2] Leverage internal links when possible
  doc/ref_arch/kubernetes/chapters/chapter01.rst
  doc/ref_arch/kubernetes/chapters/chapter02.rst
  doc/ref_arch/kubernetes/chapters/chapter03.rst
  doc/ref_arch/kubernetes/chapters/chapter07.rst
  doc/ref_arch/kubernetes/conf.py
Labels: bug

#3052 [RI1] Switch to intersphinx ref for all CNTT link
  doc/ref_impl/cntt-ri/chapters/chapter03.rst
  doc/ref_impl/cntt-ri/conf.py
Labels: bug

#3053 Select the right moselle intersphinx
  doc/conf.py
  doc/ref_arch/kubernetes/conf.py
  doc/ref_arch/openstack/conf.py
  doc/ref_cert/RC1/conf.py
  doc/ref_cert/RC2/conf.py
  doc/ref_cert/conf.py
  doc/ref_impl/cntt-ri/conf.py
  doc/ref_impl/cntt-ri2/conf.py
  doc/ref_model/conf.py
Labels: Moselle

#3054 [RC1][RC2][RA1] Use :numbered: in all stream toc
  doc/ref_arch/openstack/README.rst
  doc/ref_cert/RC1/index.rst
  doc/ref_cert/RC2/index.rst
Labels: Moselle

#3055 Unify Sphinx config
  doc/conf.py
  doc/ref_arch/openstack/conf.py
  doc/ref_cert/RC1/conf.py
  doc/ref_impl/cntt-ri/conf.py
  doc/ref_impl/cntt-ri2/conf.py
Labels: bug, Moselle

#3060 [RA1] Fix Foot note
  doc/ref_arch/openstack/chapters/chapter03.rst
Labels: bug

#3059 Merge the duplicated security table
  doc/common/references.rst
  doc/gov/chapters/chapter09.rst
  tox.ini
Labels: bug, Moselle

#3061 Fix manual merge conflict error
  doc/ref_arch/kubernetes/chapters/chapter04.rst
Labels: bug, Moselle

#3058 [ra2] fixing text references to section and typos
  doc/ref_arch/kubernetes/chapters/chapter01.rst
  doc/ref_arch/kubernetes/chapters/chapter02.rst
  doc/ref_arch/kubernetes/chapters/chapter03.rst
  doc/ref_arch/kubernetes/chapters/chapter04.rst
  doc/ref_arch/kubernetes/chapters/chapter06.rst
  doc/ref_arch/kubernetes/chapters/chapter07.rst
  doc/ref_arch/kubernetes/conf.py
Labels: Proofreading, Moselle

#3063 [RA2] Fix one ref minor issue
  doc/ref_arch/kubernetes/chapters/chapter03.rst
Labels: Moselle

#3078 [RC] Update all wiki.opnfv.org links
  doc/ref_cert/RC1/chapters/chapter03.rst
  doc/ref_cert/RC1/chapters/chapter04.rst
  doc/ref_cert/RC2/chapters/chapter03.rst
  doc/ref_cert/index.rst
Labels: bug

#3075 [RC1] Leverage note directive
  doc/ref_cert/RC1/chapters/chapter02.rst
  doc/ref_cert/RC1/chapters/chapter05.rst
Labels: bug

#3073 [RA1] Improve IETF reference management
  doc/ref_arch/openstack/chapters/chapter01.rst
  doc/ref_arch/openstack/chapters/chapter04.rst
  doc/ref_arch/openstack/conf.py
  doc/ref_arch/openstack/refs.bib
  doc/ref_arch/openstack/test-requirements.txt
Labels: bug, Nile Release
