Repository anuket-project/anuket-specifications, pull requests merged in 2023-02, with the labels that each got.

#3305 Update CODEOWNERS
  CODEOWNERS
Labels: Orinoco

#3304 [RA1][RC2] Switch to Piccolo Sphinx theme
  doc/ref_arch/openstack/conf.py
  doc/ref_arch/openstack/test-requirements.txt
  doc/ref_cert/RC2/conf.py
  doc/ref_cert/RC2/test-requirements.txt
  doc/ref_cert/conf.py
  doc/ref_cert/test-requirements.txt
Labels: Orinoco

#3308 [RI2] Switch to Piccolo Sphinx theme
  doc/ref_impl/cntt-ri2/_static/anuket-logo.png
  doc/ref_impl/cntt-ri2/_static/custom.css
  doc/ref_impl/cntt-ri2/_static/favicon.ico
  doc/ref_impl/cntt-ri2/conf.py
  doc/ref_impl/cntt-ri2/requirements.txt
Labels: Orinoco

#3313 [RA2 Ch4 Ch6] fix API rule to include alpha/beta mandatory specs
  doc/ref_arch/kubernetes/chapters/chapter04.rst
  doc/ref_arch/kubernetes/chapters/chapter06.rst
Labels: bug, Orinoco Release

#3315 [RA2]: Adding Piccolo theme
  doc/ref_arch/kubernetes/_static/anuket-logo.png
  doc/ref_arch/kubernetes/_static/custom.css
  doc/ref_arch/kubernetes/_static/favicon.ico
  doc/ref_arch/kubernetes/conf.py
  doc/ref_arch/kubernetes/test-requirements.txt
Labels: Orinoco Release
