Repository anuket-project/anuket-specifications, pull requests merged in 2023-04, with the labels that each got.

#3328 [RM] Added Hugepages metrics to Table 4.8
  doc/ref_model/chapters/chapter04.rst
Labels: Orinoco Release

#3320 [Ra2] bib
  doc/ref_arch/kubernetes/chapters/appendix-a.rst
  doc/ref_arch/kubernetes/chapters/chapter01.rst
  doc/ref_arch/kubernetes/chapters/chapter02.rst
  doc/ref_arch/kubernetes/chapters/chapter03.rst
  doc/ref_arch/kubernetes/chapters/chapter04.rst
  doc/ref_arch/kubernetes/chapters/chapter05.rst
  doc/ref_arch/kubernetes/chapters/chapter06.rst
  doc/ref_arch/kubernetes/chapters/chapter07.rst
  doc/ref_arch/kubernetes/conf.py
  doc/ref_arch/kubernetes/refs.bib
  doc/ref_arch/kubernetes/test-requirements.txt
Labels: GSMA

#3347 [ra2 ch1] add principles, terminology and abbreviations for GSMA
  doc/ref_arch/kubernetes/README.rst
  doc/ref_arch/kubernetes/chapters/chapter01.rst
  doc/ref_arch/kubernetes/chapters/chapter04.rst
Labels: GSMA

#3350 [RA2 Ch3] AF_XDP architecture
  doc/ref_arch/kubernetes/chapters/chapter03.rst
  doc/ref_arch/kubernetes/chapters/chapter04.rst
  doc/ref_arch/kubernetes/figures/ch03-afxdp-operation.png
  doc/ref_arch/kubernetes/figures/ch03-afxdp-operation.pptx
  doc/ref_arch/kubernetes/refs.bib
Labels: New, Orinoco Release
