Repository anuket-project/anuket-specifications, changes with the owners that CODEOWNERS names for each.
All owners: @walterkozlowski, @ss8171, @bobmon01, @pgoyal01, @jayacha, @rgstori, @rihabbanday, @jgu17, @ASawwaf, @scottsteinbrueck

[RA2 Ch2]: Fixing duplicate requirement id (#2586)
  doc/ref_arch/kubernetes/chapters/chapter02.md
Owners: @rgstori, @walterkozlowski

[RA2 Ch4]: Correction of link to README.md (#2562)
  doc/ref_arch/kubernetes/README.md
  doc/ref_arch/kubernetes/chapters/chapter04.md
Owners: @rgstori, @walterkozlowski

[RA2 Ch3] add section header for 3.2.1.9 (#2534)
  doc/ref_arch/kubernetes/chapters/chapter03.md
Owners: @rgstori, @walterkozlowski

Update doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter04.md
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter04.md
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter04.md
Owners: @walterkozlowski

Remove useless html paragraph in RA1
  doc/ref_arch/openstack/chapters/chapter04.md
Owners: @pgoyal01, @walterkozlowski

Update chapter04.md
  doc/ref_model/chapters/chapter04.md
Owners: @walterkozlowski

Update chapter03.md
  doc/ref_model/chapters/chapter03.md
Owners: @walterkozlowski

Update doc/common/chapter00.md
  doc/common/chapter00.md
Owners: @walterkozlowski

[Common] changing OVP to AAP in Ch00
  doc/common/chapter00.md
Owners: @walterkozlowski

Remove all "Back" refs
  doc/ref_cert/RC1/chapters/chapter01.md
  doc/ref_cert/RC1/chapters/chapter02.md
  doc/ref_cert/RC1/chapters/chapter03.md
  doc/ref_cert/RC1/chapters/chapter04.md
  doc/ref_cert/RC1/chapters/chapter05.md
  doc/ref_cert/RC1/chapters/chapter06.md
  doc/ref_cert/RC1/chapters/chapter07.md
  doc/ref_cert/RC1/chapters/chapter08.md
  doc/ref_cert/RC2/chapters/chapter01.md
  doc/ref_cert/RC2/chapters/chapter02.md
  doc/ref_cert/RC2/chapters/chapter03.md
  doc/ref_cert/RC2/chapters/chapter04.md
  doc/ref_cert/RC2/chapters/chapter05.md
  doc/ref_cert/RC2/chapters/chapter06.md
  doc/ref_cert/README.md
Owners: @walterkozlowski

Remove falsy <br> in RC chapters
  doc/ref_cert/RC1/chapters/chapter01.md
  doc/ref_cert/RC2/chapters/chapter01.md
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter08.md
  doc/ref_model/chapters/chapter08.md
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter08.md
  doc/ref_model/chapters/chapter08.md
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter07.md
  doc/ref_model/chapters/chapter07.md
Owners: @walterkozlowski

[RM Ch03] Insert Chapter 3.8 intro text (#2592)
  doc/ref_model/chapters/chapter03.md
Owners: @walterkozlowski

[RM Chap8] Multi-Cloud Source Diagrams
  doc/ref_model/artefacts/anuket-ref-model-chap-8-multicloud-interactions-diagrams-01.pptx
Owners: @walterkozlowski

[RM Chap3.6] Source Storage Model Diagrams
  doc/ref_model/artefacts/anuket-ref-model-chap-3.6-storage-diagrams-01.pptx
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter04.md
Owners: @walterkozlowski

[RM Chap 8] Multi-Cloud Interactions Update
  doc/ref_model/figures/multi-cloud-interactions-02.png
Owners: @walterkozlowski

[RM Chap3.6/Chap 8] Add general cloud storage model & Multi-Cloud Interactions Diagram (#2566)
  doc/ref_model/artefacts/anuket-ref-model-chap-3.6-storage-diagrams-01.pptx
  doc/ref_model/artefacts/anuket-ref-model-chap-8-multicloud-interactions-diagrams-01.pptx
  doc/ref_model/figures/multi-cloud-interactions-02.png
  doc/ref_model/figures/rm-chap3.6-general-cloud-storage-model-01.png
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter04.md
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter04.md
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter04.md
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter04.md
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter04.md
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter04.md
  doc/ref_model/chapters/chapter04.md
Owners: @walterkozlowski

Apply suggestions from code review
  doc/common/chapter00.md
Owners: @walterkozlowski

[Abbreviations, Glossary] Adding AAP
  doc/common/abbreviations.md
  doc/common/glossary.md
Owners: @walterkozlowski

add spec ra2.ntw.015 for ipam cni
  doc/ref_arch/kubernetes/chapters/chapter04.md
Owners: @rgstori, @walterkozlowski

Update references.md (#2594)
  doc/common/references.md
Owners: @walterkozlowski

Remove falsy <br> in RC chapters (#2610)
  doc/ref_cert/RC1/chapters/chapter01.md
  doc/ref_cert/RC2/chapters/chapter01.md
Owners: @walterkozlowski

Remove all "Back" refs (#2608)
  doc/ref_cert/RC1/chapters/chapter01.md
  doc/ref_cert/RC1/chapters/chapter02.md
  doc/ref_cert/RC1/chapters/chapter03.md
  doc/ref_cert/RC1/chapters/chapter04.md
  doc/ref_cert/RC1/chapters/chapter05.md
  doc/ref_cert/RC1/chapters/chapter06.md
  doc/ref_cert/RC1/chapters/chapter07.md
  doc/ref_cert/RC1/chapters/chapter08.md
  doc/ref_cert/RC2/chapters/chapter01.md
  doc/ref_cert/RC2/chapters/chapter02.md
  doc/ref_cert/RC2/chapters/chapter03.md
  doc/ref_cert/RC2/chapters/chapter04.md
  doc/ref_cert/RC2/chapters/chapter05.md
  doc/ref_cert/RC2/chapters/chapter06.md
  doc/ref_cert/README.md
Owners: @walterkozlowski

Remove useless html paragraph in RA1 (#2604)
  doc/ref_arch/openstack/chapters/chapter04.md
Owners: @pgoyal01, @walterkozlowski

Update to K8s v1.22 (#2587)
  doc/ref_arch/kubernetes/README.md
  doc/ref_arch/kubernetes/chapters/chapter07.md
  doc/ref_cert/RC2/chapters/chapter02.md
  doc/ref_cert/RC2/chapters/chapter03.md
  doc/ref_cert/README.md
Owners: @rgstori, @walterkozlowski

[RA1][RC1] Update mandatory extensions (#2552)
  doc/ref_arch/openstack/chapters/chapter05.md
  doc/ref_cert/RC1/chapters/chapter03.md
Owners: @pgoyal01, @walterkozlowski

Update chapter07.md
  doc/ref_model/chapters/chapter07.md
Owners: @walterkozlowski

Update chapter07.md
  doc/ref_model/chapters/chapter07.md
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter08.md
  doc/ref_model/chapters/chapter08.md
Owners: @walterkozlowski

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @walterkozlowski

# Governance
/doc/gov/chapters/chapter01.md       @ss8171 @bobmon01 @walterkozlowski
/doc/gov/chapters/chapter02.md       @ss8171 @bobmon01 @walterkozlowski
/doc/gov/chapters/chapter03.md       @ss8171 @bobmon01 @walterkozlowski
/doc/gov/chapters/chapter04.md       @ss8171 @bobmon01 @walterkozlowski
/doc/gov/chapters/chapter05.md       @ss8171 @bobmon01 @walterkozlowski
/doc/gov/chapters/chapter06.md       @ss8171 @bobmon01 @walterkozlowski
/doc/gov/chapters/chapter07.md       @ss8171 @bobmon01 @walterkozlowski
/doc/gov/chapters/chapter08.md       @ss8171 @bobmon01 @walterkozlowski
/doc/gov/chapters/chapter09.md       @ss8171 @bobmon01 @walterkozlowski
/doc/gov/chapters/chapter10.md       @ss8171 @bobmon01 @walterkozlowski
/doc/gov/chapters/chapter11.md       @ss8171 @bobmon01 @walterkozlowski

# Reference Model
/doc/ref_model/chapters/chapter01.md        @walterkozlowski
/doc/ref_model/chapters/chapter02.md        @walterkozlowski
/doc/ref_model/chapters/chapter03.md        @walterkozlowski
/doc/ref_model/chapters/chapter04.md        @walterkozlowski
/doc/ref_model/chapters/chapter05.md        @walterkozlowski
/doc/ref_model/chapters/chapter06.md        @walterkozlowski
/doc/ref_model/chapters/chapter07.md        @walterkozlowski
/doc/ref_model/chapters/chapter09.md        @walterkozlowski
/doc/ref_model/chapters/chapter08.md        @walterkozlowski
/doc/ref_model/chapters/appendix-a.md       @walterkozlowski
/doc/ref_model/chapters/chapter08-annex.md  @walterkozlowski

# Reference Architectures 1
/doc/ref_arch/openstack/chapters/chapter01.md        @pgoyal01 @walterkozlowski
/doc/ref_arch/openstack/chapters/chapter02.md        @pgoyal01 @walterkozlowski
/doc/ref_arch/openstack/chapters/chapter03.md        @pgoyal01 @walterkozlowski
/doc/ref_arch/openstack/chapters/chapter04.md        @pgoyal01 @walterkozlowski
/doc/ref_arch/openstack/chapters/chapter05.md        @pgoyal01 @walterkozlowski
/doc/ref_arch/openstack/chapters/chapter06.md        @pgoyal01 @walterkozlowski
/doc/ref_arch/openstack/chapters/chapter07.md        @pgoyal01 @walterkozlowski
/doc/ref_arch/openstack/chapters/chapter08.md        @pgoyal01 @walterkozlowski

# Reference Implementation 1
/doc/ref_impl/cntt-ri/chapters/chapter01.md        @jayacha @walterkozlowski
/doc/ref_impl/cntt-ri/chapters/chapter02.md        @jayacha @walterkozlowski
/doc/ref_impl/cntt-ri/chapters/chapter03.md        @jayacha @walterkozlowski
/doc/ref_impl/cntt-ri/chapters/chapter05.md        @jayacha @walterkozlowski
/doc/ref_impl/cntt-ri/chapters/chapter04.md        @jayacha @walterkozlowski
/doc/ref_impl/cntt-ri/chapters/chapter06.md        @jayacha @walterkozlowski
/doc/ref_impl/cntt-ri/chapters/chapter07.md        @jayacha @walterkozlowski
/doc/ref_impl/cntt-ri/chapters/chapter08.md        @jayacha @walterkozlowski
/doc/ref_impl/cntt-ri/chapters/chapter09.md        @jayacha @walterkozlowski

# Reference Certification 1
/doc/ref_cert/RC1/chapters/chapter01.md        @walterkozlowski
/doc/ref_cert/RC1/chapters/chapter02.md        @walterkozlowski
/doc/ref_cert/RC1/chapters/chapter03.md        @walterkozlowski
/doc/ref_cert/RC1/chapters/chapter04.md        @walterkozlowski
/doc/ref_cert/RC1/chapters/chapter05.md        @walterkozlowski
/doc/ref_cert/RC1/chapters/chapter06.md        @walterkozlowski
/doc/ref_cert/RC1/chapters/chapter07.md        @walterkozlowski
/doc/ref_cert/RC1/chapters/chapter08.md        @walterkozlowski
/doc/ref_cert/RC1/chapters/chapter09.md        @walterkozlowski
/doc/ref_cert/RC1/chapters/chapter10.md        @walterkozlowski
/doc/ref_cert/RC1/chapters/chapter11.md        @walterkozlowski


# Reference Architectures 2
/doc/ref_arch/kubernetes/figures/*                    @rgstori @walterkozlowski
/doc/ref_arch/kubernetes/README.md                    @rgstori @walterkozlowski
/doc/ref_arch/kubernetes/chapters/chapter01.md        @rgstori @walterkozlowski
/doc/ref_arch/kubernetes/chapters/chapter02.md        @rgstori @walterkozlowski
/doc/ref_arch/kubernetes/chapters/chapter03.md        @rgstori @walterkozlowski
/doc/ref_arch/kubernetes/chapters/chapter04.md        @rgstori @walterkozlowski
/doc/ref_arch/kubernetes/chapters/chapter05.md        @rgstori @walterkozlowski
/doc/ref_arch/kubernetes/chapters/chapter06.md        @rgstori @walterkozlowski
/doc/ref_arch/kubernetes/chapters/chapter07.md        @rgstori @walterkozlowski
/doc/ref_arch/kubernetes/chapters/chapter08.md        @rgstori @walterkozlowski


# Reference Implementation 2
/doc/ref_impl/cntt-ri2/chapters/chapter01.md        @rihabbanday @jgu17 @walterkozlowski
/doc/ref_impl/cntt-ri2/chapters/chapter02.md        @rihabbanday @jgu17 @walterkozlowski
/doc/ref_impl/cntt-ri2/chapters/chapter03.md        @rihabbanday @jgu17 @walterkozlowski
/doc/ref_impl/cntt-ri2/chapters/chapter05.md        @rihabbanday @jgu17 @walterkozlowski
/doc/ref_impl/cntt-ri2/chapters/chapter04.md        @rihabbanday @jgu17 @walterkozlowski
/doc/ref_impl/cntt-ri2/chapters/chapter06.md        @rihabbanday @jgu17 @walterkozlowski
/doc/ref_impl/cntt-ri2/chapters/chapter07.md        @rihabbanday @jgu17 @walterkozlowski
/doc/ref_impl/cntt-ri2/chapters/chapter08.md        @rihabbanday @jgu17 @walterkozlowski
/doc/ref_impl/cntt-ri2/chapters/chapter09.md        @rihabbanday @jgu17 @walterkozlowski

# Reference Conformance 2
/doc/ref_cert/RC2/chapters/chapter01.md        @walterkozlowski
/doc/ref_cert/RC2/chapters/chapter02.md        @walterkozlowski
/doc/ref_cert/RC2/chapters/chapter03.md        @walterkozlowski
/doc/ref_cert/RC2/chapters/chapter05.md        @walterkozlowski
/doc/ref_cert/RC2/chapters/chapter04.md        @walterkozlowski
/doc/ref_cert/RC2/chapters/chapter06.md        @walterkozlowski
/doc/ref_cert/RC2/chapters/chapter07.md        @walterkozlowski
/doc/ref_cert/RC2/chapters/chapter08.md        @walterkozlowski
/doc/ref_cert/RC2/chapters/chapter09.md        @walterkozlowski 

# Edge
/doc/tech/usecases.md        @ASawwaf @walterkozlowski

# NFG
/doc/tech/approach.md        @walterkozlowski @scottsteinbrueck
