Repository anuket-project/anuket-specifications, changes with the owners that CODEOWNERS names for each.
All owners: @walterkozlowski, @collivier, @rgstori, @xudan16

[RA1]: Reverting back RA1 changes
  doc/ref_arch/openstack/test-requirements.txt
Owners: @collivier

[GOV]: Reverting the addition of .readthedocs.yaml too
  doc/ref_arch/openstack/.readthedocs.yaml
Owners: @collivier

[RA1]: Fixing the readthedocs build
  doc/ref_arch/openstack/.readthedocs.yaml
  doc/ref_arch/openstack/test-requirements.txt
Owners: @collivier

Fixing Readthedocs builds (#3380)
  .readthedocs.yaml
  doc/ref_arch/kubernetes/.readthedocs.yaml
  doc/ref_arch/kubernetes/test-requirements.txt
  doc/ref_cert/RC2/.readthedocs.yaml
  doc/ref_cert/RC2/test-requirements.txt
  doc/ref_impl/cntt-ri2/.readthedocs.yaml
  doc/ref_impl/cntt-ri2/requirements.txt
  doc/ref_model/.readthedocs.yaml
  doc/ref_model/test-requirements.txt
  test-requirements.txt
Owners: @walterkozlowski, @collivier, @rgstori, @xudan16

[ra2_ch7] Language corrections.
  doc/ref_arch/kubernetes/chapters/chapter07.rst
Owners: @rgstori

[ra2_ch7] Language corrections. (#3391)
  doc/ref_arch/kubernetes/chapters/chapter07.rst
Owners: @rgstori

RM Update abbreviations.rst
  doc/common/abbreviations.rst
Owners: @walterkozlowski, @collivier, @rgstori, @xudan16

RM Update references.rst
  doc/common/references.rst
Owners: @walterkozlowski, @collivier, @rgstori, @xudan16

Update abbreviations.rst
  doc/common/abbreviations.rst
Owners: @walterkozlowski, @collivier, @rgstori, @xudan16

RM minor typos Update chapter02.rst
  doc/ref_model/chapters/chapter02.rst
Owners: @walterkozlowski

RM minor typos corrected Update chapter03.rst
  doc/ref_model/chapters/chapter03.rst
Owners: @walterkozlowski

[common]: Glossary fix broken link
  doc/common/glossary.rst
Owners: @walterkozlowski, @collivier, @rgstori, @xudan16

RM minor typos corrected Update chapter04.rst
  doc/ref_model/chapters/chapter04.rst
Owners: @walterkozlowski

RM minor typos corrected Update chapter06.rst
  doc/ref_model/chapters/chapter06.rst
Owners: @walterkozlowski

RM minor typo corrected Update chapter08.rst
  doc/ref_model/chapters/chapter08.rst
Owners: @walterkozlowski

RM minor typos corrected Update chapter09.rst
  doc/ref_model/chapters/chapter09.rst
Owners: @walterkozlowski

Update chapter02.rst
  doc/ref_model/chapters/chapter02.rst
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter03.rst
  doc/ref_model/chapters/chapter03.rst
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter04.rst
  doc/ref_model/chapters/chapter04.rst
Owners: @walterkozlowski

Update chapter04.rst
  doc/ref_model/chapters/chapter04.rst
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter08.rst
  doc/ref_model/chapters/chapter08.rst
Owners: @walterkozlowski

RM minor typos corrected Update chapter09.rst (#3401)
  doc/ref_model/chapters/chapter09.rst
Owners: @walterkozlowski

[common]: Glossary fix broken link (#3397)
  doc/common/glossary.rst
Owners: @walterkozlowski, @collivier, @rgstori, @xudan16

RM minor typos Update corrected chapter02.rst (#3395)
  doc/ref_model/chapters/chapter02.rst
Owners: @walterkozlowski

RM minor typos corrected Update chapter03.rst (#3396)
  doc/ref_model/chapters/chapter03.rst
Owners: @walterkozlowski

RM minor typos corrected Update chapter04.rst (#3398)
  doc/ref_model/chapters/chapter04.rst
Owners: @walterkozlowski

Update doc/common/references.rst
  doc/common/references.rst
Owners: @walterkozlowski, @collivier, @rgstori, @xudan16

Update doc/ref_model/chapters/chapter08.rst
  doc/ref_model/chapters/chapter08.rst
Owners: @walterkozlowski

Update doc/ref_model/chapters/chapter06.rst
  doc/ref_model/chapters/chapter06.rst
Owners: @walterkozlowski

RM minor typos corrected Update chapter06.rst (#3399)
  doc/ref_model/chapters/chapter06.rst
Owners: @walterkozlowski

Update chapter08.rst
  doc/ref_model/chapters/chapter08.rst
Owners: @walterkozlowski

RM Update abbreviations.rst (#3393)
  doc/common/abbreviations.rst
Owners: @walterkozlowski, @collivier, @rgstori, @xudan16

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

*       @walterkozlowski @collivier @rgstori @xudan16

# Governance
/doc/gov/                            @walterkozlowski

# Reference Model
/doc/ref_model/                      @walterkozlowski

# Reference Architectures 1
/doc/ref_arch/openstack/             @collivier

# Reference Implementation 1
/doc/ref_impl/cntt-ri/               @collivier

# Reference Architectures 2
/doc/ref_arch/kubernetes/            @rgstori

# Reference Implementation 2
/doc/ref_impl/cntt-ri2/              @xudan16

# Reference Conformance 2
# /doc/ref_cert/RC2/                 

# Edge workstream
/doc/tech/usecases.md                @walterkozlowski

# NFG
/doc/tech/                           @walterkozlowski
