Repository anuket-project/anuket-specifications, changes with the owners that CODEOWNERS names for each.
All owners: @rabiabdel, @jbeltranatl, @markshostak, @ASawwaf, @Gaoweitao, @pgoyal1, @karinesevilla, @sukhdevkapur, @tomkivlin, @fuqiao123, @rrajesh70, @collivier, @mf4716

RC1 Ch06 - Initial ToC and Draft (#705)
  doc/ref_cert/lfn/chapters/chapter06.md
Owners: @rabiabdel, @mf4716

Fix typos.
  doc/ref_arch/openstack/chapters/chapter03.md
Owners: @rabiabdel, @pgoyal1

[RA-1 CH04] 4.2.3.3. Load Balancing (#756)
  doc/ref_arch/openstack/chapters/chapter04.md
Owners: @rabiabdel, @pgoyal1

[RA-1 Ch03] 3.2.5 SDN (#757)
  doc/ref_arch/openstack/chapters/chapter03.md
Owners: @rabiabdel, @pgoyal1

[RM Glossary] Cloud User, Tenant, Multi-tenancy (#758)
  doc/ref_model/chapters/glossary.md
Owners: @rabiabdel

removed HTML content
  doc/ref_model/chapters/appendix-a.md
Owners: @rabiabdel, @markshostak

[RA-1 Ch04] 4.2.3.4 Neutron Extensions
  doc/ref_arch/openstack/chapters/chapter04.md
Owners: @rabiabdel, @pgoyal1

[RA-1 Ch04] 4.2.4 Storage Backend
  doc/ref_arch/openstack/chapters/chapter04.md
Owners: @rabiabdel, @pgoyal1

[RA1 Ch06] ToC proposal
  doc/ref_arch/openstack/chapters/chapter06.md
Owners: @rabiabdel, @karinesevilla

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*       @rabiabdel

# Governance
/doc/gov/chapters/chapter01.md       @jbeltranatl
/doc/gov/chapters/chapter02.md       @jbeltranatl
/doc/gov/chapters/chapter03.md       @jbeltranatl
/doc/gov/chapters/chapter04.md       @jbeltranatl
/doc/gov/chapters/chapter05.md       @jbeltranatl
/doc/gov/chapters/chapter06.md       @jbeltranatl

# Reference Model Core WS
/doc/ref_model/chapters/chapter01.md    @rabiabdel @markshostak
/doc/ref_model/chapters/chapter02.md    @rabiabdel @markshostak
/doc/ref_model/chapters/chapter03.md    @rabiabdel @markshostak
/doc/ref_model/chapters/chapter04.md    @rabiabdel @markshostak
/doc/ref_model/chapters/chapter05.md    @rabiabdel @markshostak
/doc/ref_model/chapters/appendix-a.md    @rabiabdel @markshostak

# Reference Model OPS WS
/doc/ref_model/chapters/chapter06.md    @rabiabdel @ASawwaf
/doc/ref_model/chapters/chapter07.md    @rabiabdel @ASawwaf
/doc/ref_model/chapters/chapter09.md    @rabiabdel @ASawwaf

# Reference Model COM WS
/doc/ref_model/chapters/chapter08.md        @rabiabdel @Gaoweitao 
/doc/ref_model/chapters/chapter08-annex.md  @rabiabdel @Gaoweitao 

# Reference Architectures 1 Core
/doc/ref_arch/openstack/chapters/chapter01.md        @rabiabdel @pgoyal1
/doc/ref_arch/openstack/chapters/chapter02.md        @rabiabdel @pgoyal1 
/doc/ref_arch/openstack/chapters/chapter03.md        @rabiabdel @pgoyal1 
/doc/ref_arch/openstack/chapters/chapter04.md        @rabiabdel @pgoyal1 


# Reference Architectures 1 Ops
/doc/ref_arch/openstack/chapters/chapter05.md        @rabiabdel @karinesevilla
/doc/ref_arch/openstack/chapters/chapter06.md        @rabiabdel @karinesevilla 
/doc/ref_arch/openstack/chapters/chapter07.md        @rabiabdel @karinesevilla 

# Reference Architectures 1 Dev
/doc/ref_arch/openstack/chapters/chapter01.md        @rabiabdel @sukhdevkapur

# Reference Architectures 2 Core
/doc/ref_arch/kubernetes/chapters/chapter01.md        @rabiabdel @tomkivlin
/doc/ref_arch/kubernetes/chapters/chapter02.md        @rabiabdel @tomkivlin
/doc/ref_arch/kubernetes/chapters/chapter03.md        @rabiabdel @tomkivlin
/doc/ref_arch/kubernetes/chapters/chapter04.md        @rabiabdel @tomkivlin

# Reference Architectures 2 Ops
/doc/ref_arch/kubernetes/chapters/chapter05.md        @rabiabdel @tomkivlin
/doc/ref_arch/kubernetes/chapters/chapter06.md        @rabiabdel @tomkivlin
/doc/ref_arch/kubernetes/chapters/chapter07.md        @rabiabdel @tomkivlin

# Reference Architectures 2 Dev
/doc/ref_arch/kubernetes/chapters/chapter08.md        @rabiabdel @pgoyal1

# Reference Implementation Core
/doc/ref_impl/cntt-ri/chapters/chapter01.md        @rabiabdel @fuqiao123
/doc/ref_impl/cntt-ri/chapters/chapter02.md        @rabiabdel @fuqiao123
/doc/ref_impl/cntt-ri/chapters/chapter03.md        @rabiabdel @fuqiao123
/doc/ref_impl/cntt-ri/chapters/chapter05.md        @rabiabdel @fuqiao123

# Reference Implementations Labs
/doc/ref_impl/cntt-ri/chapters/chapter04.md        @rabiabdel @rrajesh70
/doc/ref_impl/cntt-ri/chapters/chapter06.md        @rabiabdel @rrajesh70

# Reference Implementations Dev
/doc/ref_impl/cntt-ri/chapters/chapter07.md        @rabiabdel @collivier
/doc/ref_impl/cntt-ri/chapters/chapter08.md        @rabiabdel @collivier

# Reference Certification NFVI
/doc/ref_cert/lfn/chapters/chapter01.md        @rabiabdel @mf4716
/doc/ref_cert/lfn/chapters/chapter02.md        @rabiabdel @mf4716
/doc/ref_cert/lfn/chapters/chapter03.md        @rabiabdel @mf4716
/doc/ref_cert/lfn/chapters/chapter04.md        @rabiabdel @mf4716

# Reference Certification VNF
/doc/ref_cert/lfn/chapters/chapter05.md        @rabiabdel @mf4716
/doc/ref_cert/lfn/chapters/chapter06.md        @rabiabdel @mf4716
/doc/ref_cert/lfn/chapters/chapter07.md        @rabiabdel @mf4716

# Reference Certification Dev
/doc/ref_cert/lfn/chapters/chapter08.md        @rabiabdel @collivier
/doc/ref_cert/lfn/chapters/chapter09.md        @rabiabdel @collivier
/doc/ref_cert/lfn/chapters/chapter10.md        @rabiabdel @collivier
/doc/ref_cert/lfn/chapters/chapter11.md        @rabiabdel @collivier
